  <p class="main-border font-15 main-new-w padding-b-20 padding-r-20">
  <span class="announcement_msg"></span>
    <a class="ft-16 ft-grey1">&nbsp;【宏财网最新公告】： </a>
    <a class="ft-14 ft-grey1" ui-sref="root.us.web-site-notice-detail({textId:latestNotice.id})">{{latestNotice.title}}</a>
    <span class="padding-l-50">{{latestNotice.createTime | date: 'yyyy-MM-dd'}}</span>
    <!-- <a class="more-info-link anno-link ft-14 ft-grey1" ui-sref="root.us.web-site-notice">每天上午10:00点发标&nbsp;&nbsp;全部公告&nbsp;&gt;</a> -->
    <!-- <span class="more-info-link anno-link ft-14 ft-orange">每日上午10:00点发标</span> -->
  </p>
