<div class="container padding-0 main-new-w">
  <div class="row">
    <div class="hidden-xs col-sm-12">
      <div class="block__head ft-16 ft-grey1">战略伙伴</div>
      <div class="cooperation-flow ft-16 margin-l-11">
        <div class="row partner-row">
          <div class="col-xs-2">
            <a class="cursor-pointer" href="http://www.yeepay.com/" target="_blank"><img src='images/index/partner01.png'></a>
          </div>
          <!-- <div class="col-xs-2">
            <a class="cursor-pointer" href="http://www.xrjjk.com/" target="_blank"><img src='images/index/partner02.png'></a>
          </div> -->
          <div class="col-xs-2 fadd">
            <a class="cursor-pointer" href="https://www.fadada.com/" target="_blank"><img src='images/index/partner-fdd.png'></a>
          </div>
          <!-- <div class="col-xs-2">
            <a class="cursor-pointer" href="http://www.unitedbank.cn/" target="_blank"><img src='/images/index/logo_mh.png' class="margin-t-10" width="105%"></a>
          </div> -->
          <div class="col-xs-2">
            <a class="cursor-pointer" href="http://www.sme.gov.cn/" target="_blank"><img src='images/index/partner06.png' class="margin-t--8"></a>
          </div>
        </div>
<!--    <div class="row partner-row">
          <div class="col-xs-2">
            <img src='images/partner/gansu.png'>
            <span>甘肃融资担保</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/changchun.png'>
            <span>长春担保</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/zhongdong.png'>
            <span>中东担保</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/jilian.png'>
            <span>长春吉联担保</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/beifang.png'>
            <span>吉林北方</span>
          </div>
        </div>
        <div class="row partner-row">
          <div class="col-xs-2">
            <img src='images/partner/tianchang.png'>
            <span>天畅律师</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/yibao.png'>
            <span>易宝支付</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/hexing.png'>
            <span>和兴会计所</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/minsheng.png'>
            <span>民生银行</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/jiaotong.png'>
            <span>交通银行</span>
          </div>
        </div>
        <div class="row partner-row">
          <div class="col-xs-2">
            <img src='images/partner/hoolai.png'>
            <span>胡莱游戏</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/tengxun.png'>
            <span>腾讯网</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/hongshan.png'>
            <span>红杉资本</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/rongtu.png'>
            <span>融途网</span>
          </div>
          <div class="col-xs-2">
            <img src='images/partner/chouqu.png'>
            <span>筹趣网</span>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
