<div id="self-feature" class="row full-column main-new-w margin-t-30">
  <div class="hidden-xs col-xs-4" style="padding:0 10px;">
    
      <span class="pull-left fa-color-red font-4em margin-l-50 margin-r-15">
        <img src="/images/index/group01.png">
      </span>
      <div>
        <div class="media-body" style="padding-top:32px;">
          <!-- <h3 class="media-heading ft-20 ftw-b ft-grey8 margin-b-10">国资上市双重背景</h3> -->
          <p class="ft-grey8 ft-14 margin-b-0" style="line-height: 2;">严苛精选小额分散优质项目</p>
          <p class="ft-grey8 ft-14" style="line-height: 2;">主打汽车金融及小微企业贷</p>
        </div>
      </div>
  </div>
   <!-- ui-sref="root.banner-fourty" -->
  <div class="hidden-xs col-xs-4" style="padding:0 10px;">
    <div class="media margin-b-30">
      
      <span class="pull-left fa-color-red font-4em margin-l-30 margin-r-15">
        <img src="/images/index/group02.png">
      </span>
      <div>
        <div class="media-body" style="padding-top:32px;">
          <!-- <h3 class="media-heading ft-20 ftw-b ft-grey8 margin-b-10">小额分散标的</h3> -->
          <p class="ft-grey8 ft-14 margin-b-0" style="line-height: 2;">十多年金融生态圈建设积累</p>
          <p class="ft-grey8 ft-14" style="line-height: 2;">借款企业知根知底信用优良</p>
        </div>
      </div>
    </div>
  </div>
  <!-- href="/newbie-guide.html#page4" -->
  <div class="hidden-xs col-xs-4" style="padding:0 10px;">
    <div class="media margin-b-30">
      
      <span class="pull-left fa-color-red font-4em margin-l-30 margin-r-15">
        <img src="/images/index/group03.png">
      </span>
      <div>
        <div class="media-body" style="padding-top:32px;">
          <!-- <h3 class="media-heading ft-20 ftw-b ft-grey8 margin-b-10">十年风控实战经验</h3> -->
          <p class="ft-grey8 ft-14 margin-b-0" style="line-height: 2;">正式接入银行资金存管系统</p>
          <p class="ft-grey8 ft-14" style="line-height: 2;">国家信息安全等保三级认证</p>
        </div>
      </div>
    </div>
  </div>
</div>
