/*新手活动*/
.novice-activity{
	position:relative;
	.header{
		.top{
			width: 100%;
	    height: 538px;
	    margin: 0 auto;
	    background: url("/images/activity/top4.jpg") no-repeat center center;
		}
		.endTime{
			font-size: 16px;
			color: #fff;
			position: absolute;
			top: 347px;
			left: 44%;
		}
	}
	.title{
		height: 150px;
		.text{
			font-size: 48px;
			color: #fff;
			font-weight: bold;
			line-height: 0;
			position: relative;
  		top: -13px;
		}
	}
	.rules{
		overflow:hidden;
		margin:0 auto;
		width:660px;
		p{
			margin-bottom:0;
			color:#fff;
		}
		.rule-left{
			font-size:18px;
			font-weight:bold;
			height: 100px;
			margin-right: 15px;
		}
		.rule-right{
			font-size:16px;
			line-height:28px;
		}
	}
	.part1,.part2,.part3{
		width: 100%;
		margin: 0 auto;
    text-align: center;
	}
	.part2,.part3{
		.title{
			.img{
				position: relative;
  			top: 70px;
			}
			.text{
				position: relative;
  			top: 58px;
			}
		}
	}
	.part1{
    height: 967px;
		background: url("/images/activity/bg-part1.jpg") no-repeat center center;
		.content{
			ul.row {
				margin:0 auto;
				width:80%;
				.col-3{
					margin-right:165px;
				}
			}
		}
	}
	.part2{
    height: 1112px;
		background: url("/images/activity/bg-part2.jpg") no-repeat center center;
		.top2{
			width: 889px;
	    height: 174px;
			margin: 0 auto;
    	text-align: center;
    	margin-top: 20px;
			background: url("/images/activity/group.png") no-repeat center center;
			.explain{
				font-size:24px;
				color:#ffeb83;
				font-weight:bold;
				padding-top: 12px;
			}
			.example{
				color:#fff;
				font-size:16px;
				text-align: left;
				line-height: 28px;
    		padding: 33px 0 0 73px;
			}
		}
		.rate-example-img {
      overflow:hidden;
      width:975px;
      margin:72px auto 0;
      text-align:center;
      ul{
        li{
          p.rate-example-title{
            height: 60px;
            line-height: 60px;
            margin: 0;
          }
          display: inline-block;
          .red-packets1{
            width: 242px;
            height: 344px;
            margin-right: 5px;
            background: url("/images/activity/red-packets3.png") no-repeat;
          }
          img{
              margin-top: 125px;
          }
        }
        li.width-35{
          width: 351px;
        }
        li.width-30{
          width: 242px;
        }
      }
    }
	}
	.part3{
    height: 1098px;
		background: url("/images/activity/bg-part3.jpg") no-repeat center center;
		.top3{
			font-size:16px;
			color:#ffdc24;
		}
		.title{
			height:130px;
		}
		.newbie{
			width:710px;
			height: 260px;
			margin: 50px auto;
			background: url("/images/activity/newbie.png") no-repeat center center;
			.newbie-header{
				font-size:36px;
				color:#d82344;
				font-weight:bold;
				float: left;
    		margin:19px 15px 19px 30px;
			}
			.newbie-tip{
				display:inline-block;
				width:196px;
				height:27px;
				font-size:16px;
				color:#d82344;
				border:1px solid #d82344;
				margin:34px 0;
				float: left;
				line-height: 26px;
			}
			.newbie-content{
				overflow:hidden;
				li{
					float:left;
					width:45%;
				}
				li:first-child{
					margin: 4px 0 0 40px;
					.top{
						height:70px;
						span{
							display:inline-block;
							font-size:60px;
							color:#cb214e;
							height:70px;
							float:left;
						}
						p{
							padding: 27px 0 0 7px;
    					display: inline-block;
						}
					}
					p{
						margin-bottom:0;
						color:#959394;
						font-size:16px;
					}
					p.bottom{
						margin: 30px 0 30px 5px;
					}
				}
				li:first-child + li{
					float:right;
					margin-top:25px;
					.newbie-progress{
						background-color: #c7bcc8;
						overflow: hidden;
						height: 6px;
						width: 195px;
						border-radius: 3px;
						display: inline-block;
						margin-right: 4px;
						.progress-bar2{
							height: 100%;
							background-color: #cb214f;
							transition: width 0.6s ease;
						}
					}
					.percent{
						display:inline-block;
						position:relative;
						top:2px;
					}
					.newbie-btn{
						margin: 14px 0;
					}
				}
			}
		}
		.height-100{
			.img{
			  position: relative;
    		top: 13px;
    	}
    	.text{
			  position: relative;
    		top: 0px;
    	}
		}
		.send-money-aboutus{
      width: 1030px;
	    margin: 0 auto 20px;
      ul {
        width: 100%;
        li {
          width: 505px;
          height: 165px;
          background: url("/images/activity/bg-about.png") no-repeat center center;
          text-align:left;
          div.col-8 {
            color:#888888;
            margin-top: 30px;
          }
          img{
            margin: 30px 24px;
          }
          p:first-child {
            color: #333333;
            font-size: 18px;
            margin: 15px 0 2px 0;
          }
          span {
            font-size: 16px;
            display: inline-block;
            width: 72%;
          }
        }
        li.mar-r{
          margin-right:20px;
        }
        li.mar-t{
          margin-top:20px;
        }
      }
    }
	}
}

/*市场 新年新手活动*/
.new-novice-activity {
  background-color: #dd270e;
  .part1 {
    .activity-time {
      bottom: 47%;
      right: 40%;
      color: #dd270e;
      font-size:  16px;
    }
  }
  .receive-btn {
    .box-btn {
      width: 33.3%;
      height: 50.8%;
      border-radius: 15px;
      bottom: 7.8%;
      left: 31.3%;
      // opacity: .5;
      // background: #000;
    }
  }
}