<!--邀请返利-->
<div class="right-area invite-rebate fl padding-b-30 bg-offWhite margin-t-30">
  <!-- 数据统计 -->
  <div class="data-statistics row invite-data-h118 padding-t-25">
    <div class="col-md-4 padding-0">
      <p class="ft-36 ft-grey1 ft-Arial margin-b-5 margin-t--2">{{inviteStat.totalNum || 0}}</p>
      <p class="ft-grey666 margin-b-0">邀请人数</p>
    </div>
    <div class="col-md-4 padding-0">
      <p class="ft-36 ft-grey1 ft-Arial margin-b-5 margin-t--2">{{inviteStat.realNameAuthNum || 0}}</p>
      <p class="ft-grey666 margin-b-0">实名人数</p>
    </div>
    <div class="col-md-4 padding-0 border-0">
      <p class="ft-36 ft-grey1 ft-Arial margin-b-5 margin-t--2">{{inviteStat.investNum || 0}}</p>
      <p class="ft-grey666 margin-b-0">出借人数</p>
    </div>
  </div>

  <!-- 邀请码、二维码、链接 -->
  <div class="my-channel row margin-t-30">
    <!-- <div class="col-md-4">
      <div class="invite-code-img ft-26">{{ voucher.inviteCode || '无' }}</div>
      <p class="ft-grey666 margin-t-10">邀请码</p>
    </div> -->
    <div class="col-md-6">
      <div class="invite-qrcode-img cursor-pt" data-toggle="modal" data-target="#myModal" ng-click="qrmodalFlag = true;weimodalFlag = false;modalFlag =false"></div>
      <p class="ft-grey666 margin-t-10">我的二维码</p>
    </div>
    <div class="col-md-6">
      <div class="invite-copy-img cursor-pt" data-toggle="modal" data-target="#myModal" ng-click="modalFlag = true;qrmodalFlag = false;weimodalFlag =false"></div>
      <p class="ft-grey666 margin-t-10">复制链接</p>
    </div>
  </div>

  <!-- 我的邀请table -->
  <div class="margin-t-30">
    <table class="table-solid invite-table">
      <thead>
        <tr>
          <th class="text-left first-w">邀请用户</th>
          <th>注册时间</th>
          <th colspan="2" class="last-padding">状态</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in inviteList ">
          <td class="text-left">{{item.user.mobile || item.user.name}}</td>
          <td>{{item.user.createTime | date:'yyyy-MM-dd'}}</td>
          <td class="text-right padding-r-10"><span ng-class="item.authStatus === 2 ? 'ft-blue5' : 'ft-orange6'">{{item.authStatus === 2 ? '已认证' : '未认证'}}</span></td>
          <td class="text-right padding-l-0"><span ng-class="item.investAmount > 0 ? 'ft-blue5' : 'ft-orange6'">{{item.investAmount > 0 ? "已出借" : "未出借"}}</span></td>
        </tr>
        <tr ng-show="inviteList.length <= 0">
          <td colspan="4">
            <div>
              <p class="ft-18 ft-grey666 margin-t-20">暂无邀请记录，快去邀请好友吧！</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pager margin-t-0 padding-30 ft-14 ft-white4" ng-if="inviteList.length > 0">
      <li class="display-inbl">
        <button class="btn btn-orange6 {{currentPage == 1 ? 'btn-disabled6' : ''}}" ng-disabled="currentPage == 1" ng-click="invitList(currentPage - 1)">上一页</button>
      </li>
      <div class="display-inbl current-page">&nbsp;&nbsp;{{currentPage}}&nbsp;&nbsp;</div><div class="dot">...</div>
      <div class="display-inbl total-page">&nbsp;&nbsp;{{ numberOfPages() }}&nbsp;&nbsp;</div>
      <li class="display-inbl">
        <button class="btn btn-orange6 {{currentPage >= numberOfPages() ? 'btn-disabled6' : ''}}" ng-disabled="currentPage >= numberOfPages()" ng-click="invitList(currentPage + 1)">下一页</button>
      </li>
    </ul>
  </div>
</div>

<!-- 点击复制链接弹出模态框 -->
<div class="modal fade modal-top dis-none" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close"
             data-dismiss="modal" aria-hidden="true">
                &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            <span ng-show="weimodalFlag">扫一扫微信邀请</span>
            <span ng-show="modalFlag">复制链接</span>
            <span ng-show="qrmodalFlag">我的专属归属二维码</span>
          </h4>
       </div>
       <div class="modal-body" ng-show="modalFlag">
          <div class="modal-connect">
            <p class="ft-14" >http://www.hongcai.com/register?inviteCode={{voucher.inviteCode}}</p>
            <p class="ft-14">复制以上链接邀请好友，更多奖励等你哟!!</p>
          </div>
          <button class="button orange-button copy-btn" ng-click="copyInviteUrl()">复制链接</button>
       </div>
       <div class="modal-body margin-t-30 margin-b-50" ng-show="weimodalFlag">
          <div class="col-md-7 padding-l-90"><img ng-src="{{wechatQrCode}}" alt=""></div>
          <div class="col-md-5 text-left ft-14 ft-grey">
            <p class="margin-t-20">扫一扫微信分享</p>
            <p>客服热线</p>
            <p>400-990-7626</p>
          </div>
       </div>
       <div class="modal-body margin-t-30 margin-b-50" ng-show="qrmodalFlag">
          <div id="qrcode" class="col-md-6 padding-l-90">
          </div>
          <div class="col-md-5 text-left ft-14 ft-grey">
            <p class="margin-t-20">分享您的专属二维码给好友</p>
            <p>好友通过该二维码注册后，</p>
            <p>即成为您的邀请用户</p>
          </div>
       </div>
    </div>
  </div>
</div>

