<!--user-center-sidebar-->
<div class="left-area ft-14" ng-show="selectSide !=='questionnaire' ">
  <div class="overview">
    <div class="user-portrait" id="crop-avatar">
      <div class="portrait {{loginUser.portraitUrl?'margin-b-20':''}}" ng-click="alertAvater();">
        <img id="face_image" class="cursor-pointer avater-own" src="images/user-center/portrait.png" width="80" height="80" title="更换头像" ng-if="loginUser.portraitUrl==null">
        <img id="face_image" class="cursor-pointer avater-own" ng-src="{{baseFileUrl + loginUser.portraitUrl}}" width="80" height="80" title="更换头像" ng-if="loginUser.portraitUrl !==null">
      </div>
      <p class="user-name ft-grey666 ft-18 text-center">{{ loginUser.nickName || (loginUser.mobile || loginName) }}</p>
      <p class="security-level ft-12 text-center" ng-if="securityStatus.trusteeshipAccountStatus + securityStatus.mobileStatus == 1">{{$parent.headerUrl}}安全等级：低<a href="#" ui-sref="root.userCenter.security-settings">(如何提升)</a></p>
      <p class="security-level ft-12 text-center" ng-if="securityStatus.trusteeshipAccountStatus + securityStatus.mobileStatus == 2">{{$parent.headerUrl}}安全等级：高</a></p>
    </div>
    <div class="flow-icons" ng-mouseleave="showTip1=false;showTip2=false;showTip3=false;showTip4=false;">
      <div class="icons flex-container position-re">
        <div class="sidebar-tip" ng-show="mobile !== undefined && showTip1==true" ng-mouseleave="showTip1=false">您已完成手机绑定：{{mobile}}&nbsp;&nbsp;<span class="cursor-pointer ft-blue" ng-click="resetMobile();">修改</span></div>
        <div class="position-re icon icon1" ng-mouseenter="showTip1 = true;showTip2 = false;showTip3 = false;showTip4 = false;" ng-init="showTip1=false">
          <i class="fa fa-check-circle ft-green position-ab" aria-hidden="true" ng-show="mobile !== undefined"></i>
        </div>
        <div class="sidebar-tip sidebar-tip2" ng-show="!haveTrusteeshipAccount && showTip2==true" ng-mouseleave="showTip2=false">您尚未开通资金存管系统&nbsp;&nbsp;<span class="cursor-pointer ft-blue" ng-click="openTrusteeshipAccount();">开通</span></div>
        <div class="sidebar-tip sidebar-tip2" ng-show="haveTrusteeshipAccount && showTip2==true" ng-mouseleave="showTip2=false">您已开通资金存管系统</div>
        <div class="position-re icon icon2" ng-mouseenter="showTip2 = true;showTip1 = false;showTip3 = false;showTip4 = false;">
          <i class="fa fa-check-circle ft-green position-ab i2" aria-hidden="true" ng-show="haveTrusteeshipAccount"></i>
        </div>
        <div class="sidebar-tip sidebar-tip3" ng-show="haveTrusteeshipAccount && showTip3==true" ng-mouseleave="showTip3=false">您已设置交易密码&nbsp;&nbsp;<span class="cursor-pointer ft-blue" ng-click="resetPayPwd();">修改</span></div>
        <div class="position-re icon icon3" ng-mouseenter="showTip3 = true;showTip2 = false;showTip1 = false;showTip4 = false;">
          <i class="fa fa-check-circle ft-green position-ab i3" aria-hidden="true" ng-show="haveTrusteeshipAccount"></i>
        </div>
        <div class="sidebar-tip sidebar-tip4" ng-show="!haveCard && !isVerifying && !unbinding && showTip4==true" ng-mouseleave="showTip4=false">您尚未邦定银行卡&nbsp;&nbsp;<span class="cursor-pointer ft-blue" ng-click="bindBankCard();">绑定</span></div>
        <div class="sidebar-tip sidebar-tip4" ng-show="haveCard && !isVerifying && !unbinding && showTip4==true" ng-mouseleave="showTip4=false">您已绑定银行卡&nbsp;&nbsp;<span class="cursor-pointer ft-blue" ui-sref="root.userCenter.bankcard-management">查看</span></div>
        <div class="position-re icon icon4" ng-mouseenter="showTip4 = true;showTip2 = false;showTip3 = false;showTip1 = false;">
          <i class="fa fa-check-circle ft-green position-ab i4" aria-hidden="true" ng-show="isAuth && haveCard && !isVerifying && !unbinding"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-items">
    <div class="nav-items">
      <ul class="padding-t-15 padding-b-15">
        <li class="side-tab ft-16 ft-grey666"><span class="icon5"></span>账户信息</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'account-overview' ? 'now' : ''}}" ui-sref="root.userCenter.account-overview">账户总览</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'security-settings' ? 'now' : ''}}" ui-sref="root.userCenter.security-settings">账户设置</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'bankcard-management' ? 'now' : ''}}" ui-sref="root.userCenter.bankcard-management">银行卡管理</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'message' ? 'now' : ''}}" ui-sref="root.userCenter.message({status:'0,1'})">站内信（{{unreadCount || 0}}）</li>
        <li class="side-tab ft-16 ft-grey666"><span class="icon6"></span>资金信息</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'record' ? 'now' : ''}}" ui-sref="root.userCenter.record">资金流水</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'recharge' ? 'now' : ''}}" ui-sref="root.userCenter.recharge">充值</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'withdraw' ? 'now' : ''}}" ui-sref="root.userCenter.withdraw">提现</li>
        <li class="side-tab ft-16 ft-grey666"><span class="icon7"></span>出借信息</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'credit' || selectPage_two == 'credit'? 'now' : ''}}" ui-sref="root.userCenter.credit">我的出借</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'assignments'  || selectPage_two == 'assignments'? 'now' : ''}}" ui-sref="root.userCenter.assignments">债权转让</li>
        <!-- <li class="ft-16 ft-grey666">自动投标</li> -->
        <li class="side-tab ft-16 ft-grey666"><span class="icon8"></span>奖励信息</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'cash-coupon' ? 'now' : ''}}" ui-sref="root.userCenter.cash-coupon">现金券</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'rate-coupon' ? 'now' : ''}}" ui-sref="root.userCenter.rate-coupon">加息券</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'experience-money' ? 'now' : ''}}" ui-sref="root.userCenter.experienceMoney">特权本金</li>
        <li class="ft-16 ft-grey666 {{selectSide == 'invite-rebate' ? 'now' : ''}}" ui-sref="root.userCenter.invite-rebate">邀请好友</li>
      </ul>
    </div>
  </div>
</div>

