<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row" >
    <div style="margin-left:25px; margin-top:20px; margin-bottom:20px;"><h4>北京和兴会计师事务所</h4></div>
  </div>
  <div class="row">
    <p><strong class="magn">简介：</strong></p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      北京和兴会计师事务所目前拥有会计、税务、工程、管理等具备各行各业经验的专业人士，由注册会计师、注册资产评估师、注册税务师、造价师、工程师、律师等专业人员组成，具有 丰富的专业知识和经验。专业技术人员中除具有上述注册资格外，还具有高级会计师、高级经济师、高级工程师、教授、会计师、工程师等职称资格，并聘用各类专家，形成以专家为龙头的社会人才网络，具有深厚的财务税收政策水平和丰富的审计经验。</p>
  </div>
  <div class="row">
    <p><strong class="magn">荣誉：</strong></p>
    <div class="introduction-area col-md-12 col-lg-12">
    <p class="aboutUs-introduction-area">为企业提供优质、专业的全方位中介服务是我们的口号，独立、客观、公正执业是我们的责任，与企业共同发展是我们的理念。
  “和兴”团队通过多年的不懈努力，圆满完成各项审计工作，得到了各界的广泛肯定。也获得了众多业内审计资质，主要有：</p>
    <ul>
      <li>连续三年被北京市注册会计师协会评为业务档案管理规范单位；</li>
      <li>连续六年担任北京市政策性农业保险专项审计主审会计师事务所；</li>
      <li>连续六年入围北京市人力资源与社会保障局社会保险缴费专项审计会计师事务所；</li>
      <li>连续五年入围科技部科技经费专项审计会计师事务所；</li>
      <li>连续五年入围中国银行监督管理委员会北京监管局项目会计师事务所；</li>
      <li>连续六年入围财政部民口科技重大专项财务验收审计会计师事务所；</li>
      <li>入围北京市市级行政事业单位2014年度会计、审计及资产评估定点服务政府采购项目事务所；</li>
      <li>入围北京典当行业协会典当企业财务审计工作会计师事务所；</li>
      <li>入围北京市昌平区审计局2011-2013年工程造价机构备选库项目会计师事务所；</li>
      <li>入围北京市昌平区商务委员会商务委“2013年早餐工程”专项资金验收审计项目会计师事务所；</li>
      <li>北京市门头沟区2014年度政府采购法律定点服务，会计、审计及资产评估定点服务入围事务所；</li>
      <li>北京市平谷区区级行政事业单位2014-2015年会计、审计定点服务入围事务所；</li>
      <li>连续五年成为中关村信用促进会会员单位；</li>
      <li>首批高新技术企业认定审计中介机构；</li>
      <li>中关村多媒体创业产业园指定审计中介机构；</li>
      <li>北京市国家税务局海淀分局指定培训所管企业会计师事务所之一；</li>
      <li>北京市国资委出资企业2014-2016年度决算审计咨询中介机构评选入围事务所之一；</li>
      <li>中国科学院战略先导科技专项等财政专项财务审计服务会计师事务所资格入围事务所之一。</li>
    </ul>
    <p class="aboutUs-introduction-area">
    “ 和兴”经过多年的发展，事务所不单有一批专业人才，也在许多行业积累出了有代表性的客户，以及解决各种问题的专业经验，事务所服务的客户已涉及如下行业：
    IT业、包装印刷业、餐饮娱乐业、代表处、房地产业、高新技术企业、工业企业、公用事业、股份公司、广播电影电视业、广告业、航空业、集团公司、建筑业、交通运输业、教育业、金融保险业、酒店业、旅游业、律师业、民政企业、农林牧副渔业、拍卖业、商业企业、社会服务业、社会团体、 事业单位、投资公司、外资企业、文化艺术体育业、物业管理公司、新闻出版业、医疗卫生制药企业、邮电通讯业、证券期货业、科研机构、中介机构。
    </p>
  </div>
  <div class="list-l col-md-10 col-lg-10 col-md-offset-1 text-center">
    <img src="images/strategicPartner/hexing_file.png" width="50%">
  </div>

</div>
