<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row" >
    <div style="margin-left:25px; margin-top:20px; margin-bottom:20px;"><h4>吉林北方汽车产业担保有限公司</h4></div>
  </div>
  <div class="row">
    <p><strong class="magn">担保简介：</strong></p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      吉林北方汽车产业担保有限公司经省、市中小企业局批准于2008年11月正式成立，是长春汽车产业开发区的融资平台。 经营范围是为中小企业提供贷款担保以及融资服务咨询。总经理李启祥曾任一汽集团公司副总经理兼总经济师。北方担保公司将业务定位于汽车产业链，为给 一汽及其下属单位配套的中小企业解决资金不足，融资难的问题。 北方担保与交通银行、吉林银行、民生银行、招商银行、信合等多家金融机构建立了合作关系。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      作为汽车产业开发区融资的平台，北方担保公司的发展目标是把金融资本与产业资本有机结合，为一汽产业链中的上、下游的中小企业解决流动资金不足、融资困难的问题，实现汽车区内汽车产业链快速、健康发展，将长春汽车产业园区打造成为中国最大的汽车产业园区。本公司立足于汽开区，面向长春市、吉林省乃至全国，通过四大业务平台为汽车整车厂或汽车零部件总成厂配套的上、下游企业提供金融服务，拓宽企业融资渠道，建立银企间便捷的联系通道，促进企业健康发展。通过担保公司的服务，将有效解决企业的资金瓶颈问题，对于加快汽车产业的发展具有重要意义。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
     北方汽车产业担保有限公司将业务定位于汽车产、供、销的产业链，建立应收账款质押担保业务平台。该产业链经过十几年甚至几十年的经营，已经具备相当大的规模，涉及的企业3000—4000家，既有国家振兴汽车产业的政策支持，又有各级地方政府部门的大力扶持，同时还有主供配套企业产业资本作为基础，银行业金融资本作为后盾，应收账款质押贷款业务风险很小。应收账款质押担保贷款的特点是为汽车整车厂或汽车零部件总成厂配套的上、下游企业，可用汽车整车厂或汽车零部件总成厂欠的应收账款（包括现有的或以后发生的）质押给担保公司，然后通过我公司担保并负责找银行，完成银行向企业贷款。应收账款质押办理手续简单，原有债权关系没变，不发生任何费用。这样把应收账款盘活解决配套企业资金困难及融资困难的问题。同时对整车厂或总成厂只负责锁定应付账款金额，这可缓解整车厂或总成厂的资金压力。配套企业若应收账款金额小还可以补充不动产（住房、土地、厂房、车辆、机器设备等）抵押。这样融资时对配套企业、整车厂或总成厂、银行以及担保公司是四方共赢的业务品种。 　北方担保有限公司拥有一支高素质的员工团队，既有汽车行业里的资深经济专家，又有深谙汽车零部件行业的专业人士，还有拥有多年银行和担保行业工作经验的行家里手，公司员工全部具有本科以上学历。我公司已与多家银行建立战略合作关系，融资资金有保证，服务快捷，贷款发放及时。我们承诺将以高品质、高效率作为我们的服务理念，竭诚为广大客户提供优质的服务。</p>
    </p>
  </div>
</div>
