<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row" >
    <div style="margin-left:25px; margin-top:20px; margin-bottom:20px;"><h4>甘肃省融资担保集团有限公司</h4></div>
  </div>
  <div class="row">
    <p><strong class="magn">担保简介：</strong></p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">甘肃省融资担保集团有限公司（以下简称“集团公司”）是甘肃省工业和信息化委员会批准成立的国有独资企业，是由甘肃省公路航空旅游投资集团公司独家发起设立的（国有）法人机构，是甘肃省内规模最大的信用担保公司。
      主要经营贷款担保、票据承兑担保、贸易融资担保、项目融资担保、信用证担保、诉讼保全担保、履约担保及其他融资性担保业务；以自有资金进行投资，经营与担保业务有关的融资咨询、财务顾问等中介服务。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">集团公司恪守 “ 诚信、稳健、创新、高效 ”的经营理念， “ 专业、合作、务实、卓越 ”的企业精神。与国家开发银行、建设银行、中国银行、进出口银行、浦发银行、招商银行、兴业银行等1８家金融机构开展业务合作，获得授信总额超过180亿元，担保杠杆倍数均在10倍以上。截至 2013年末，累计为地方中小微企业提供担保48亿元，发放小额贷款13亿元，支持企业达500余户，获得2012年度“省长金融奖”。被多家银行评为AA+级信用企业。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">成立以来，集团公司紧紧围绕甘肃省公路航空旅游投资集团公司战略部署，以支持中小微企业发展为宗旨，以重点培育符合国家产业政策，有信誉、有市场、有效益的税源型、成长型、就业型等产业化龙头企业为重点，积极打造中小微企业综合性融资服务平台，通过担保、贷款、投资和各种配套服务手段，培育了一批具有自主创新能力、自主知识产权和核心竞争力的优质中小微企业，成为政府资金的“放大器”、银行信贷风险的“减压器”、中小微企业的“孵化器”和区域经济发展的“助推器”，有力推动了全省经济社会转型跨越发展。</p>
</div>
  <div class="row">
    <p><strong class="magn">担保优势：</strong></p>
    <div class="introduction-area col-md-12 col-lg-12">
      <ul>
        <dl>
          <dt>股东背景优势</dt>
          <dd>省公航旅集团公司是甘肃省资产规模最大的国有独资公司 ，注册资金200亿，今年1至10月份，集团公司完成融资400亿元，省公航旅集团成立以来融资总额突破1200亿元，资本实力雄厚。</dd>
        </dl>

        <dl>
          <dt>资本规模优势</p></dt>
          <dd>公司是甘肃省境内担保规模最大的融资担保机构，单笔担保额度最高可达7000万元。</dd>
        </dl>

        <dl>
          <dt>银企合作优势</dt>
          <dd>目前已与国家开发银行、建设银行、中国银行、邮政储蓄银行、进出口银行、浦发银行、招商银行、兴业银行等18家省级分行签订了担保合作协议，担保放大倍数均在10倍以上。</dd>
        </dl>

        <dl>
          <dt>
            网络区域优势
          </dt>
          <dd>
            为方便客户，提升服务，相继在金昌、庆阳、天水、酒泉等地设立了子（分）公司，业务覆盖全省范围。
          </dd>
        </dl>

        <dl>
          <dt>
            融资费用优势
          </dt>
          <dd>
            担保费率2-3%，低于全省平均水平，不收取任何客户保证金及其他费用（如评估费和咨询费），综合融资成本全省最低。
          </dd>
        </dl>

        <dl>
          <dt>
            配套业务优势
          </dt>
          <dd>
            <p>配套全省利率最低、规模最大的小额贷款公司，多层次满足客户长中短期资金需求。
          </dd>
        </dl>
      </ul>
    </div>
  </div>
  <p class="list-l col-md-10 col-lg-10 col-md-offset-1">
    <img src="/images/strategicPartner/gansusheng_cgc.png" width="100%">
  </p>
</div>
