<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row" >
    <div style="margin-left:25px; margin-top:20px; margin-bottom:20px;"><h4>北京市天畅律师事务所</h4></div>
  </div>
  <div class="row">
    <p><strong class="magn">简介：</strong></p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      北京市天畅律师事务所是由李健领衔创办 ，并经北京市司法局批准依法设立，由民商法领域资深律师组建的专业化、合伙制律师事务所，先后荣获了“ 全国律师服务公众满意最佳典范品牌 ”、“ 全国质量 服务 信誉AAAAA级诚信示范单位 ”、“ 中国中小企业法律服务客户满意最佳典范品牌 ”、“ 服务中小企业全国十佳优秀律师事务所 ”等荣誉称号。位于北京宣武门商圈的5A级写字楼——庄胜广场。天畅秉承“诚信、专业、高效、团队”的工作作风，恪守国际公认的律师执业准则，采用严格有效的管理方法，将天畅的每一位律师的经验和资源整合为天畅的整体财富和优势，从而最有效的服务于客户，在最大程度上保护和实现客户的合法权益。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      天畅的律师均毕业于中国政法大学、北京大学法学院、清华大学法学院、中国人民大学法学院、西南政法大学等知名院校，其中大多数拥有法学硕士以上学位，部分律师还具有在美国、法国等国家留学经历，并且均为执业多年的资深律师，具有较高的专业素质和执业水准。天畅律师以公司法、合同法、外资法、劳动保障法、诉讼与仲裁等专业方向见长，有些律师还是相关业务领域的知名学者或专家，享有大量的学术研究成果，参加了国家的民商事立法工作，兼任了有关专业领域的职务，其学术成果和律师执业经验在国内外多家权威媒体均有专题报道，具有一定的社会影响。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
     天畅曾为包括世界500强的中石油、国家电网公司、中粮集团、日本新石油等企业以及海尔集团、海信集团、三联商社、山东兖矿、一汽丰田等国内外大中型企业提供了一流的法律服务，是中国律师业中最优秀的专门从事商事法律服务的律师事务所之一 。在外商直接投资、外资并购、基础设施建设、矿产法务、建筑、房地产、知识产权、企业日常法律顾问、国际商事仲裁和诉讼、劳动人事仲裁和诉讼、股权纠纷、并购重组、改制上市、破产清算、合同纠纷等法律服务领域，均处于同行业领先地位。</p>
    </p>
  </div>
  <div class="list-l col-md-10 col-lg-10 col-md-offset-1 text-center">
    <img src="/images/strategicPartner/tianchang.png" width="50%">
  </div>
</div>
