<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row" >
    <div style="margin-left:25px; margin-top:20px; margin-bottom:20px;"><h4>易宝（YeePay.com）</h4></div>
  </div>
  <div class="row">
    <p><strong class="magn">简介：</strong></p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      易宝于2003年8月成立，总部位于北京，现有上千名员工，在北京、上海、天津、广东、四川、浙江、山东、江苏、福建等20余个省市设有分公司。自公司成立以来，易宝秉承诚信、尽责、合作、创新、分享的核心价值观，以交易服务改变生活为使命，致力成为世界一流的交易服务平台。2013年，适值公司成立十周年之际，易宝发布了“支付+金融+营销”的升级战略，领跑电子支付和互联网金融。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      易宝作为互联网金融专家，2005年便首创了行业支付模式，陆续推出了网上在线支付、非银行卡支付、信用卡无卡支付、POS支付、基金易购通、一键支付等创新产品，先后为数字娱乐、航空旅游、电信移动、行政教育、保险、基金、快消连锁、电商物流等众多行业提供了量身定制的行业解决方案，为产业转型及行业变革做出了积极贡献。 易宝在航空旅游、数字娱乐、行政教育等多个领域保持领先地位。2011年5月，易宝获得首批央行颁发的支付牌照。2012年3月，易宝获得证监会颁发的基金销售支付结算许可证。2013年10月，易宝支付获得国家外汇管理局批准的跨境支付业务许可证。
    </p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
   成立10年来，易宝服务的商家超过100万，其中包括百度、京东、新浪、中国移动、中国电信、联想、搜狐、中国国际航空公司、中国南方航空公司、中国东方航空公司、中国人民保险公司、嘉实基金等知名企业和机构，并长期与中国工商银行、中国农业银行、中国银行、中国建设银行、中国银联、Visa、MasterCard 等近百家金融机构达成战略合作关系，交易规模达万亿，收入达20亿元。因此，易宝也在业界树立了良好的口碑，先后获得包括网民最信赖的支付品牌最佳电子支付平台、中国互联网100强、互联网公益创新奖、最具投资价值企业等奖项，得到政府和社会各界的一致认可。
  </p>
  <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
   为发挥电子支付的社会价值，积极实践企业的社会责任，易宝开创了网络公益新模式，倡导“ 人人可慈善 ”的理念。2008年易宝公益圈（ gongyi.yeepay.com ）成立以来，已经联合红十字会、扶贫基金会、壹基金等50多家公益慈善机构，在汶川地震、舟曲泥石流、救助白血病儿童等捐款活动中发挥重要作用。2013年12月，易宝公益圈手机捐款平台（ juan.yeepay.com ）上线，免费午餐、上学路上公益等项目第一批入驻。同月，易宝支付和中国文学艺术基金会启动了朝霞工程专项基金。
  “聚焦关键行业”是易宝长期坚持的核心战略，面对移动互联网和互联网金融大潮，易宝确立了“支付+金融+营销”升级战略，我们将继续为商家及消费者提供更有价值的产品和服务，共创美好未来。
  </p>
  <p class="list-l col-md-10 col-lg-10 col-md-offset-1">
    <img src="images/strategicPartner/yeepay_file.png" width="100%">
  </div>
</div>
