<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row" >
    <div style="margin-left:25px; margin-top:20px; margin-bottom:20px;"><h4>吉林省中东信用担保有限责任公司</h4></div>
  </div>
  <div class="row">
    <p><strong class="magn">担保简介：</strong></p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">吉林省中东信用担保有限责任公司成立于2001 年4月，注册资本4亿元人民币。是一家经省政府批准成立的国有参股的专业性融资担保机构。现拥有一家子公司和十一家营业部，分布于 长春、吉林、通化、松原地区，业务辐射吉林省全境。涵盖房地产抵押、仓储物资质押、权利质押、按揭再担保和无抵押微贷等十余个担保业务品种。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
    经过十四年的发展和壮大，中东担保公司现已成为吉林省省担保行业中的明星企业，在吉林省担保行业中位列第三位，拥有良好的口碑和社会知名度。先后被省、市政府评为“ 星级文明服务标兵单位 ”、“ 资信AAA级先进单位 ”等荣誉称号，2005年、2006年、2007年连续三次被评为“ 长春市先进担保公司 ”；2009、2010年连续两年被评为促进“ 商贸流通优秀企业 ”；2011年，荣膺中国担保先锋·中国担保英才“ 最佳风险控制奖 ”、中共长春市委、长春市人民政府“ 支持中小企业融资贡献奖 ” 、2012年，省担保行业“业绩突出贡献单位”、 2013年“ 中国担保辉煌先锋 ”等荣誉称号。 </p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      中东担保公司依托“园区化”和“专业化”的经营特色，以周期短、程序简、速度快等特点，为长春市顺风大市场、中东大市场、中东瑞家等市场商户提供担保贷款，加大对特色工业园区及区内企业的信贷支持力度，在各市场商户中享有很高声誉。同时，中东担保公司一直擅于在商贸流通领域的“专业化”经营，在批发零售业、餐饮业、仓储业资金运作上给予大力支持，在一定程度上解决了吉林省个体创业者贷款担保难的问题，赢得了个人和企业客户的极高评价。 </p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      中东担保公司在稳定市场客户资源，强化和完善产业链优势的同时，进一步完善和优化跨区域管理。正朝着发展成为区域化、规范化、集团化的经营目标稳步前进。我们有理由相信，中东担保公司在未来的商海浪潮中，定能挺拔耸立在行业的巅峰 。 </p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      母公司中东集团有限公司创办于1984年，经过二十多年的开拓进取、创新经营，现形成以商业地产开发和商业物业为主营的业务结构，企业资产总额超过70亿元，商业物业面积150多万平方米，所辖商业物业销售额90多亿元，拥有商户近3万户，安置就业8万余人。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      中东集团现拥有吉林省中东龙兴商贸园有限公司、吉林市中东新生活购物乐园有限公司、通化市中东新天地购物公园有限公司、松原市中东新天地购物公园有限公司、吉林省中东集团有限公司大市场分公司、长春中东天宝股份有限公司、长春中东房地产开发有限公司、吉林省中东信用担保有限责任公司、吉林省中东典当有限责任公司、吉林省中东医药有限公司、吉林省中东福万家超市有限公司、吉林省华孚酒店管理有限公司、吉林省中联物业管理有限公司共13家子公司。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
      多年来，中东集团一直秉承“ 创造财富、回报社会 ”的企业宗旨，为振兴吉林省的地方经济做出了突出贡献，得到了社会各界的高度评价。连续5年被评为“ 吉林省纳税状元 ”，先后荣获“ 中国商业名牌企业 ”、“ 吉林省商贸销售优秀企业 ”、“ 长春市诚信民营企业 ”等称号。公司董事长卢丽女士为现任长春市人大代表，曾荣获“ 吉林省诚信建设先进个人 ”、“ 吉林省慈善事业先进个人 ”、长春市“ 义务教育特等功臣 ”、长春市“ 三八红旗手 ”、吉林省“ 优秀女企业家 ”、长春市“ 十大杰出女性 ”、吉林省“ 十大消费维权人物 ”等荣誉称号。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
     中东集团多年来一直积极参与社会公益活动,大力支持我省的慈善事业。截至目前，总计捐款、捐物达2,000多万元人民币。并于2008年注册成立了吉林省第一家非公募慈善基金会“中东爱心基金会”，中东爱心基金主要用于贫困家庭先天性心脏病患儿的救治，到目前为止，已救治先天性心脏病患儿40多人。中东集团曾荣获长春市慈善事业突出贡献奖和中华慈善总会颁发的“中华慈善事业突出贡献奖”等殊荣。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">
     中东集团将“为大众创造新的生活方式”作为企业使命，描绘了“做国际一流企业，成就百年中东，员工与企业共同发展，富有而令人尊重”的企业愿景，将做中国商业物业开发、运营的领先者为目标。在长春北部，又一座中东新生活城市广场正在紧锣密鼓…… </p>
     <div class="list-l col-md-10 col-lg-10 col-md-offset-1 text-center">
        <img src="/images/strategicPartner/zhongdong.png" width="50%">
    </div>
   

  </div>
</div>
