<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog1">
    <div class="modal-bg">
      <div class="modal-body">
        <div class="connect" style="width:550px !important;">
          <div class="text text-center margin--7">
            <p class="margin-b-0">宏财网正在接入海口联合农商银行资金存管系统</p>
            <p>暂停充值、投资、提现、认证、解绑卡等服务，敬请知悉</p>
            <p>2017年6月29日上午11:00前，所有服务将恢复正常，感谢您的信任与支持！</p>
          </div>
          <div class="btns clearfix text-center margin-t-10">
            <button class="btn2 margin-auto margin--7" ng-click="$hide()">我知道了</button>
          </div>
        </div>
      </div>
    </div>
    <img src="/images/user-center/close.png" class="display-bl margin-47 margin-t-50 cursor-pointer" ng-click="$hide()"> 
  </div>
</div>

