<div id="enlarge" class="modal ng-scope top am-fade-and-slide-top investment-plan-agreement" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" style="width: 1200px;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="$hide()">×</button>
      </div>
      <div class="modal-body">
        <div class="container bg">
          <div class="agreement-area row">
            <div class="col-md-12 col-lg-12">
              <p class="text-title">预约项目活动规则</p>
              <br>
              <div class="row">
                <p><strong class="agree-mg">一、预约项目介绍</strong>
                </p>
                <p class="agree-tx">1.1 预约项目是宏财网推出的个性化自动投标工具，在投资人认可的范围内，对宏财网预发标项目进行一对一预约。</p>
                <p class="agree-tx">1.2 宏财网预发标期间，投资人可根据对平台及项目的自行判断选择提前支付部分款项（不低于预约金额10%的资金且不低于100元人民币）预约投资该项目 ，在预订截止时间前完成全额支付即可自动完成投资该项目。</p>
                <br>
                <p><strong class="agree-mg">二、投资对象</strong>
                </p>
                <p class="agree-tx">预约项目真实，且与最后实际发布的项目一一对应</p>
                <br>
                <p><strong class="agree-mg">三、预约原理</strong>
                </p>
                <div class="col-md-12">
                  <div class="col-md-12">
                    <table border="1" class="table-rule">
                      <tr>
                        <td colspan="6" rowspan="1" align="center">预发布期</td>
                        <td colspan="5" rowspan="1" align="center">正式发布期</td>
                      </tr>
                      <tr>
                        <td colspan="1" rowspan="1" align="center">预告阶段</td>
                        <td colspan="1" rowspan="1" align="center"></td>
                        <td colspan="4" rowspan="1" align="center">预约及支付阶段</td>
                        <td colspan="2" rowspan="1" align="center">开放加入阶段</td>
                        <td colspan="3" rowspan="1" align="center">收益阶段</td>
                      </tr>
                      <tr>
                        <td colspan="1" rowspan="4" align="center">预约开始</td>
                        <td colspan="1" rowspan="4" align="center">投资人预约</td>
                        <td colspan="2" rowspan="1" align="center">全额支付预约金额</td>
                        <td colspan="1" rowspan="2" align="center">预约成功</td>
                        <td colspan="1" rowspan="4" align="center">预约结束</td>
                        <td colspan="1" rowspan="4" align="center">开放购买</td>
                        <td colspan="1" rowspan="3" align="centr">完成项目全额，项目成功</td>
                        <td colspan="1" rowspan="3" align="center">进入锁定期</td>
                        <td colspan="1" rowspan="3" align="center">到期还款</td>
                        <td colspan="1" rowspan="1" align="center">预约成功投资人最后收益=预约金额*（余额宝七日年化利率*110%）/365*预约时间（日）+项目收益</td>
                      </tr>
                      <tr>
                        <td colspan="1" rowspan="3" align="center">支付部分款项（不低于预约金额10%的资金且不低于100元）预约投资该项目</td>
                        <td colspan="1" rowspan="1" align="center">支付剩余预约金额</td>
                        <td colspan="1" rowspan="1" align="center">撤销预约投资人无收益无违约金</td>
                      </tr>
                      <tr>
                        <td colspan="1" rowspan="1" align="center">撤销预约</td>
                        <td colspan="1" rowspan="2" align="center">预约失败</td>
                        <td colspan="1" rowspan="1" align="center">开放购买投资人收益=项目收益</td>
                      </tr>
                      <tr>
                        <td colspan="1" rowspan="1" align="center">到期未完成全额支付自动撤销预约</td>
                        <td colspan="1" rowspan="1" align="center">未完成项目全额，流标</td>
                        <td colspan="3" rowspan="1" align="center">预约成功投资人将得到：预约金额*（余额宝七日年化利率*110%/365）的收益作为补偿；撤销及未完成支付的投资人冻结部分资金自动解冻，不享受任何补偿</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <p><strong class="agree-mg ">四、基本要素</strong>
                </p>
                <p><strong class="agree-mg">4.1 项目额度说明</strong>
                </p>
                <p class="agree-tx">预约额度为项目总金额的80%，剩余20%为正式发标的开放额度。</p>
                <p><strong class="agree-mg">4.2 预约条件</strong>
                </p>
                <p class="agree-tx">预约支付金额不低于预约金额10%资金且不低于100元人民币。</p>
                <p><strong class="agree-mg">4.3 预发布期</strong>
                </p>
                <p class="agree-tx">4.3.1 宏财网针对项目做预发布，周期一般为2-3天；此期间即为预约投资该项目的时间区间（如：2015-1-1 至 2015-1-3）。</p>
                <p class="agree-tx">4.3.2 该阶段内投资人可提前预约准备投资项目的金额，同时系统会在投资人账户内冻结相应资金，直至与预约金额相等，以在预约支付截止时间前保留投资人投资该项目的权利。</p>
                <p class="agree-tx">4.3.3 若投资人在预约支付截止时间前完成对剩余金额的支付，则账户内资金将在项目正式发布时自动解冻并完成投资该项目，无论项目成功或流标，均视为预约成功，预约成功投资人在预约期间将获得以下收益：预约金额*（余额宝七日年化利率*110%）/365*预约时间（日）的收益；若投资人未能在预约支付截止时间前完成对剩余金额的支付，则视为投资人主动撤销预约投资该项目，预约资金将返还到投资人账户，预约期内无收益。</p>
                <p class="agree-tx">4.3.4 预约时间（日）计算。始：投资人依照4.2支付全部或部分预约金额，至：预约支付截止时间。以上时间均含当日。</p>
                <p><strong class="agree-mg">4.4 正式发布期</strong>
                </p>
                <p class="agree-tx">根据项目预约进度，宏财网正式项目发布始至满标。</p>
                <p><strong class="agree-mg">4.5 系统自动支付</strong>
                </p>
                <p class="agree-tx">为保障投资人权益，避免投资人因遗忘等原因未能完成对剩余金额的支付，投资人将授权系统在支付截止时间自动扫描投资人账户，若账户余额足以支付剩余金额，则系统将代投资人自动完成支付操作。</p>
                <p><strong class="agree-mg">4.6 追加投资</strong>
                </p>
                <p class="agree-tx">宏财网为鼓励投资人追加投资，允许投资人多次预约，预约规则与首次预约相同；</p>
                <p><strong class="agree-mg">4.7 预约收益计算</strong>
                </p>
                <p class="agree-tx">4.7.1 在预发布期间内预约，宏财网将根据余额宝日化收益（N）（七日年化利率/7的110%为基准回报率计算预约收益作为奖励，例如：宏财网项目A的预发标时间为3天，投资人P在第T天预约10000元进行项目投资，在成功投资项目A的正式标的后投资人得到的预约收益即奖励金额为10000*N110%*/365（4-T）=4.33元（N取值为4.8%，T=1）</p>
                <p class="agree-tx">4.7.2 在预发布期付款截止日前可以随时退出，退出不收取任何费用，亦无任何预约收益或宏财网奖励；</p>
                <p class="agree-tx">4.7.3 在预发布截止日前未全额支付的订单将视为自动撤销预约，冻结资金将自动解冻，无预约收益或宏财网的奖励；</p>
                <p class="agree-tx">4.7.4 若投资人在预约支付截止时间前完成对剩余金额的支付，则账户内资金将在项目正式发布时自动解冻并完成投资该项目，无论项目成功或游标，均视为预约成功。若预约成功后，出现项目流标或者宏财网撤销项目标的，投资人仍享有预约收益或宏财网奖励。</p>
                <p><strong class="agree-mg">4.8 名词解释</strong>
                </p>
                <p class="agree-tx">4.8.1 预约金额：投资人希望预约项目的总金额；</p>
                <p class="agree-tx">4.8.2 预交金额：预先在易宝个人账户中冻结不低于预约金额10%资金且不低于100元人民币，例如：预约项目10000元，预交金额为1000元；</p>
                <p class="agree-tx">4.8.3 预约中：项目预发布期内，支持预约；</p>
                <p class="agree-tx">4.8.4 预约成功：预约期结束，投资人完成对项目的认购；</p>
                <p class="agree-tx">4.8.5 黑名单：为防止恶意撤销预约项目，宏财网设定黑名单机制，撤销预约3次，1个月内宏财网将不再允许该用户再次预约直至投资人在宏财网累计完成10万元成交额；</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="">
        <div class="col-xs-offset-4 col-xs-4">
          <a class="btn btn-primary btn-block" ng-click="$hide()">知道啦</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mask_layer"></div>
