<div id="enlarge" class="modal ng-scope top am-fade-and-slide-top investment-plan-agreement" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" style="width: 1200px;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="$hide()">×</button>
      </div>
      <div class="modal-body">
        <div class="container bg">
          <div class="agreement-area row2">
            <div class="col-md-12 col-lg-12">
              <p class="text-title">零存宝-服务协议书</p>
              <div class="row">
                <!-- <p style="text-align:right;">合同编号：【&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;】</p> -->

<p>&nbsp;&nbsp;&nbsp;&nbsp;为了维护您的权益，请在签署本协议前，仔细阅读、充分理解本协议各条款（特别是加重、免除或限制协议一方责任条款），关注您在协议中的权利、义务。请您审慎阅读并选择同意或不同意本协议。您一经选择同意即视为对本协议全部条款已充分理解并完全接受。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;本协议由以下双方于【 】年【 】月【 】日在中华人民共和国（以下简称“中国”）北京签订。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;协议双方：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;甲方：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;宏财网用户/会员名：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;营业执照注册号/身份证号码：</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;乙方：北京竞财投资服务有限公司</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;企业法人营业执照注册号：110107018557568</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;组织机构代码：33024673-2</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;本协议中，甲方、乙方单称“一方”，合称“双方”。</p> 

<p>&nbsp;&nbsp;&nbsp;&nbsp;鉴于：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;1、甲方系符合中华人民共和国法律（以下简称“中国法律”）（仅为本协议之目的，不包括香港特别行政区、澳门特别行政区和台湾省的法律法规）规定，具有完全民事权利能力和民事行为能力，能够独立承担本协议项下权利义务的自然人、法人或其他组织。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;2、乙方系符合中国法律规定，具有完全民事权利能力和民事行为能力，能够独立行使和承担本协议项下权利义务的自然人、法人或其他组织。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;3、甲方系乙方运营管理的互联网金融信息服务网站平台（域名：www.hongcai.com，以下简称“宏财网”）的注册会员，甲方拟通过宏财网加入零存宝计划。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;为此，根据国家有关法律法规，甲、乙双方本着平等自愿、诚实守信、互惠互利的原则，立此协议，共同遵守。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;第一条 释义与定义</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;除非本协议另有解释或说明，本协议中的下列词语或简称具有如下含义：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;1.1 宏财网：指乙方运营管理的互联网金融信息服务网站平台（域名：www.hongcai.com，以下简称“宏财网”）。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;1.2 零存宝：指乙方推出的短期资产配置计划或投资计划，旨在通过此计划为甲方匹配优质债权类或固定收益类资产。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第二条  “零存宝”要素说明</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;2.1 甲方确认已充分了解零存宝产品的收益风险特征，自主选择加入零存宝计划，通过在宏财网操作签署本协议，并支付完毕加入资金。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;2.2 封闭运作：甲方成功完成加入程序后，乙方进行资金与投资标的的匹配，待匹配成功后即进入封闭运作期。在该资金封闭期间，甲方不得转让该计划，也不得向乙方申请退出。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;2.3 结束清算：当期零存宝计划届满日，即为当期零存宝计划结束清算日。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第三条 收益</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;3.1 收益计算期间</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;甲方自愿加入零存宝不同期限，收益计算起算时间以零存宝当期发布的起算日为准，终止时间以零存宝当期计划公布的期限届满日为准。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;3.2 收益计算标准</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;甲方加入零存宝，以零存宝当期发布的年化利率为收益计算标准。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;3.3 收益发放</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;甲方当期支付金额和收益，在当期零存宝计划届满日发放至甲方宏财账户。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第四条 风险揭示</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;4.1 适当性</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;甲方应根据自身的财务状况、实际需求、风险承受能力，谨慎识别、评估、选择相关产品，避免因不当参与而产生损失。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;4.2 政策风险</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;国家因宏观政策、财政政策、货币政策、行业政策、地区发展、法律法规等因素引起的政策风险。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;4.3 市场风险</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;宏观经济运行、国家政策、证券市场监管政策等的变化，均可能导致市场价格波动，从而影响收益。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;4.4 信用风险</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;债权所有人或甲方其他交易对方，因某些原因，不愿或无力履行义务而构成违约时，可能使甲方的加入资金无法按时收回或全部收回。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;以上风险揭示事项仅为列举性质，未能详尽列明零存宝计划的所有风险。甲方在加入前，应认真做好风险评估与财务安排，确定自身有足够的风险承受能力。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第五条 通知</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;5.1 本协议任何一方根据本协议约定发出的通知或文件均应为书面形式，通过专人递送、挂号邮递、特快专递、电子邮件或通过宏财网发布（包括但不限于公告、站内消息等）等方式送达。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;5.2 通知在下列日期视为送达：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;5.2.1 专人递送的通知，在专人递送之交付日为有效送达；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;5.2.2 以挂号信（付清邮资）发出的通知，在寄出（以邮戳为凭）后的五个工作日内为有效送达；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;5.2.3 以特快专递（付清邮资）发出的通知，在寄出（以邮戳为凭）后的三个工作日内为有效送达；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;5.2.4 以电子邮件发出的通知，在电子信息反馈为送达后一个工作日内为有效送达；</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;5.2.5 通过宏财网发布的方式（包括但不限于公告、站内消息等方式）通知的，在宏财网发布之日为有效送达。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第六条  保密条款</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;6.1 本协议任何一方在本协议履行过程中，或为履行本协议的需要，从其他各方所获得的有关商业秘密，未经其他各方同意，不得向任何第三方披露。但是各方聘请的律师、会计师、审计师、评估师等根据法律法规规定或有权部门要求提供的除外。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;6.2 本协议任何一方应采取所有其他必要、适当和可采取的措施，以确保保密信息的保密性。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第七条  不可抗力</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;除非文意另有所指或另有规定,不可抗力是指受影响一方不能合理控制、无法预料或即使可预料也不可避免且无法克服，并于本协议签订之日后出现的，使该方对本协议全部或部分的履行在客观上成为不可能或不实际（包括但不限于花费合理金额仍无法履行)的任何事件。此等事件包括但不限于任何政府机构行为（无论有效或无效）、火灾、水灾、风暴、暴乱、爆炸、自然灾害、战争、破坏活动、劳工问题（包括停工、罢工和怠工）以及法院禁令或裁定。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;不可抗力发生时，双方应立即通过友好协商决定如何执行本协议。不可抗力或其影响终止或消除后，双方须立即恢复履行各自在本协议项下的各项义务。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第八条  法律适用及争议解决</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;本协议的签订、履行、终止、解释均适用中国法律。双方同意，因本协议所产生的或与本协议有关的一切争议，双方应协商解决；协商无法达成一致的，可向乙方所在地人民法院提起诉讼。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;第九条  其他事项 </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;9.1 乙方对本协议项下的任何金额进行计算；在无明显或实质意义错误的情况下，乙方对本协议项下任何金额的任何证明或确定，应作为该金额有关事项的终局证明。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;9.2 本协议采用电子文本形式。甲方加入零存宝计划，完成服务程序后本协议生效。甲方可通过宏财网下载获得该协议。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;9.3 甲方委托乙方保管所有与本协议有关的书面文件及电子信息，若双方出示的书面文件或电子信息不一致，以乙方提供的书面文件或电子信息为准（其中书面文件与电子信息不一致的，以书面文件为准）。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;9.4 本协议中部分条款根据相关法律法规等的规定为无效，或部分无效时，该等无效不影响本协议项下其他条款的效力，各方仍应履行其在本协议项下的义务。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;9.5 本协议项下的附件和补充协议构成本协议不可分割的一部分。任何对协议文本内容理解产生歧义的，以乙方在线公布的涉及零存宝计划相关文件说明为准。本协议项下无约定的事项以宏财网公布的相关规则为准。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;9.6 本协议未尽事宜，遵照有关法律法规和执行。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;甲方声明：乙方已向甲方充分提示本协议的风险，对于本协议条款已应甲方要求进行充分解释及说明，甲方对本协议内容及相应风险已完全知悉并理解；甲方已熟悉零存宝的所有流程，充分了解零存宝计划的特点及风险收益特征，愿意遵守零存宝的运行规则及相关收费标准。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-none margin-b-30">
        <div class="col-xs-offset-4 col-xs-4 margin-b-30">
          <button class="btn btn-invite-orange ft-18 padding-0" ng-click="$hide()">知道啦</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mask_layer"></div>

