<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <div class="title">
    <strong >温馨提示：</strong>
  </div>

  <div class="content">
    <p>您还没有<span class="ft-red">完善资料</span><br>请先完善您的资料再进行投资</p>
  </div>

  <div class="bottom col-xs-10 col-xs-offset-1 margin-b-40">
    <a class="btn btn-default btn-block pull-left" href="javascript:;" ng-click="$hide()">稍后再说</a>
    <a class="btn btn-primary-orange btn-block pull-left  margin-l" ui-sref="root.userCenter.security-settings" ng-click="$hide()">完善资料</a>
  </div>
</div>
<div class="mask_layer"></div>
