<div class="alert announcement" ng-class="[type ? 'alert-' + type : null]">
    <button type="button" class="close" ng-if="dismissable" ng-click="$hide()"><i class="fa fa-times-circle"></i></button>
    <!-- <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button> -->

  <div class="content">
    <!-- <img src="/images/announcement/announcement-5.png" width="100%" height="100%"> -->
    <img src="/images/announcement/announcement-1.png" class="icon-1" width="30%">
    <img src="/images/announcement/announcement-2.png" class="icon-2" width="20%">
    <img class="icon-3" src="/images/announcement/announcement-7.png" width="21%">
    <div class="announcement-inner">
      <p class="announcement-title">——宏财网春节放假<img src="/images/announcement/announcement-6.png" width="9%">——</p>
      <p class="text-left"><strong>亲爱的宏粉们：</strong></p>
      <p class="text-left text-indent">值此新春佳节即将来临之际，宏财网全体员工恭祝各位新春快乐，在新的一年里大发宏财！宏财网将于2015年<strong class="ft-red">2月17日</strong>至<strong class="ft-red">2月24日</strong>休假，<strong class="ft-red">2月25日</strong>将恢复正常运营，继续为宏粉们提供优质的互联网投资服务。</p>
      <p style="margin-top: 2%;"><img src="/images/announcement/announcement-4.png" width="60%"></p>
      <p class="text-left" style="padding-top: 0;"><img src="/images/announcement/announcement-9.png">&nbsp;&nbsp;&nbsp;在此休假期间，为了增加宏粉们对网站的体验，小额新手标仍将在网站少量发布，按时计息，宏粉们可以边过节边继续进行投资。</p>
      <p class="text-left" style="padding-top: 0;margin-bottom: 10px;"><img src="/images/announcement/announcement-9.png">&nbsp;&nbsp;&nbsp;休假期间由于银行对公业务停止服务，因此资金存管账户部分业务受到影响，绑卡操作：<strong>大行T+1</strong>完成（不受节假日影响）；<strong>小行大于T+1</strong>完成（受节假日影响）；用户充值不受影响；提现业务将暂停服务。给各位带来的不便，敬请谅解。</p>
      <p class=""><img src="/images/announcement/announcement-8.png" width="83%"></p>
      <p class="text-left" style="padding-top: 0;">再次预祝宏粉们春节快乐，万事如意！同时也感谢宏粉们一直以来对宏财网的大力支持，2月25日再见！</p>
      <p><img src="/images/announcement/announcement-3.png"></p>
    </div>
  </div>
</div>
<div class="mask_layer"></div>
