<div id="enlarge" class="modal ng-scope top am-fade-and-slide-top investment-plan-agreement" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" style="width: 1200px;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="$hide()">×</button>
      </div>
      <div class="modal-body">
        <div class="container bg">
          <div class="agreement-area row">
            <div class="col-md-12 col-lg-12">
              <p class="text-title">借款及担保协议模版</p>
              <br>
              <div class="row">
                <p><strong class="agree-mg">为了维护您的权益，请在签署本协议前，仔细阅读、充分理解本协议各条款（特别是加重、免除或限制协议一方责任条款），关注您在协议中的权利、义务。请您审慎阅读并选择接受或不接受本协议。您一经选择接受即视为对本协议全部条款已充分理解并完全接受。</strong>
                </p>
                <p><strong class="agree-mg">本协议由以下双方于【2014】年【&nbsp&nbsp&nbsp】月【&nbsp&nbsp&nbsp  】日在中华人民共和国（以下简称“中国”）北京签订。</strong>
                </p>
                <br>
                <p><strong class="agree-mg">协议各方：</strong>
                </p>
                <p><strong class="agree-mg">甲方（出借人）：</strong>姓名（宏财网用户/会员名）/详见附件1《出借人及出借金额明细表》</p>
                <br>
                <p><strong class="agree-mg">乙方（借款人）：</strong>
                  <ul class="list-unstyled agree-mg">
                    <li>宏财网用户/会员名：</li>
                    <li>企业法人营业执照注册号/身份证号码：</li>
                    <li>组织机构代码：</li>
                    <li>住所：</li>
                  </ul>
                </p>
                <br>
                <p><strong class="agree-mg">丙方（保证人）：</strong>
                </p>
                <ul class="list-unstyled agree-mg">
                  <li>企业法人营业执照注册号：</li>
                  <li>组织机构代码：</li>
                  <li>住所：</li>
                </ul>
                <br>
                <p><strong class="agree-mg">丁方（居间人）：北京竞财投资服务有限公司</strong>
                </p>
                <ul class="list-unstyled agree-mg">
                  <li>企业法人营业执照注册号：</li>
                  <li>组织机构代码：</li>
                </ul>
                <br>
                <p class="agree-tx">本协议中，甲方、乙方、丙方、丁方单称“一方”，合称“各方”。</p>
                <br>
                <p><strong class="agree-mg">鉴于：</strong>
                </p>
                <p class="agree-tx">1、甲方（出借人）系符合中华人民共和国法律（以下简称“中国法律”）（仅为本协议之目的，不包括香港特别行政区、澳门特别行政区和台湾省的法律法规）规定,具有完全民事权利能力和民事行为能力，能够独立承担本协议项下权利义务的自然人。在特定情况下，借款转让后的甲方或出借人可能是符合中国法律规定的企业法人或其他机构。</p>
                <p class="agree-tx">2、乙方（借款人）系符合中国法律规定,具有完全民事权利能力和民事行为能力，能够独立行使和承担本协议项下权利义务的自然人、法人或其他组织。</p>
                <p class="agree-tx">3、丙方（保证人）系根据中国法律成立并有效存续，具备法律规定担保主体资格，拥有融资性担保业务经营资质的有限责任公司。</p>
                <p class="agree-tx">4、甲方、乙方为丁方运营管理的互联网金融信息服务网站平台（域名：<a href="www.hongcai.com">www.hongcai.com</a>，以下简称“宏财网”）的注册会员。甲方通过宏财网向乙方提供借款，丙方为本协议项下借款提供连带责任保证担保，丁方为本协议项下借款提供居间服务。</p>
                <p class="agree-tx">为此，根据国家有关法律法规，甲、乙、丙、丁四方本着平等自愿、诚实守信、互惠互利的原则，立此协议，共同遵守。</p>
                <br>
                <p><strong class="agree-mg">借款</strong>
                </p>
                <p><strong class="agree-mg">第一条 &nbsp&nbsp借款</strong>
                </p>
                <p class="agree-tx">1.1 借款基本信息</p>
                <div class="col-md-10 col-md-offset-2 tbl">
                  <table border="1">
                    <tr>
                      <td width="120" align="center">借款用途</td>
                      <td width="400" align="center">&nbsp</td>
                    </tr>
                    <tr>
                      <td width="120" align="center">借款金额</td>
                      <td width="400" align="center">人民币（大写）<u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp整</u>（小写）RMB<u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp元</u>
                        <br>（各出借人出借金额详见附件1《出借人及出借金额明细表》）</td>
                    </tr>
                    <tr>
                      <td width="120" align="center">借款利率</td>
                      <td width="400" align="center">/年均</td>
                    </tr>
                    <tr>
                      <td width="120" align="center">借款期限</td>
                      <td width="400" align="center"><u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u>（日/月）</td>
                    </tr>
                    <tr>
                      <td width="120" align="center">每月还款本息数额及还款日</td>
                      <td width="400" align="center">详情见附件2《还款计划表》</td>
                    </tr>
                    <tr>
                      <td width="120" align="center">借款放款日</td>
                      <td width="400" align="center"><u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u>
                      </td>
                    </tr>
                    <tr>
                      <td width="120" align="center">借款最终到期日</td>
                      <td width="400" align="center"><u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u>
                      </td>
                    </tr>
                  </table>
                </div>
                <p class="agree-tx">除非文意另有所指或另有约定，下列词语具有以下含义：</p>
                <p class="agree-tx">1.2 借款金额是指本协议第1.1条中列明的借款本金金额。借款币种为人民币。</p>
                <p class="agree-tx">1.3 借款用途是指本协议第1.1条中列明的借款用途。</p>
                <p class="agree-tx">1.4 借款期限是指自借款放款日起至最终到期日（即全部借款到期日）止的期间。</p>
                <p class="agree-tx">1.5 借款利率是指本协议第1.1条中列明的借款利率，以年均利率的方式表示。月利率=年均利率/12，日利率=年均利率/365。</p>
                <p class="agree-tx">1.6 借款放款日是指本协议第1.1条中列明的借款放款日，为甲方之借款成功发放之日。</p>
                <p class="agree-tx">1.7 还款日是指本协议第1.1条中列明的还款日，为借款人每月还本付息的日期；如当月无该日期，则以当月的最后一日为还款日。最后一期的还款日为借款的最终到期日。</p>
                <p class="agree-tx">1.8 工作日是指中华人民共和国法律法规规定的工作日。</p>
                <br>
                <p><strong class="agree-mg">第二条 &nbsp&nbsp出借资金冻结与发放</strong>
                </p>
                <p class="agree-tx">2.1 甲、乙方通过其在宏财网上的注册会员账户，在丁方合作的第三方支付机构（以下科称“第三方支付机构”），设立以自己名义开立，资金独立于丁方及其他各方的存管账户（以下分别简称为甲方存管账户、乙方存管账户），甲、乙方发放、接收、归还借款与提现均通过各自的存管账户进行。</p>
                <p class="agree-tx">2.2 丙方为本协议项下借款提供连带责任保证担保，以书面确认的方式签订本协议。丙方选择以下第（&nbsp&nbsp ）方式为本协议项下借款提供连带责任保证担保：</p>
                <p class="agree-tx">i 【宏金保A】</p>
                <p class="agree-tx">不要求乙方提供反担保措施（包括但不限于抵押、质押、第三人保证等）。</p>
                <p class="agree-tx">ii 【宏金保B】</p>
                <p class="agree-tx">要求乙方提供反担保措施（包括但不限于抵押、质押、第三人保证等）。</p>
                <p class="agree-tx">2.3 丁方通过宏财网钩选“同意《借款及担保协议》”并点击【确认】按钮后，视为丁方签订本协议。</p>
                <p class="agree-tx">2.4 甲方通过宏财网对乙方发布的借款需求钩选“同意《借款及担保协议》”并点击【确认】按钮及完成相应支付时，视为甲方签订本协议，并不可撤销地授权第三方支付机构冻结甲方确认向乙方出借的金额等同于本协议第1.1条中列明的“借款金额”的资金。</p>
                <p class="agree-tx">2.5 协议成立：乙方在宏财网上发布借款需求，丙方出具签署协议书面确认书，丁方、甲方在宏财网上依照约定进行相关操作完成本协议的签订后，本协议成立。</p>
                <p class="agree-tx">2.6 协议生效：甲方出借资金累计等于乙方借款金额时本协议即时生效。</p>
                <p class="agree-tx">2.7 出借资金或借款发放：本协议生效的同时，甲方即不可撤销地授权第三方支付机构在下列放款日将上述冻结资金划转至乙方存管账户中，划转完毕即视为借款发放成功。</p>
                <p class="agree-tx">2.7.1 丙方选择以【宏金保A】方式为本协议项下借款提供连带责任保证担保的，放款日为本协议生效时日。</p>
                <p class="agree-tx">2.7.2 丙方选择以【宏金保B】方式为本协议项下借款提供连带责任保证担保的，放款日为丁方在收到丙方书面“确认放款指令”后，丁方在宏财网上点击【确认放款】按钮时日，该时日不超过甲方出借资金金额等于乙方借款金额之日起五个工作日(T+5)]。若丙方未在上述期限内向丁方发出书面“确认放款指令”，则视为本协议自该第五个工作日的24：00起解除，甲方存管账户中的出借资金自动解冻。</p>
                <p class="agree-tx">2.8 自乙方在宏财网上发布借款需求信息之日起(&nbsp &nbsp )日，宏财网上出借人同意向乙方出借的资金金额累计仍未满足乙方本次在宏财网上发布的借款需求时，则于（ &nbsp &nbsp ）日24：00起终止发布借款需求信息，甲方存管账户中的出借资金自动解冻。</p>
                <p class="agree-tx">2.9 协议生效后，无论因乙方或丙方原因导致甲方出借资金未能成功发放的，均视为乙方放弃借款，乙方应承担相应责任，按丁方收费规则及有关协议支付提前终止借款费，甲方按确认出借金额的0.4%从上述提前终止借款费中收取，甲乙双方不可撤销地授权丁方从乙方存管账户中直接扣收或代收。</p>
                <br>
                <p><strong class="agree-mg">第三条 &nbsp&nbsp还款</strong>
                </p>
                <p class="agree-tx">3.1 乙方按照以下第（&nbsp&nbsp）种方式还本付息：</p>
                <p class="agree-tx">3.1.1 实行利随本清方式还款，到期一次性归还借款本息。</p>
                <p class="agree-tx">3.1.2 按月结息，到期还本。结息日为每月的（&nbsp&nbsp）日。乙方须于每一结息日结息。如借款本金的最后一次偿还日不在结息日，则未付利息应利随本清。</p>
                <p class="agree-tx">3.1.3按月等额本息还款法按每个月还款，还款日为每期末月的（20日/借款发放日对应日）。如无借款发放日对应日，以所在期末月的最后一日为还款日。计算公式如下：</p>
                <img src="images/agreement.png">
                <p class="agree-tx">3.2 乙方不可撤销地授权第三方支付机构,按还款计划将金额等同于甲方当期应收金额的资金（即乙方当期应偿还的借款本金或利息）由乙方存管账户划转至甲方存管账户中，划转完毕即视为本期还款成功。</p>
                <p class="agree-tx">3.3 乙方应于每期还款日（如遇国家法定节假日，则借款还本付息日顺延至节后第一个工作日）15：00点前履行还款义务。为保证还款成功，乙方至少应于每期还款日前三日，将足以偿还当期借款本金或利息的款项转入（包括但不限于充值等方式）乙方存管账户。若乙方存管账户中资金不足以清偿当期借款本金或利息，导致还款不成功，丙方承担补足或代偿义务。乙方应于乙方、丙方不可撤销地授权第三方支付机构将相应款项由乙方或丙方存管账户划转至甲方存管账户。</p>
                <br>
                <p><strong class="agree-mg">第四条 &nbsp&nbsp债权转让</strong>
                </p>
                <p class="agree-tx">借款期限内，一定条件下，甲方对乙方的债权可进行转让，具体细则另行规定。</p>
                <br>
                <p><strong class="agree-mg">第五条 &nbsp&nbsp保证</strong>
                </p>
                <p class="agree-tx">5.1丙方在保证担保范围内对本协议项下借款承担连带保证责任。本协议项下如有多个担保人作为保证人的，各保证人共同对债权人承担连带保证责任。</p>
                <p class="agree-tx">5.2 保证担保范围包括：本协议项下借款本金、利息。</p>
                <p class="agree-tx">5.3 保证期间：一次性还款的，保证期间为借款到期日起二年；分期偿还的，保证期间为每期还款日起二年。乙方与甲方达成期限变更协议的，保证人继续承担保证责任，保证期间自期限变更协议约定的债务履行期限届满之日起二年。若发生法律法规规定或者本协议约定的事项，导致本协议债务提前到期的，保证期间自债务提前到期之日起二年。</p>
                <br>
                <p><strong class="agree-mg">第六条 &nbsp&nbsp其他担保有关事项</strong>
                </p>
                <p class="agree-tx">6.1 本协议项下借款若同时存在物的担保（包括但不限于乙方或第三人提供）和丙方提供连带责任保证担保的，甲方可以就物的担保实现债权，也可以要求丙方承担连带责任保证担保责任。</p>
                <p class="agree-tx">6.2 本协议项下借款若同时存在两个以上物的担保的（包括但不限于乙方或第三人提供），甲方有权就其中任一或者多个担保物行使担保物权。甲方已经选择某一担保方式/担保物来实现债权的，也可同时主张通过其他担保方式/担保物来实现全部或部分债权。</p>
                <p class="agree-tx">6.3 本协议项下借款既有乙方提供物的担保又有其他担保人提供担保的，当甲方放弃乙方人的担保物权、担保物权顺位或者变更该担保物权时，其他担保人仍应按照本协议约定承担担保责任。</p>
                <br>
                <p><strong class="agree-mg">第七条 &nbsp&nbsp与担保有关权利的行使</strong>
                </p>
                <p class="agree-tx">甲方依照本协议约定主张与担保有关的权利（包括但不限于要求丙方或其承担保证担保责任、行使担保物权等）时，可授权丁方进行，丁方有权选择是否接受该授权。</p>
                <br>
                <p><strong class="agree-mg">各方权利与义务</strong>
                </p>
                <p><strong class="agree-mg">第八条 &nbsp&nbsp甲方权利和义务</strong>
                </p>
                <p class="agree-tx">8.1 依据本协议约定按时足额向借款人发放借款，并保证资金来源合法。</p>
                <p class="agree-tx">8.2 有权依照本协议约定收回本金及收取利息。</p>
                <p class="agree-tx">8.3乙方或丙方违约时，授权丁方向乙方或丙方主张权利，包括但不限于追偿借款本金及利息、罚息、违约金、损害赔偿金以及诉讼（仲裁）费、律师费等实现债权、担保权的费用等。</p>
                <p class="agree-tx">8.4.有权了解借款人基本情况、借款使用情况、担保人及担保物情况。</p>
                <br>
                <p><strong class="agree-mg">第九条 &nbsp&nbsp乙方权利和义务</strong>
                </p>
                <p class="agree-tx">9.1 按照本协议的约定取得和使用借款。</p>
                <p class="agree-tx">9.2 按丙方、丁方要求如实提供与本协议项下借款有关的资料（包括但不限于文件、资料和单据等），并对其真实性、准确性、完整性和有效性负责。</p>
                <p class="agree-tx">9.3 按时足额还本付息。</p>
                <p class="agree-tx">9.4 住所、通信地址、联系方式等发生变动时，应在前述变动发生之日起2个工作日内书面通知丙方及丁方并提供相应的证明文件。</p>
                <p class="agree-tx">9.5 出现以下重大不利情形时，应在该等情形发生之日起两日内书面通知丙方及丁方，必要时需提供有效担保或采取其他补救措施。</p>
                <p class="agree-tx">该等重大不利情形包括但不限于：涉及重大诉讼；已全部或者部分丧失还款能力；财务状况恶化或者因其他原因导致还款能力明显下降；担保物（如有）价值减少、毁损、灭失、被征用、被征收以及因附合、混合、加工使担保物所有权归属第三人或者出现权属争议等影响甲方实现担保物权；与金融机构或非金融机构签订的借款合同或担保合同项下发生任何违约事项；乙方或其下属公司牵连重大违纪、违法或被索赔事件，出严重困难或财务状况恶化，发生重大债权债务纠纷引起诉讼、仲裁等事件；其他影响还款能力的事项等。</p>
                <p class="agree-tx">9.6乙方应配合甲方或丙方、丁方的要求，出具相关文件；并不可撤销地授权甲方、丙方或丁方，可向中国人民银行征信系统或其他数据信息系统，或有关单位、部门或个人，查询其信用状况，查询、打印和保存其信息和信用报告；可按照有关规定向中国人民银行征信系统或其他数据信息系统提供借款人基本信息和其他相关信息。</p>
                <br>
                <p><strong class="agree-mg">第十条 &nbsp&nbsp丙方权利义务</strong>
                </p>
                <p class="agree-tx">10.1 依照本协议约定对本协议项下借款承担连带责任保证担保。</p>
                <p class="agree-tx">10.2 有权根据乙方情况，要求乙方提供反担保（包括但不限于抵押、质押、第三方保证等）。</p>
                <p class="agree-tx">10.3 有权向乙方收取担保费用，具体由丙方与乙方另行签订相关协议。</p>
                <p class="agree-tx">10.4乙方应于每期还款日（如遇国家法定节假日，则借款还本付息日顺延至节后第一个工作日）下午3点前履行还款义务。若乙方届时没有按时足额履行还款义务，丙方应承担代偿义务。</p>
                <p class="agree-tx">10.5 丙方住所、通信地址、联系方式等发生变动时，应在前述变动发生之日起2个工作日内书面通知丁方并提供相应的证明文件。</p>
                <p class="agree-tx">10.6 出现以下重大不利情形时，应在该等情形发生之日起两日内书面通知及丁方，必要时需提供有效担保或采取其他补救措施。</p>
                <p class="agree-tx">该等重大不利情形包括但不限于：涉及重大诉讼；已全部或者部分丧失担保能力；财务状况恶化或者因其他原因导致担保能力明显下降；担保物（如有）价值减少、毁损、灭失、被征用、被征收以及因附合、混合、加工使担保物所有权归属第三人或者出现权属争议时；与金融机构或非金融机构签订的相关合同项下发生任何违约事项；丙方或其下属公司牵连重大违纪、违法或被索赔事件，出严重困难或财务状况恶化，发生重大债权债务纠纷引起诉讼、仲裁等事件；其他影响担保能力的事项等。</p>
                <br>
                <p><strong class="agree-mg">第十一条 &nbsp&nbsp丁方权利义务</strong>
                </p>
                <p class="agree-tx">11.1 为本协议项下借款提供信息交互平台居间服务。</p>
                <p class="agree-tx">11.2 有权向有关方收取信息服务费用，具体协议另行签订。</p>
                <p class="agree-tx">11.3 如乙方、丙方违约时，代理甲方向有关各方主张权利，包括但不限于追偿借款本金及利息、罚息、违约金、损害赔偿金以及诉讼（仲裁）费、律师费等实现债权、担保权的费用等。</p>
                <p class="agree-tx">11.4 乙方未履行还款义务或者丙方未履行担保责任，丁方有权就乙方或者丙方的违约行为进行公开披露（披露前给予宽限期，书面通知，）包括但不限于：</p>
                <p class="agree-tx">11.4.1将乙方或丙方的有关基本资料或其他相关信息通过宏财网公布，向有关媒体披露或公告催收；</p>
                <p class="agree-tx">11.4.2将乙方或丙方的有关基本资料及其他相关信息备案在“违约信息记录”，按照有关规定提供向中国人民银行征信系统或其他数据信息系统等。</p>
                <p class="agree-tx">11.5丁方依据11.4条进行信息披露时，需提前以书面形式乙方或丙方，给予乙方或丙方五天宽限期，如宽限期内乙方已履行还款义务或丙方已履行担保责任，则不予披露。</p>
                <br>
                <p><strong class="agree-mg">违 约 责 任</strong>
                </p>
                <p><strong class="agree-mg">第十二条 &nbsp&nbsp违约责任</strong>
                </p>
                <p class="agree-tx">12.1 发生下列情形之一者，乙方应承担相应违约责任：</p>
                <p class="agree-tx">12.1.1 乙方未按约定期限按时足额偿还款本息的，承担逾期还款违约责任。各方同意并确认，丁方有权要求乙方按逾期部分每日万分之五计收向甲方支付罚息；</p>
                <p class="agree-tx">12.1.2 乙方未按约定提供用途证明，或提供虚假用途证明，或未按本协议约定用途使用借款的，足以严重影响乙方还款能力的，丁方有权要求乙方自违约使用借款之日起，按违约部分金额的每日万分之五计向甲方支付罚息。</p>
                <p class="agree-tx">12.1.3 乙方不配合甲方、丙方或丁方核查贷款用途或违约使用之日无法查明的，足以严重影响乙方还款能力的，丁方有权要求乙方从借款之日起，按借款总额每日万分之五向甲方支付罚息。</p>
                <p class="agree-tx">12.1.4 乙方发生本协议9.6中重大不利之情形，足以影响乙方还款能力，乙方未能向甲方提供有效担保或及时采取其他补救措施的，丁方有权宣布本协议项下借款全部到期，要求乙方立即向甲方偿还所欠借款本息，并要求其按借款总额或尚未履行部分金额的百分之三十向甲方支付违约金。</p>
                <p class="agree-tx">各方同意并确认，发生以上情形之一时，丁方均有权要求丙方承担担保责任。如丙方未按照约定向甲方履行代偿义务，丁方有权代理甲方代为处分乙方向丙方提供的反担保物（如有）。</p>
                <p class="agree-tx">12.2 发生下列情形之一者，丙方应承担相应违约责任：</p>
                <p class="agree-tx">12.2.1 未按协议约定在乙方逾期还款时履行代偿义务，丁方有权要求丙方按未代偿金额或逾期代偿金额每日万分之五向甲方支付罚息；</p>
                <p class="agree-tx">12.2.2 丙方出现本协议10.6中重大不利之情形，足以影响其担保能力，未及时向甲方提供有效担保或采取其他补救措施的，丁方有权要求丙方限期纠正违约事项，并有权要求其按借款总额的百分之三十向甲方支付违约金。</p>
                <br>
                <p><strong class="agree-mg">其  他</strong>
                </p>
                <p><strong class="agree-mg">第十三条 &nbsp&nbsp承诺及保证</strong>
                </p>
                <p class="agree-tx">13.1各方在此确认其为具有完全民事权利能力和完全民事行为能力的自然人或为按照中国法律合法设立并有效存续的企业法人或其他机构，有权签订并履行本协议。并甲、乙、丙方保证：其为宏财网注册用户并在本协议有效期内保持宏财网注册用户身份；</p>
                <p class="agree-tx">13.2 各方承诺并保证，各方已采取一切所需行动，以及（除本协议另有明确规定外）取得签订本协议所需的一切同意书、批文、授权和许可。本协议的签订，不会违反（包括但不限于）(i)各方的公司章程，(ii)各方的其它任何协议或义务，或(iii)任何中国或其它有关的地域的现行法律、法规或法令。其在本协议上签字的代表已被授予全权签署本协议。 </p>
                <p class="agree-tx">13.3 甲方承诺并保证其向乙方提供的资金来源合法。 乙方承诺并保证其向甲方、丙方、丁提供的所有信息均为真实、准确、完整和有效。</p>
                <p class="agree-tx">13.4 各方承诺并保证，不会利用丁方或宏财网进行信用卡套现、洗钱、非法集资或其他不正当交易行为，否则应依法独立承担相应法律责任。</p>
                <p class="agree-tx">13.5 各方同意并确认，甲、乙和丙方授权或委托丁方根据本协议所采取的全部行动和措施的法律后果均归属于甲、乙和丙方；在任何情形下，丁方或宏财网不是本协议项下任何借款或债务的债务人或需要以其自有资金偿还本协议项下的任何借款或债务，丁方或宏财网亦不是本协议项下担保的担保人或需要以其自有资金承担本协议项下的担保责任。甲方和乙方同意，丁方有权就其所提供的居间服务收取相应服务费。</p>
                <p class="agree-tx">13.6各方同意并承诺，本协议项下甲、乙、丙方相互之间提供信息时均应同时提供或抄送给丁方。</p>
                <p class="agree-tx">13.7各方同意并确认，各方委托丁方保管所有与本协议有关的书面文件及电子信息。若各方出示的书面文件或电子信息不一致，以丁方提供的书面文件或电子信息为准（其中书面文件与电子信息不一致的，以书面文件为准）。</p>
                <br>
                <p><strong class="agree-mg">第十四条 &nbsp&nbsp通知</strong>
                </p>
                <p class="agree-tx">14.1 本协议任何一方根据本协议约定做出的通知和/或文件均应以书面形式做出，包括但不限于由专人送达、挂号邮递、特快专递或通过宏财网发布（包括但不限于公告、站内消息等）等方式送达。</p>
                <p class="agree-tx">14.2 通知在下列日期视为送达：</p>
                <p class="agree-tx">14.2.1 专人递送的通知，在专人递送之交付日为有效送达；</p>
                <p class="agree-tx">14.2.2 以挂号信（付清邮资）发出的通知，在寄出（以邮戳为凭）后的五个工作日内为有效送达；</p>
                <p class="agree-tx">4.2.3 以特快专递（付清邮资）发出的通知，在寄出（以邮戳为凭）后的三个工作日内为有效送达；</p>
                <p class="agree-tx">14.2.4 以电子邮件发出的通知，在电子信息反馈为送达后一个工作日内为有效送达；</p>
                <p class="agree-tx">14.2.5 通过宏财网发布的方式（包括但不限于公告、站内消息等方式）通知的，在宏财网发布之日为有效送达。</p>
                <br>
                <p><strong class="agree-mg">第十五条 &nbsp&nbsp保密条款</strong>
                </p>
                <p class="agree-tx">15.1.本协议的任何一方在本协议履行过程中，或为履行本协议的需要，从其他各方所获得的有关商业秘密，未经其他各方同意，不得向任何第三方披露。但是各方聘请的律师、会计师、审计师、评估师或根据法律法规规定及有权部门要求提供的除外。</p>
                <p class="agree-tx">15.2本协议任何一方应采取所有其他必要、适当和可采取的措施，以确保保密信息的保密性。</p>
                <br>
                <p><strong class="agree-mg">第十六条 &nbsp&nbsp费用承担</strong>
                </p>
                <p class="agree-tx">与本协议有关的公证、登记、评估、鉴定、见证、运输、保管等费用由乙方承担。</p>
                <br>
                <p><strong class="agree-mg">第十七条 &nbsp&nbsp不可抗力</strong>
                </p>
                <p class="agree-tx">除非文意另有所指或另有规定,不可抗力是指受影响一方不能合理控制、无法预料或即使可预料到也不可避免且无法克服，并于本协议签订之日后出现的，使该方对本协议全部或部分的履行在客观上成为不可能或不实际（包括但不限于花费合理金额仍无法履行)的任何事件。此等事件包括但不限于任何政府机构行为（无论有效或无效）、火灾、水灾、风暴、暴乱、爆炸、自然灾害、战争、破坏活动、劳工问题（包括停工、罢工和怠工）以及法院禁令或裁定。</p>
                <p class="agree-tx">不可抗力发生时，各方应立即通过友好协商决定如何执行本协议。不可抗力或其影响终止或消除后，各方双方须立即恢复履行各自在本协议项下的各项义务。</p>
                <br>
                <p><strong class="agree-mg">第十八条 &nbsp&nbsp法律适用及争议解决</strong>
                </p>
                <p class="agree-tx">本协议的签订、履行、终止、解释均适用中国法律。各方同意，因本协议所产生的或与本协议有关的一切争议，各方应协商解决；协商无法达成一致的，各方一致同意由丁方所在地人民法院管辖。</p>
                <br>
                <p><strong class="agree-mg">第十九条 &nbsp&nbsp其他事项 </strong>
                </p>
                <p class="agree-tx">19.1 本协议所称担保物（如有）包括抵押物、质物和出质权利。</p>
                <p class="agree-tx">19.2 各方同意并确认，委托丁方对本协议项下的任何金额进行计算；在无明显或实质意义错误的情况下，丁方对本协议项下任何金额的任何证明或确定，应作为该金额有关事项的终局证明。</p>
                <p class="agree-tx">19.3本协议各条款之标题仅为方便查阅而设，不具法律效力或影响本协议的解释。</p>
                <p class="agree-tx">19.4 本协议中部分条款根据相关法律法规等的规定为无效，或部分无效时，该等无效不影响本协议项下其他条款的效力，各方仍应履行其在本协议项下的义务。</p>
                <p class="agree-tx">19.5 本协议项下的附件和补充协议构成本协议不可分割的一部分。</p>
                <p class="agree-tx">19.6本协议未尽事宜，遵照有关法律法规和执行。</p>
                <p><strong class="agree-mg">（以下无正文) </strong>
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p><strong class="agree-mg">甲方（出借人）</strong>（签字）：</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p><strong class="agree-mg">乙方（借款人） </strong>（盖章）：</p>
                <p class="agree-tx">法定代表人/授权代表（签字）：</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p><strong class="agree-mg">丙方（保证人）</strong>（盖章）：</p>
                <p class="agree-tx">法定代表人/授权代表（签字）：</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p><strong class="agree-mg">丁方（居间人）</strong>（盖章）：北京竞财投资服务有限公司</p>
                <p class="agree-tx">法定代表人/授权代表（签字）：</p>
                <br>
                <br>
                <br>
                <br>
                <p class="agree-tx">*此模板仅为模板，具体协议以各方最终签订为准。</p>



              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="">
        <div class="col-xs-offset-4 col-xs-4">
          <a class="btn btn-primary btn-block" ng-click="$hide()">知道啦</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mask_layer"></div>
