<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <div class="title">
    <strong >温馨提示：</strong>
  </div>
  
  <div class="content">
    <p ng-if="!msg">已转让债权本金{{data.soldStock * 100 || 0}}元，未转让债权本金{{data.currentStock * 100 || 0}}元，是否确认撤销？</p>
    <p ng-if="msg">{{msg}}</p>
  </div>

  <div class="bottom col-xs-10 col-xs-offset-1 margin-b-30">
    <a ng-if="!msg" class="btn btn-primary-orange btn-block pull-left margin-r-125" href="javascript:;" ng-click="$hide();">继续转让</a>
    <a ng-if="!msg" class="btn btn-primary-orange btn-block pull-left" href="javascript:;" ng-click="$hide();deleteCreditAssignment(data.number)">确认撤销</a>
    <a ng-if="msg" class="btn btn-primary-orange btn-block pull-left margin-l" href="javascript:;" ng-click="$hide()">我知道了</a>
  </div>
  
</div>
<div class="mask_layer"></div>