<div ng-repeat="card in media" class="slide" on-finish-render="init()">
    <!-- <div class="sponsors" ng-repeat="item in card.items"> -->
        <div class="cooperation-icon" ng-repeat="item in card.items">
          <a ui-sref="root.project-sponsorInstitution({guaranteeId : item.id})">
            <div class="sonsor-row margin-b-5">
              <img ng-src="{{card.baseFileUrl + item.url}}" width="35" height="35"/>
              <span class="sponsor-name">{{item.name}}</span>
            </div>
            <div class="sonsor-row bg-grey">
              <small>注册资本：{{item.registerCapital}}万</small>
              <small class="float-r">详细&gt;</small>
            </div>
          </a>
        </div>
    <!-- </div> -->
  
</div>