<div class="banner-bg">
  <img src="/images/banner/banner-5.jpg">
</div>
<div class="partner-main">
  <br>
  <div class="border-bottom">
    <div class="word-area">
      <p>宏财网，致力于推动P2B 2.0新型网贷模式。秉承专业务实、包容创新的态度，在严格筛选担保公司的同时，也获得了担保公司的认可。经过长期、深入的洽谈，宏财网近期与四家优质担保机构建立了战略合作关系。这四家担保机构分别为：甘肃省担保、吉联担保、中东担保、北方汽车担保公司。<br>在互联网金融顺势的大背景下，宏财网愿与优质担保机构合作，共同开创P2B 2.0的未来，为融资方以及投资人提供更为安全可靠、方便快捷的服务。</p>
    </div>
    <br>
  </div>
  <br>
  <div class="border-bottom">
    <div class="word-area">
      <h2><img src="/images/partnerLogo/gansu.png" class="border-all" width="50" height="50">甘肃省融资担保集团</h2>
      <p>甘肃省融资担保集团有限公司（以下简称“集团公司”）是甘肃省工业和信息化委员会批准成立的的国有独资企业，是由甘肃省公路航空旅游投资集团公司独家发起设立的法人机构，是甘肃省内资金规模最大的信用担保公司。与国家开发银行、建设银行、中国银行、进出口银行、浦发银行、招商银行、兴业银行等1８家金融机构开展业务合作，获得授信总额近200亿元。截至2013年末，累计为地方中小微企业提供担保48亿元，发放小额贷款13亿元，支持企业达500余户，获得2012年度“省长金融奖”。被多家银行评为AA+级信用企业。</p>
      <br>
      <img src="/images/strategicPartner/gansusheng_cgc.png" width="100%">
    </div>
    <br>
  </div>
  <br>
  <div class="border-bottom">
    <div class="word-area">
      <h2><img src="/images/partnerLogo/zhongdong.png" class="border-all"  width="50" height="50">吉林省中东信用担保有限责任公司</h2>
      <p>吉林省中东信用担保有限责任公司成立于2001年4月，注册资本4亿元人民币，是一家经省政府批准成立的国有参股的专业性融资担保机构。现拥有一家子公司和十一家营业部，经过十四年的发展和壮大，中东担保公司现已成为吉林省担保行业中的明星企业，在吉林省担保行业中位列前三位，拥有良好的口碑和社会知名度。先后被省、市政府评为“星级文明服务标兵单位”、“资信AAA级先进单位”等荣誉称号，2005年、2006年、2007年连续三次被评为“长春市先进担保公司”；2009、2010年连续两年被评为促进“商贸流通优秀企业”；2011年，荣膺中国担保先锋•中国担保英才“最佳风险控制奖”、中共长春市委、长春市人民政府“支持中小企业融资贡献奖” 、2012年，省担保行业“业绩突出贡献单位”、 2013年“中国担保辉煌先锋”等荣誉称号。</p>
       <br>
      <div class="text-center">
        <img src="/images/strategicPartner/zhongdong.png" width="50%">
      </div>
    </div>
    <br>
  </div>
  <br>
  <div class="border-bottom">
    <div class="word-area">
      <h2><img src="/images/partnerLogo/jilian.png" class="border-all"  width="50" height="50">长春吉联担保有限公司</h2>
      <p>长春吉联担保有限公司是经吉林省工信厅批准，工商行政管理部门登记注册成立的省内规模较大的综合性担保企业，2009年公司的资信等级评定为A+级，2010年公司被吉林省工信厅评为吉林省中小企业担保贷款业绩突出贡献单位；获吉林省商贸流通优秀企业称号；2010年度信用等级评定为A+级，以长春为中心，公司建立了辐射各地的营销网络。并在松源、双阳、农安建了办事机构，同时在全省建立了多种类型的战略联盟。</p>
    </div>
    <br>
  </div>
  <br>
  <div>
    <div class="word-area">
      <h2><img src="/images/partnerLogo/beifang.png" class="border-all"  width="50" height="50">吉林北方汽车产业担保有限公司</h2>
      <p>吉林北方汽车产业担保有限公司经省、市中小企业局批准于2008年11月正式成立，是长春汽车产业开发区的融资平台，信用评级为A+级。经营范围是为中小企业提供贷款担保以及融资服务咨询。北方担保与交通银行、吉林银行、民生银行、招商银行、信合等多家金融机构建立了合作关系。北方汽车产业担保有限公司将业务定位于汽车产、供、销的产业链，建立应收账款质押担保业务平台。该产业链经过十几年甚至几十年的经营，已经具备相当大的规模，涉及的企业3000—4000家，既有国家振兴汽车产业的政策支持，又有各级地方政府部门的大力扶持，同时还有主供配套企业产业资本作为基础，银行业金融资本作为后盾，应收账款质押贷款业务风险很小。</p>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
