<div style="background:white;">
<div class="banner-bg">
  <img src="/images/banner/banner-6.jpg">
</div>
<div class="container banner-p2b">
  <br>
  <br>
  <p>P2P，英文叫做Peer to Peer Lending，即点对点信贷，或称个人对个人信贷，属于金融服务行业的一种，其主要业务方向是为有资金需求的借款人和有投资需求的投资人搭建合作式服务平台。但是，平台如何服务才能吸引客户，提升用户粘度，对于P2P网络借贷来说，把握好投资者的资金安全是重中之重。目前，大部分平台都通过信审系统、风控体系、以及担保体系等多重保障确保资金的安全。2007年国内第一家P2P网络贷款平台诞生，2011年国内网络贷款市场爆发式生长，平台数量和年总交易额均以每年4-5倍的速度递增。在P2P平台因为自身局限性，风控体系缺乏，频繁“跑路”的大环境下，2013年一种全新的互联网金融服务模式诞生 - P2B。
  <br>
  <br>
  P2B，Person to Business Lending，即通过互联网实现个人对中小微企业的一种贷款模式。投资者在风险可控的条件下获得最大化的收益，同时中小微企业又能以远低于民间借贷的利率获得中短期发展所需的资金。P2B的担保模式就是为满足市场及用户需求而引入，可以说是具有中国经济社会特色的本土网贷新型模式。该模式主要是通过第三方担保的方式对投资者的本金提供保障,避免企业自身的经营风险和道德风险。自出现以来，该模式因可观的收益，较高的安全保障，透明的资金操作，广阔的发展前景，而受到风险资金的追捧，多家平台获得千万美元级的风险投资，引爆了P2B市场。截止2014年11月，市场上活跃的P2B平台达400多家。
  </p>
  <br>
  <br>
  <hr/>
  <br>
  <br>
  <p class="ftw-b ft-24">
    乱象丛生的P2B 1.0时代
  </p>
  <p>
    相对于传统的P2P，早期的P2B平台，安全性方面虽然有了显著的提高，借款方由个人信用贷转变成中小企业抵押贷，同时引入了担保。但由于模式不成熟，风控体系不完善，市场竞争无序，多数平台在没有充分准备的情况下就仓促进入P2B市场，导致平台存在某些发展中必然的缺陷。更有甚者，在基本没有进入门槛的情况下，平台沦落为不法企业自融的工具。1.0时代的P2B平台模式有三种：
  </p>
  <br>
  <h5 class="ftw-b">1.  小额信贷合作模式</h5>
  <p>
    平台与各个小额信贷公司合作，由小额信贷公司接触当地的中小微型企业，了解借款需求，并向平台发出借款申请，平台发布借款标的。小额信贷公司的项目一般利率偏高，以此来吸引投资人，再由小额信贷公司自身为项目做担保。小额信贷的特征是债务人无需提供抵押物品或者第三方担保就可取得借款，且小额信贷公司一般为非融资性担保企业，其担保规模不能超过其自身的注册资本，但是大多数小额信贷公司在利益的驱动下，会担保超过其注册资本几倍的贷款。此类平台一旦出现问题，小额信贷公司很难进行全额赔付，风险极大。

  </p>
  <br>
  <div class="row"><img src="images/bannerP2B/p2b-img1.png" width="663" height="254"></div>
  <br>
  <h5 class="ftw-b">2.  自融或自担保模式</h5>
  <p>
    平台与担保公司在同一个实际控制人之下或是同一个法定代表人，甚至是平台、担保公司及借款企业在同一个实际控制人之下，或是同一个法定代表人。根据银监会明确表示的P2P平台的四条红线，平台本身不允许提供担保，仅作为中介平台。有些中小型平台则自己成立担保公司，为借款企业提供担保从而为平台增信。更有一些平台是由借款企业设立，同时也成立担保公司，为自己的项目做担保。这类挂羊头卖狗肉的平台已经完全失去应有的第三方担保的风控，甚至平台成立的初衷就已经沦为企业的融资工具。此类平台一旦出现问题，出借人往往血本无归，风险极大。

  </p>
  <div class="row"><img src="images/bannerP2B/p2b-img2.png" width="559" height="408"></div>
  <br>
  <h5 class="ftw-b">3.  担保公司模式</h5>
  <p>
    平台与担保公司签署战略合作协议，由平台自己寻找借款企业推荐给担保公司进行担保或是由担保公司直接推荐借款企业给平台，平台发布借款标的。一些P2B平台并未对担保公司加以筛选，合作的担保公司也参差不齐：有些资金实力弱代偿能力低，有些对担保及抵押物的处理措施不尽完善，对项目的筛选不尽充分，有些用同一抵押物申请多次贷款等违规担保，甚至有些担保公司没有融资性担保资质。此类平台一旦出现问题，担保公司无法代偿从而导致平台资金链断裂，甚至是跑路，也会给出借人带来损失。

  </p>
  <div class="row"><img src="images/bannerP2B/p2b-img3.png" width="556" height="400"></div>
  <br>
  <br>
  <p class="ftw-b ft-24">
    互联网借贷生态圈的P2B 2.0时代
  </p>
  <br>
  <br>
  <p>
    宏财网秉承专业务实、包容创新的态度，致力于为投资者打造一个信息透明，安全可靠，收益稳定的互联网借贷生态系统。宏财网的风控团队首先通过各项指标及实地考察挑选优质的担保机构，该类机构主体信用评级均在A+以上，机构多为受政府扶持的龙头企业，或是供应链金融端的行业翘楚。其次，宏财网引入国有大型担保公司进行再担保，双重保险以应对各种突发事件，保障用户资金安全。最后，宏财网自有的风控团队会与独立的会计师事务所及律师事务所对担保机构推荐的项目进行审核，并出具审核报告，力争筛选出最为可靠的项目。优质担保机构因其实力雄厚、管理规范、项目优质等优势，受到银行青睐，其推荐的项目通常符合银行要求，项目质量好、风险低，通常被称为银行级项目。宏财网联合优质的担保机构，国有大型再担保，独立的会计及律师事务所，为投资人打造一个完整、安全的互联网借贷生态系统，加上平台自有近乎严苛的风控管理，投资人所享受的是银行级的投资产品，互联网金融产品的收益。
  </p>
  <br>
  <div class="row"><img src="images/bannerP2B/p2b-img4.png" width="894" height="482"></div>
  <br>
  <br>
  <p>
    网贷之家的数据显示，市场上交易量排名前10的P2B平台合作的担保机构多达200多家，其中融资性担保公司比例58.3%，国有背景的担保公司比例仅有18.9%，主体信用评级达A+以上的担保公司比例仅占15.9%。宏财人一直坚持的信念“宏普惠之光，富百姓之财”。挑选信用评级A+以上的担保公司合作，项目筛选优中选优正是我们宏财人实现信念的坚实保障，也是我们宏财网在这P2P乱世中的核心竞争力。没有信念何以谈宏普惠，没有安全何以谈富民财！

  </p>
  <br>
  <br>

</div>
</div>

