<!--公司简介变成加入宏财-->
<div class="right-area col-md-9 col-lg-9 padding-b-57">
  <div class="row">
	 <div class="right-title-about2"><p>加入宏财</p></div>
  </div>
  <div class="row">
    <div class="row">
        <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110 line-h-28 padding-b-35 margin-b-35">
        <strong class="ft-18">这里是宏财人成就梦想的舞台！</strong><br>
        <br>我们是一群有着梦想，期待挑战的宏财人！
        <br>我们有来自国际投行、私募行业、四大资产管理公司及互联网行业各级精英！
        <br>如果你同我们一样，满怀激情，怀揣梦想，赶紧加入我们吧！
        <br>我们正在热招以下职位，请发邮件给我们，相关部门的人员会第一时间联系你。
        <br>请发送您的简历至：service@hongcai.com</p>
    </div>
    <!-- <div class="help-ico {{changePosition1 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition1 =! changePosition1"></div>
    <p class="p-click1" ng-click="changePosition1 =! changePosition1">&nbsp;&nbsp;&nbsp;Web前端开发工程师 </p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition1 == true">
        岗位职责：
        <br>1. 负责P2P网贷产品和管理平台的前端开发，编写可复用的用户界面组件；
        <br>2. 持续的优化前端体验和页面响应速度，并保证兼容性和执行效率；
        <br>3. 配合后台工程师一起研讨技术实现方案，进行应用及系统整合；
        <br>4. 开发移动平台的Web前端产品。
        <br>任职要求：
        <br>1. 熟悉html/js/css/ajax等技术，懂得如何分离html、js和css，熟练掌握jquery； 
        <br>2. 了解MV*模式，熟悉Angular.js或Ember.js，了解CMD/AMD规范； 
        <br>3. 追求最佳用户体验，工作认真细致，有责任心，有激情, 具有良好的团队协作精神； 
        <br>4. 具有快速学习不同技术和编程语言的能力； 
        <br>5. 喜欢创业公司环境，渴望与公司一起成长； 
        <br>6. 具有多种js库使用经验者优先； 
        <br>7. 具有良好的英语听说读写能力者优先； 
        <br>8. 具有Android、iPhone、iPad等智能手机和平板开发经验优先； 
        <br>9. 使用过至少一种后台语言（例如Node.js），且有项目经验者优先； 
        <br>10. 熟悉html5和css3，有实际项目经验者优先； 
        <br>11. 了解W3C标准，理解表现与数据分离、Web语义化，有前端性能优化者优先。
    </p> -->
  </div>
  <!-- <div class="row">
    <div class="help-ico {{changePosition2 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition2 =! changePosition2"></div>
    <p class="p-click1" ng-click="changePosition2 =! changePosition2">&nbsp;&nbsp;&nbsp;测试开发高级工程师</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition2 == true">
        职位描述: 
        <br>1. 维护和开发单元测试、API测试、UI测试等自动化测试工具，在项目中实施自动化测试，提高代码的可测性；
        <br>2. 设计、构建和优化持续交付流程，维护和开发相关基础设施。
        <br>职位要求: 
        <br>1. 熟悉Java、Python、Objective-C‎（swift）、Ruby、Shell、Javascript等语言中的至少一种；
        <br>2. 在Android、iOS、web至少一个领域，有丰富的自动化测试和持续集成相关经验；
        <br>3. 有良好的团队合作精神，有责任感，有较好的沟通能力，主动性强；
        <br>4. 有钻研新技术的热情和能力。 
        <br>优先条件: 
        <br>1. 对开源技术有强烈的兴趣和爱好，曾经直接向开发者报告过bug或者贡献过patch优先；  
        <br>2. 熟悉Jenkins、Git、Puppet、Chef等工具优先；  
        <br>3. web领域：熟悉webdriver等工具优先；
        <br>4. Android领域：熟悉Gradle、Maven、Junit、Espresso、Robolectric、Appium等测试工具优先；
        <br>5. iOS领域：熟悉OCUnit、UI Automation、KIF、Appium等测试工具优先。
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition3 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition3 =! changePosition3"></div>
    <p class="p-click1" ng-click="changePosition3 =! changePosition3">&nbsp;&nbsp;&nbsp;html页面开发工程师</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition3 == true">
        岗位职责：
        <br>1. 负责P2P网贷产品和管理平台的页面开发，包括页面切割、布局、页面交互、js特效等等； 
        <br>2. 和前后端开发工程师一起，完成功能业务开发； 
        <br>3. 开发移动平台的Web前端产品。 
        <br>任职要求：
        <br>1. 熟悉html/js/css/ajax等技术，懂得如何分离html、js和css，熟练掌握jquery； 
        <br>2. 追求最佳用户体验，工作认真细致，有责任心，有激情, 具有良好的团队协作精神； 
        <br>3. 具有快速学习不同技术和编程语言的能力；  
        <br>4. 喜欢创业公司环境，渴望与公司一起成长； 
        <br>5. 了解MV*模式，熟悉Angular.js或Ember.js，了解CMD/AMD规范者优先；  
        <br>6. 具有多种js库使用经验者优先；  
        <br>7. 具有良好的英语听说读写能力者优先； 
        <br>8. 具有Android、iPhone、iPad等智能手机和平板开发经验优先；  
        <br>9. 使用过至少一种后台语言（例如Node.js），且有项目经验者优先；  
        <br>10. 熟悉html5和css3，有实际项目经验者优先； 
        <br>11. 了解W3C标准，理解表现与数据分离、Web语义化，有前端性能优化者优先。
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition4 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition4 =! changePosition4"></div>
    <p class="p-click1" ng-click="changePosition4 =! changePosition4">&nbsp;&nbsp;&nbsp;（后台）开发工程师/高级开发工程师</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition4 == true">
        岗位职责：
        <br>1. 理解产品策划，参与产品设计，估算开发任务的工作量并按照技术架构的要求实现产品后台的需求； 
        <br>2. 按照开发流程要求编写和维护单元测试、集成测试和数据准备脚本； 
        <br>3. 按照开发流程要求编写和维护性能测试脚本； 
        <br>4. 修改Bug，完成运营维护任务； 
        <br>5. 高级开发工程师需要指导开发工程师按照技术架构和业务需求进行开发，复审代码，发现开发过程中出现的技术和流程问题，并协助架构师解决问题。 
        <br>岗位要求：
        <br>1. 有两年以上java和j2ee开发经验，熟悉软件开发过程，有较强解决问题的能力，能够迅速、独立、高质量的完成开发任务； 
        <br>2. 逻辑思维清晰，表达与沟通能力较强，有强烈的责任心及团队合作精神； 
        <br>3. 熟练掌握SQL，熟悉数据库表结构设计与性能调优；
        <br>4. 了解高并发web应用的特点和并发编程优先；
        <br>5. 熟悉Flex和ActionScript者优先；
        <br>6. 熟悉设计模式，熟悉TDD、Scrum、持续集成等敏捷开发实践者优先； 
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition5 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition5 =! changePosition5"></div>
    <p class="p-click1" ng-click="changePosition5 =! changePosition5">&nbsp;&nbsp;&nbsp;iOS高级开发工程师 </p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition5 == true">
      岗位职责：
      <br>1. 负责iOS平台App的软件开发； 
      <br>2. 参与项目的技术论证和架构设计；  
      <br>3. 程序的模块设计和分析； 
      <br>4. 代码编写和版本迭代。
      <br>任职要求：
      <br>1. 能够熟练阅读英文技术文档，乐于解决技术难题，学习能力强。 
      <br>2. 本科及以上学历，计算机、通讯相关专业，具有一年以上相关开发经验。 
      <br>3. 熟悉iOS系统技术规范。  
      <br>4. 熟练掌握和运用Object-C或C/C++语言，熟悉MacOSX操作技术、XCode开发环境以及iphoneSDK； 
      <br>5. 熟悉软件开发流程，能够独立完成设计、编码、单元测试。  
      <br>6. 良好的团队合作和沟通能力，工作认真负责，有较强的敬业精神和优秀的心理素质，具有创业精神。 
      <br>加分项：
      <br>1. 有完整iOS应用开发经验者优先； 
      <br>2. 有不同手机移植经验者优先； 
      <br>3. 熟悉敏捷开发流程，了解scrum 尤佳。
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition6 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition6 =! changePosition6"></div>
    <p class="p-click1" ng-click="changePosition6 =! changePosition6">&nbsp;&nbsp;&nbsp;Android高级开发工程师</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition6 == true">
      岗位职责：
      <br>1. 负责Android平台App的软件开发； 
      <br>2. 参与项目的技术论证和架构设计；  
      <br>3. 程序的模块设计和分析； 
      <br>4. 代码编写和版本迭代。
      <br>任职要求：
      <br>1. 2年以上软件开发经验，1年半以上Android/开发经验； 
      <br>2. 熟练运用Android标准控件，能够定制UI控件； 
      <br>3. 熟悉Android应用的运行机理，精通J2SE，Java，SQL语言；  
      <br>4. 熟悉网络通信机制，对Socket和HTTP有一定的理解和经验；  
      <br>5. 能独立开发,有较强的代码阅读能力、学习能力；  
      <br>6. 良好的团队合作和沟通能力，工作认真负责，有较强的敬业精神和优秀的心理素质，具有创业精神。 
      <br>7. 熟悉敏捷开发流程，了解scrum 尤佳。
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition7 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition7 =! changePosition7"></div>
    <p class="p-click1" ng-click="changePosition7 =! changePosition7">&nbsp;&nbsp;&nbsp;项目专员</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition7 == true">
      岗位职责：
      <br>1. 进行项目线上平台发标文件的整理和汇总；
      <br>2. 协调各部门组织项目上会； 
      <br>3. 对项目文件进行分类整理归档制定内部跟进；
      <br>4. 协助项目主管完成项目行政事务工作及项目内部日常事务工作；
      <br>5. 协助审核、修订项目各项管理规章制度，进行日常行政工作的组织与管理； 
      <br>6. 部门项目资料的审核及填写项目报告。 
      <br>任职要求：
      <br>1. 2年以上金融行业从业经验，1年以上互联网金融从业经验；  
      <br>2. 了解互联网金融运作流程，具有互联网思维和创新精神； 
      <br>3. 沟通能力强，协调能力强，有一定抗压能力；  
      <br>4. 能独立进行项目报告撰写。 
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition8 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition8 =! changePosition8"></div>
    <p class="p-click1" ng-click="changePosition8 =! changePosition8">&nbsp;&nbsp;&nbsp;自媒体运营专员</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition8 == true">
      岗位职责：
      <br>1. 负责微博、微信等自媒体的运营、推广，根据公司阶段性发展计划策划并执行线上营销活动；
      <br>2. 负责微博、微信等自媒体的内容发布、粉丝互动、话题制造、活动执行；
      <br>3. 了解CRM，根据粉丝/会员相关数据策划互动率较高的营销活动及软文；
      <br>4. 根据事实热点撰写软文同时发布信息；
      <br>5. 建立有效运营手段提升网友活跃度，增加粉丝数，提高关注度；
      <br>6. 跟踪微博、微信推广效果，分析数据并反馈，分享微博推广经验；
      <br>7. 有金融、互联网或4A相关行业经验者优先。
      <br>任职要求：
      <br>1. 本科及以上学历，具有1年或以上微博、微信运营等相关工作经验；
      <br>2. 扎实的文字功底，头脑灵活，熟悉微博、微信运营、口碑营销、PR炒作、论坛SNS营销、SEO，有成功微博、微信运营经验者优先，了解互联网、移动互联网、金融行业；
      <br>3. 对微博、网媒、自媒体、手机终端等新媒体运作有一定了解，对热点事件、新闻动态等信息敏感、把握能力强，能够及时组织语言，在微博、微信上做出响应；
      <br>4. 有良好的团队协作精神和创新能力；
      <br>5. 热爱微博、微信等社会化媒体，熟悉其他网络媒体（BBS/Blog/SNS），微博控优先。
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition9 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition9 =! changePosition9"></div>
    <p class="p-click1" ng-click="changePosition9 =! changePosition9">&nbsp;&nbsp;&nbsp;线下执行专员</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition9 == true">
      岗位职责：
      <br>1. 负责展位，展会活动、推介会、颁奖典礼以及配合线下活动等的策划、组织及执行；
      <br>2. 根据公司或市场所提供要求，创意策划表达需要的核心理念，对策划的需求以及方案有强烈的领悟能力；
      <br>3. 全面掌握展会或舞台搭建，灯光音响，活动现场布置，对活动流程有深刻的理解，具有独特的创意思维和丰富的想象力，分析问题解决问题有自己独到见解，富有激情；
      <br>4. 负责对活动和项目进行全程的策划、部署，组织协调各类资源来推动方案的实施，确保方案在预算内及时完成，并达到相应的宣传目标；
      <br>5. 协调团队正常完成各项活动以及灵活应付突发事故； 
      <br>6. 具有较扎实的文字功底，可独立撰写软文。
      <br>任职要求：
      <br>1. 本科及以上学历，市场营销、新闻传播、广告策划、影视文化类等相关专业； 
      <br>2. 至少2年以上公关活动策划执行经验，能独立进行公关活动方案的策划、组织、执行； 
      <br>3. 能熟练使用PPT,熟悉，熟悉Photoshop、coreldraw、Adobe Illustrator操作优先录取； 
      <br>4. 优秀的人际关系处理和协调能力，良好的学习能力，较强的执行力及优秀的文案撰写能力；
      <br>5. 有针对大型企业营销策划、传媒策划经验和对现场工程执行有基础的，优先录用； 
      <br>6. 有强烈的事业责任心，高度的工作热情，团队合作精神，具有较强的逻辑思维和分析能力。
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition10 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition10 =! changePosition10"></div>
    <p class="p-click1" ng-click="changePosition10 =! changePosition10">&nbsp;&nbsp;&nbsp;平面设计</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition10 == true">
      岗位职责：
      <br>1. 参与提炼产品概念，进行公司各渠道产品线设计，包括产品包装及相关平面设计；
      <br>2. 销售物料、门店促销及展览展示的相关设计；
      <br>3. 提升企业及品牌形象，画册、内刊、DM等广宣用品的相关设计；
      <br>4. 企业及协会网站上线的相关动画及图片设计的处理；
      <br>5. 积极主动收集各类相关行业资料，多方面收集设计发展信息，丰富设计思想及传达。
      <br>任职要求 
      <br>1. 艺术设计类及视觉传达类专业毕业；2年以上平面广告设计经验大专以上学历；
      <br>2. 具有较强的审美能力、创意设计能力及时尚流行眼光；有原创激情，能够提出独立的创意概念并付诸表现；  
      <br>3. 能熟练运用Photoshop、illustrator、CorelDraw等设计软件及Word、Excel、PPT等办公软件；了解网页制作及相关软件Dreamweaver、flash软件、手绘等；  
      <br>4. 具备高端奢侈品、互联网、金融行业等设计经验；  
      <br>5. 有团队合作精神，善于协调沟通。工作积极主动，为人真诚，乐于接受新鲜事物。 
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition3 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition11 =! changePosition11"></div>
    <p class="p-click1" ng-click="changePosition11=! changePosition11">&nbsp;&nbsp;&nbsp;P2B项目经理（1—2名）</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition11 == true">
      岗位职责：
      <br>1. 负责平台项目的收集、调研，撰写项目尽调报告书； 
      <br>2. 负责对接业务部与技术部门，组织对网站项目发布方面的内容建设，提升用户体验，对网站的互动功能、架构设计、贷款产品、业务流程进行监控，保证业务需求能够通过技术手段得以实现。 
      <br>3. 负责组织人员通过各种有效方式进行客户开发工作；
      <br>4. 负责组织人员收集客户信息，定期形成客户信息分析报告；
      <br>5. 负责贷后管理的相关工作；
      <br>6. 根据一线工作了解到的客户反馈，向公司提出产品及流程优化建议。
      <br>任职要求：
      <br>1. 二年以上P2P行业从业经验优先；
      <br>2. 本科及以上学历，项目管理、金融等专业优先考虑；
      <br>3. 具有良好的客户沟通、人际交往及维系客户关系的能力；
      <br>4. 具有团队精神，责任心强，能够承受压力，接受挑战。
    </p>
  </div>
  <div class="row">
    <div class="help-ico {{changePosition12 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1 margin-l-110 margin-t-5" ng-click="changePosition12 =! changePosition12"></div>
    <p class="p-click1" ng-click="changePosition12 =! changePosition12">&nbsp;&nbsp;&nbsp;合规专员</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 margin-l-110" ng-if="changePosition12 == true">
      岗位职责：
      <br>1. 起草合同及其他法律文件，协助完成公司各类合同原件及其他法律文件审查、分类、归档等工作； 
      <br>2. 收集、研究、宣传新的法律法规、政策及监管文件，协助完成相关宣导、培训等工作； 
      <br>3. 参与制定、修改、完善公司相关规章制度；
      <br>4. 日常法律事务处理和咨询，为公司日常运营提供法律支持；
      <br>5. 协助部门负责人对公司相关运营流程进行监管，保证公司合规运营；
      <br>6. 完成本部门负责人交办的其他相关工作。
      <br>任职要求：
      <br>1. 2年以上法律或相关专业从业经验；
      <br>2. 法律专业基础良好，熟悉公司法、合同法及金融相关法律法规等；
      <br>3. 能独立进行法律文书撰写；
      <br>4. 良好的团队合作和沟通能力，工作认真负责，有较强的敬业精神和优秀的心理素质。
    </p>
  </div> -->
</div>
