<!--顾问团队-->
<div class="right-area col-md-9 col-lg-9 consultant-team">
	<div class="row">
		<div class="right-title-about">顾问团队</div>
	</div>
	<div class="row">
		<div class="col-xs-12 introduction-area">
			<p class="ft-black">宏财网聘请了专业的顾问团队，力争为大家建立一个更好的投资氛围。</p>
			<div class="dynamic-show row">
				<div class="col-xs-3">
					<p class="ft-black text-center">
					<img src="/images/head/head_1.jpg" alt="邓艳芳（项目资产评估顾问）">
					<br>邓艳芳
					<br>（项目资产评估顾问）
					</p>
				</div>
				<p class="col-xs-9">高级会计师，财政部金融企业国有资产评估项目评审专家，IACVA国际企业价值评估分析师协会（中国）教育委员会副主任委员。专注于金融资产评估，对金融企业评估有丰富的经验，谙熟金融企业运作模式。</p>
			</div>
			<div class="dynamic-show row">
				<div class="col-xs-3">
					<p class="ft-black text-center">
					<img src="/images/head/head_2.jpg" alt="杜莹芬（项目财务评估顾问）">
					<br>杜莹芬
					<br>（项目财务评估顾问）
					</p>
				</div>
				<p class="col-xs-9">中国社会科学院工业经济研究所研究员，财务与会计研究室主任，中国企业管理研究会常务理事，中国社会科学院研究生院教授、博士生导师，全国企业管理现代化创新成果审定委员会专家组成员。主要研究方向为企业管理、财务管理、企业并购与重组。</p>
			</div> 
			<div class="dynamic-show row">
				<div class="col-xs-3">
					<p class="ft-black text-center">
					<img src="/images/head/head_3.jpg" alt="蔡曙涛（经济法学顾问）">
					<br>
					蔡曙涛
					<br>（经济法学顾问）
					</p>
				</div>
				<p class="col-xs-9">北京大学教授、北京大学国家高新区发展战略研究院副院长、中国法学会北京经济法学研究会常任理事。曾经于1996年，获北京大学 GE China （中国通用）教学优秀奖 。1997年，获北京大学年度教学优秀奖。</p>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p class="ft-black text-center">
					<img src="/images/head/head_4.jpg" alt="刘丽文（高级流程优化顾问）">
					<br>刘丽文
					<br>（高级流程优化顾问）
					</p>
				</div>
				<p class="col-xs-9">清华大学经济管理学院教授、博士生导师。主要研究领域为企业生产与运作管理、供应链管理、JIT和精益生产、物流管理、服务管理、工业工程。
				<br>刘丽文教授曾于1989年4月至1991年7月在日本东京日中经济法律中心做研究员，1993年1月至7月在加拿大西安大略大学商学院做访问学者，1999 年10月至2000年1月在日本名古屋工业大学系统工程系做研究员，2001年3月至7月在美国华盛顿大学奥林商学院做访问学者，2004年9月至10月在日本中央大学科学与工程研究生院工业及系统工程系做客座教授。目前兼任清华大学现代管理研究中心研究员。</p>
			</div>
		</div>
	</div>
</div>