<!-- 项目方介绍 -->
<div class="right-area col-md-9 col-lg-9 introduction-height3">
  <div class="row">
    <div class="right-title-about2"><p class="projecter">项目方介绍</p></div>
  </div>
  <div class="ft-14 ft-grey666 text-center projecter-one">
    <img src="/images/about-us/guoxin.png" alt="国信卓越" width="20%">
    <p class="text-justify margin-t-30">国信卓越信息咨询有限公司（以下简称国信）为有信伟业集团主要控股，是有信金融四驾马车之一。国信始终坚持“以小为美”，专注为中小微企业提供专业、便捷、多元化的金融服务。</p>
  </div>
  <div class="ft-14 ft-grey666 text-center projecter-two">
    <img src="/images/about-us/qingtong.png" alt="青桐" width="32%">
    <p class="text-justify margin-t-30">北京青桐资产管理有限公司，注册资本金1000万元，青桐资产以“金融为主，产业为辅，产融结合”为经营理念，业务涵盖汽车金融和房产金融。</p>
  </div>
</div>
