<!-- 平台介绍 -->
<div class="right-area col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>平台介绍</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
  	<p class="ft-24 margin-b-40">宏财网-值得信赖的P2P网贷平台</p>
  	<p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">宏财网是国内领先的专注于中小微企业贷款需求的互联网金融信息服务平台，2016年获得A轮战略投资。自2014年成立以来，宏财网始终秉承“安全第一，信息透明，回报稳健，操作便捷”的理念，不断为融资双方提供优质的互联网金融服务。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">宏财网创始人、董事长刘刚，中国人民大学管理学博士。曾在国务院国资委下属的中国企业联合会担任管理创新处处长，参与国务院国资委发起的中央企业管理提升工作，非常熟悉国内企业管理状况，执笔起草的多份企业管理方面的报告获中央领导的重要批示。现担任宏财网董事长兼CEO，同时担任首都企业改革研究会常务理事、首都经济贸易大学MBA导师（金融学方向）、芜湖市镜湖区人力资源和社会保障局创业导师。2015年成为《当代经理人》杂志封面人物。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">在风控方面，坚持立体审查原则，在资产甄选、资产评估、风险评定、贷后管理、合规作业等每一个环节进行严格审核，避免风险事件的发生。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">在资产方面，结合项目方十多年积累的优质资源，打造了一个相对封闭的金融生态圈，项目信息透明、知根知底。目前宏财网以90天和180天的汽车金融和小微产业金融和项目为主。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">在安全方面，宏财网已经采用SSL256位数据传输加密信息保护技术、WAF防火墙系统保障技术及两地三中心的容灾备份方案，7×24小时全天侯保障用户数据安全。目前宏财网顺利通过国家信息安全等级保护三级测评，获得非银行机构最高安全评级证书。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">宏财网已经接入海口联合农商银行存管系统，实现了用户资金与网贷平台资金的全面隔离，用户每笔资金操作都经由海口联合农商银行存管系统验证执行，交易数据同时报备北京市金融局和北京网贷行业协会，加强交易的安全性与透明度。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">当前，宏财网积极拥抱监管，不断强化自身合规化建设，已接入海口联合农商银行资金存管系统，一步步脚踏实地，迈向规范化运营的新阶段。接下来，平台将继续秉承“掌控优质资产，坚守用户体验，积极拥抱监管”的宗旨，向更合规、更安全、更智能的互联网金融平台迈进，为借款方及出借方提供稳健、便捷、人性化的普惠金融服务。</p>
  </div>
  <div class="row important-events ft-15 ft-grey555 text-center margin-t-23">
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10 margin-b-30" style="text-indent: 0;"><span class="ft-16 margin-r-5 ftw-b">【宏财大事件】</span>
    <div class="each-line" ng-repeat="item in events">
      <div class="column01 ftw-b">{{item.time}}</div>
      <div class="column02">
        <span class="circle"></span>
        <span class="vertical-line"></span>
      </div>
      <div class="column03">
        {{item.event}}
      </div>
    </div>
    <div class="each-line">
      <div class="column01 ftw-b">2018年01月</div>
      <div class="column02">
        <span class="circle"></span>
        <span class="vertical-line last-line"></span>
      </div>
      <div class="column03">
        顺利通过国家信息安全等级保护三级测评，获得非银行机构最高安全评级证书。
      </div>
    </div>
  </div>
</div>
