<!--联系我们-->
<div class="right-area col-md-9 col-lg-9 introduction-height2">
	<div class="row">
		<div class="right-title-about2"><p>联系我们</p></div>
	</div>
	<div class="row">
		<div class="introduction-area col-md-12 col-lg-12">
		<table class="table-link-us">
			<tr>
				<!--<td class="p-right">客服电话：</td>
				<td>400-990-7626（工作时间：09:00-18:00）</td>-->
				<td class="text-left"><span></span>客服电话： 400-990-7626（工作时间：09:00-18:00）</td>
				<td></td>
			</tr>
			<tr>
				<!--<td class="p-right">邮件反馈：</td>
				<td> service@hongcai.com</td>-->
				<td class="text-left"><span class="email"></span>客服邮箱： hckf@hongcai.com</td>
				<td></td>
			</tr>
			<tr>
				<!--<td class="p-right">网址：</td>
				<td><a href="http://www.hongcai.com">http://www.hongcai.com</a></td>-->
				<td class="text-left padding-l-10"><i class="fa fa-qq" aria-hidden="true"></i>商务合作QQ：2880787006</td>
				<td></td>
			</tr>
			<tr>
				<!--<td class="p-right">网址：</td>
				<td><a href="http://www.hongcai.com">http://www.hongcai.com</a></td>-->
				<td class="text-left"><span class="url"></span>网址：<a href="https://www.hongcai.com">www.hongcai.com</a></td>
				<td></td>
			</tr>
			<tr>
				<!--<td class="p-right">网址：</td>
				<td><a href="http://www.hongcai.com">http://www.hongcai.com</a></td>-->
				<td class="text-left"><span class="addr"></span>地址：北京市海淀区中关村南二条1号中科院空间中心九章大厦B栋一层</td>
				<td></td>
			</tr>
			<!-- <tr> -->
				<!--<td class="p-right">网址：</td>
				<td><a href="http://www.hongcai.com">http://www.hongcai.com</a></td>-->
				<!-- <td class="text-left padding-l-45"></span>扫描二维码关注宏财网公众号</td>
			</tr> -->
			<!-- <tr>
				<td><img src="/images/wechat-qrcode.jpg" alt=""></td>
			</tr> -->
		</table>
		<div class="padding-l-45 padding-t-30">
			<div class="padding-l-25">扫描二维码关注宏财网公众号</div>
			<img src="/images/wechat-qrcode.jpg" alt="" width="28%">
		</div>
		</div>
	</div>
</div>
