<!--网站公告-->
<div class="right-area col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>网站公告</p></div>
  </div>
  <div class="row">
    <div class="introduction-area col-md-12 col-lg-12 margin-l-30 margin-t--13">
      <div class="web-show border-bd-grey5" ng-repeat="item in list.list">
        <a class="ft-14 ft-grey555 display-inbl col-md-9" ui-sref="root.us.web-site-notice-detail({textId: item.id})">{{item.title| limitTo: 50 }}</a>
        <p class="ft-12 ft-blue4 margin-t-10 display-inbl col-md-3 margin-0">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
      </div>
    </div>

    <ul id="pagination-text">
      <bgf-pagination page="page" per-page="perPage" client-limit="clientLimit" url="'hongcai/api/v1/siteText/getTextList'" url-params="urlParams" link-group-size="2" collection="list" template-url="/views/tpl/paginate-anything.html">
      </bgf-pagination>
    </ul>
  </div>
</div>
