<div ng-repeat="item in data" ng-hide="item.status === 6">
  <div class="institution-list">
    <div class="logo-border text-center">
      <img ng-src="{{baseFileUrl+item.image}}" width="152" height="168" alt="{{item.name}}" class="cursor-pointer" ui-sref="root.assignments-detail({number: item.number})">
    </div>
    <div class="content-right">
      <div class="col-xs-8">
        <div class="list-detail border-r-grey5 padding-b-25 position-re">
          <div class="list-head margin-b-5">
            <div class="bold-title cursor-pointer" ui-sref="root.assignments-detail({number: item.number})">
              <!-- <span class="zhuan ft-white4 ft-12 margin-r-5">转</span> -->
              <div ng-if="item.rankSymbol" class="display-inbl">
                <span class="symbol green" ng-class="{'blue': item.rankSymbol === 'B', 'yellow': item.rankSymbol === 'C', 'red': item.rankSymbol === 'D'}" toggle-fade>{{item.rankSymbol}}</span>
                <div class="tip-top">{{item.rankDescription}}</div>
              </div>
              {{item.name}}
            </div>
            <div class="title-right-tips border-blue padding-tb-2 padding-lr-13 margin-t--3"><i class="fa fa-exclamation-circle margin-r-5"></i> 按月付息，到期还本</div>
          </div>
          <div class="col-md-4 text-left">
            <p class="margin-b-0  margin-t-15 margin-l-30"><span class="mid-orange">{{ item.type === 0 ? item.annualEarnings : item.originalAnnualEarnings | number : 2}}</span><span class="small-orange">%</span></p>
            <div class="small-black margin-b-0 margin-t-5 margin-l-25 position-re annualEarnings">
              <span class="display-inbl">&nbsp; {{ item.type === 0 ? '' : '原标' }}年化利率&nbsp; </span>
              <a class="project_desp display-inbl position-ab cursor-pt" ng-click="showRateTip = !showRateTip" href="javascript:;" focus-blur ng-show="item.discountScale && item.type === 1"></a>
              <p class="pro_des_dot_tip" ng-show="showRateTip">
                <span>债权人折价转让，您将按照{{(item.annualEarnings - item.originalAnnualEarnings) | number: 2}}%的年化收益率获得额外收益。</span>
              </p>
            </div>
          </div>
          <div class="col-md-4 text-left">
            <p class="margin-b-0 margin-t-15 margin-l-30"><span class="mid-black">{{ item.type === 0 ? item.originalAnnualEarnings : item.discountScale | number : 2}}</span><span class="small-deepblack">%</span></p>
            <p class="small-black margin-b-0 margin-t-5 margin-l-25"><span class="display-inbl">&nbsp; {{item.type === 0 ? '原标年化利率' : '折让比例'}}</span></p>
          </div>
          <!--<span class="ft-orange3 ft-14 border-orange margin-r-30 padding-5 padding-tb-3 pull-right "><img src="/images/project/warning01.png" alt=""> {{repaymentTypeMap[item.repaymentType]}}</span>-->
          <div class="col-md-4 text-left">
            <p class="margin-b-0  margin-t-15 margin-l-30" >
              <span><span class="mid-black">{{item.remainDay}}</span><span class="small-deepblack">天</span></span>
              <!-- <span ng-if="item.repaymentType < 2"><span class="mid-black">{{item.cycle}}</span><span class="small-deepblack">个月</span></span> -->
            </p>
            <p class="small-black margin-b-0 margin-t-5 margin-l-20"><span class="display-inbl">&nbsp; 剩余期限</span></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 padding-lr-50">
        <div class="row">
          <div class="col-md-12">
            <p class="text-left margin-t-30 ft-grey666 margin-b-30"><span class="small-deepblack">可出借金额：</span><span class="small-orange ft-orange4 ft-20">{{(item.status == 3 && item.soldStock != 0) ? 0 : item.currentStock * 100 | noFractionCurrency:"":0}}</span><span> 元</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="padding-l-0 padding-r-0 ft-18 orange-special">
                <a class="btn btn-primary-orange btn-block btn-big-height ft-18" ui-sref="root.assignments-detail({number: item.number})" ng-show="item.status == 1&& item.status != 5">立即认购&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                <a class="btn btn-grey-spirit2 btn-block btn-big-height ft-18" ui-sref="root.assignments-detail({number: item.number})" ng-show="item.status == 2" >撤销中&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                <a class="btn btn-grey-spirit2 btn-block btn-big-height ft-18" ui-sref="root.assignments-detail({number: item.number})" ng-show="item.status == 4 || item.status == 3 && item.soldStock > 0" >已转让&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                <a class="btn btn-grey-spirit2 btn-block bg-grey4 btn-big-height ft-deepgrey ft-18" ui-sref="credit-assignsments.detail({number: item.number})" ng-show="item.status === 11 && item.reserveAmount === 0">查看详情&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                <a class="btn btn-primary-orange btn-block btn-big-height ft-18" ui-sref="root.assignments-detail({number: item.number})" ng-show="item.status === 6">{{item._timeDown.hour}}:{{item._timeDown.min}}:{{item._timeDown.seconds}}&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                <a class="btn btn-primary-orange btn-block btn-big-height ft-18" style="margin-top: -1px;" ui-sref="root.assignments-detail({number: item.number})" ng-show="item.status === 11 && item.reserveAmount !== 0">立即预约&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
              </div>
              <div class="col-xs-12 padding-l-0 padding-r-0 ft-18" ng-show="item.progress >= 100">
                <a class="btn btn-grey-spirit2 btn-block bg-grey4 ft-deepgrey btn-big-height ft-18" ui-sref="root.assignments-detail({number: item.number})">{{projectStatusMap[item.status]}}&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

