<!-- 送现金活动页 -->
<div class="activity-new">
  <!-- 投资返现部分 -->
  <div class="send-money">
    <!-- //顶部图片 -->
    <div class="col-md-12 text-center send-money-header1 bg-red" width="1920" height="521px">
      <p class="ft-white ft-16">活动时间：2016年09月30日——2016年10月15日</p>
    </div>
    <!-- 加息券部分 -->
    <div class="rate-increase">
        <!-- 版心 -->
      <div class="rate-coupon-connent clearfix" width="1035px">
        <!-- 02加息券 -->
        <div class="rate-increase-02" >
          <img class="" src="/images/activity/rate-increase-01.png" alt="">
        </div>
        <!-- 矩形字块 -->
        <div class="rate-ractangle text-center">
          <p class="ft-20 ft-white4 ftw-b">每次投资宏金保30天（含）以上，且投资金额&ge;10000元项目，均可获得一张2%加息券</p>
        </div>
        <!-- 举例子 -->
        <div class="rate-example">
          <div class="rate-example-words ft-18 margin-b-30">
            <p class="ft-bold ft-greyc64">举个栗子：</p>
            <p class="ft">王先生在10月6日投资10000元，获得一张2%加息券</p>
            <p>王先生在10月7日，使用加息券投资30天项目3万元，</p>
            <p class="ft-red10 ftw-b">本次投资王先生还将获得：246.58元</p>
          </div>
          <div class="rate-example-img">
            <ul class="col-md-12 padding-l-40 ft-white4">
              <li class="width-35 fl">
                <div class="red-packets1 fl text-center ft-20">
                  <p class="ftw-b rate-example-title">原始收益</p>
                  <p class="margin-t-137 margin-b-0">30000×8%÷365×30</p>
                  <p class="margin-b-0">＝</p>
                  <p>197.26 元</p>
                </div>
                <img class=""fr src="/images/activity/red-plus.png" alt="">
              </li>
              <li class="width-35 fl" >
                <div class="red-packets1 fl text-center ft-20">
                  <p class="ftw-b rate-example-title">加息收益</p>
                  <p class="margin-t-137 margin-b-0">30000×2%÷365×30</p>
                  <p class="margin-b-0">＝</p>
                  <p>49.32 元</p>
                </div>
                <img class=""fr src="/images/activity/equal2.png" alt="">
              </li>
              <li class="width-30 fl text-center">
                <div class="red-packets1 ft-20">
                  <p class="ftw-b rate-example-title">全部收益</p>
                  <p class="margin-t-137 margin-b-0">197.26+49.32</p>
                  <p class="margin-b-0">＝</p>
                  <p>246.58</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- 立即投资按钮 -->
        <div class="pointer invest-btn ">
          <img src="/images/activity/send-money-invest2.png" alt="" ui-sref="root.guaranteepro-list-query-no">
        </div>
        <!-- 加息券活动细则 -->
        <div class="invite-connent1">
          <span class="rule-line line-l"></span>
          <p class="ft-20 ft-red10 text-center ftw-b">加息券使用细则 <i class="fa fa-angle-double-down"></i></p>
          <span class="rule-line line-r"></span>
        </div>
        <div class="rate-increase-rules">
          <div class="row padd">
            <div class="col-md-11"><p><span class="display-inbl fl w-11">使用规则：</span><span class="display-inbl margin-l-10 w-80">1、投资宏金保30天（含）以上，且投资金额&ge;10000元项目，均可获得2%加息券一张，有效期为15天；</span></p></div>
          </div>
          <div class="row padd">
            <div class="col-md-11 margin-l-105"><p>2、加息券仅限投资宏金保30天（含）以上项目，不可叠加使用；</p></div>
          </div>
          <div class="row padd">
            <div class="col-md-11 margin-l-105"><p>3、加息券详细信息请在“<span class="ft-red ft-bold">我的账户—奖励信息—加息券</span>”中查看。</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="radian-bg-yellow"><div class="radian2"></div></div>
    <div  class="radian-bg-red">
      <div class="about-us-all radian-bg-red clearfix">
        <div class="about-us-03" >
          <img class="" src="/images/activity/about-us02.png" alt="">
        </div>
        <!-- 关于宏财 -->
        <div class="invite-connent1 margin-t-40">
          <span class="rule-line"></span>
          <p class="ft-26 ft-white4 text-center">关于宏财 <i class="fa fa-angle-double-down"></i></p>
          <span class="rule-line"></span>
        </div>
        <div class="send-money-aboutus clearfix">
          <ul class="margin-b-80">
            <li class="bg-white fl mar-r">
              <img class="fl" src="../images/activity/introduction.png" alt="">
              <div class="col-8"><p>宏财介绍</p>
                <span>宏财网是一家国有企业战略投资的互联网金融平</span>
                <span>台,2016年A轮融资达1亿元。是国内极少数由上</span><br>
                <span>市金融集团提供专业安全金融资产的平台之一。</span>
              </div>
            </li>
            <li class=" bg-white fl">
              <img  class="fl" src="../images/activity/safe.png" alt="">
              <div ng-if="pay_company === 'cgt'" class="col-8"><p>资金安全</p>
                <span>宏财网联合海口联合农商银行打造了一套完善的风险</span><br>
                <span>监控及资金存管系统，一人一户且每笔资金的流动</span><br>
                <span>都可追查记录。</span>
              </div>
              <div ng-if="pay_company === 'yeepay'" class="col-8"><p>资金安全</p>
                <span>宏财网联合知名支付平台“易宝支付”打造了一</span><br>
                <span>套完整的资金支付存管账户体系，一人一户且</span><br>
                <span>每笔资金的流动都可追查记录。</span>
              </div>
            </li>
            <li class=" bg-white fl mar-r mar-t">
              <img  class="fl" src="../images/activity/origin.png" alt="">
              <div class="col-8"><p>项目来源</p>
                <span>项目由鑫融基金控集团推荐，是新三板“金控”</span><br>
                <span>第一股和首家金牌照民间金融服务商，股本规模</span><br>
                <span>全国第四。</span>
              </div>
            </li>
            <li class=" bg-white fl mar-t">
              <div class="fl"><img  src="../images/activity/ensure.png" alt=""></div>
              <div class="col-8"><p>项目保障</p>
                <span>项目由政府参与出资、全国排名前三的民营担</span>
                <span>保机构提供担保。如果项目方违约，担保公司</span>
                <span>先行垫付。</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="text-center ft-18 ft-white">
          <p>本活动最终解释权归宏财网所有 &nbsp;服务热线：400-990-7626</p>
          <p class="ft-16">北京竞财投资服务有限公司 &nbsp;京ICP备15025477号-1</p>
        </div>
      </div>
    </div>
    <div class="radian-bg-red"><div class="activity-footer"></div></div>
</div>
