<!-- 双十一活动脱单party -->
<div class="dual-eleven-activities">
	<!-- <div class="col-md-12 banner text-center"></div>  -->
	<img src="/images/banner-new/banner02.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top1.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top2.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top3.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top4.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top5.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top6.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top7.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top8.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top9.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top10.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top11.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top12.jpg" width="100%" height="">
	<img src="/images/dual-eleven-activities/top13.jpg" width="100%" height="">
</div>