<div class="bg-white">
  <div style="height: 565px; width: 100%;zoom:1;margin:0 auto;background: url('../images/activity/index_02.jpg') no-repeat center center">
  </div>
  <div style="height: 547px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/index_03.jpg') no-repeat center center;">
  </div>
  <div style="height: 605px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/index_04.jpg') no-repeat center center;">
  </div>
  <div style="height: 606px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/index_05.jpg') no-repeat center center;">
  </div>
  <div style="height: 531px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/index_06.jpg') no-repeat center center">
  </div>
</div>
<div class="father-day-footer text-center padding-t-20 padding-b-20 bg-white" width="100%" style="background-color: #fff;">
    <ul class="display-inb">
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.us.introduction-of-platform2" href="/introduction-of-platform">宏财简介</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.us.hongcai-trends" href="/hongcai-trends">宏财动态</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.us.web-site-notice" href="/web-site-notice">网站公告</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.us.media-reports" href="/media-reports">媒体报道</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.us.company-profile" href="/company-profile">加入宏财</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.us.link-us" href="/link-us">联系我们</a>
      </li>
    </ul>
    &nbsp;&nbsp;<p class="ft-14-4d">客服热线：400-990-7626&nbsp;&nbsp;(客服工作时间：9:00-18:00)</p>
  </div>
  <div class="container-fluid bg-white footer-down margin-0">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 icons">
          <p class="text-center" style="color:#666666;">&copy; 2014-2015 宏财 All rights reserved &nbsp;&nbsp; 北京竞财投资服务有限公司 &nbsp;&nbsp; 京ICP备15025477号-1 &nbsp;&nbsp; 投资有风险 选择需谨慎</p>
        </div>
        <div class="row col-xs-3 col-xs-offset-4">
          <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
            <tr>
              <td width="135" align="center" valign="top">
                <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.hongcai.com&amp;size=L&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=zh_cn"></script>
                <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.hongcai.com&lang=zh_cn" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"  rel="nofollow"><img src="images/main/footer-icons.png">
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
