<!-- 邀请落地页 -->
<div class="invite-landing">
	<div class="col-md-12 invite-landing-header">
		<img src="/images/activity/invite-landing1.jpg" alt="" width="100%">
	</div>
	<div class="invite-landing-connent padding-l-30 over-auto" style="display: table;">
		<img style="display: table-cell;" align="center" src="/images/activity/invite-landing2.png" alt="">
		<div class="ft-20 invite-landing-text">
			<p>好友注册认证 您得<span class="ft-red1">10元</span>现金</p>
			<p>好友得体验金<span class="ft-red1">18888元</span></p>
		</div>
		<div class="ft-20 invite-landing-text invite-landing-text2">
			<p>好友首次投资 您得<span class="ft-red1">5元</span>现金</p>
			<p>好友得<span class="ft-red1">20倍</span>体验金</p>
		</div>		
	</div>
	<div class="invite-connent1 col-md-12 padding-t-10 padding-b-10">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-5 col-md-offset-1 pointer" data-toggle="modal" ng-click="showModal()">
				<img src="/images/activity/invite-landing-btn1.png" alt="" width="100%">
			</div>
			<div class="col-md-5 margin-l-50 pointer" ui-sref="root.userCenter.invite-rebate">
				<img src="/images/activity/invite-landing-btn2.png" alt="" width="100%">
			</div>
		</div>
	</div>
	<div class="invite-connent2">
		<img src="/images/activity/invite-landing4.png" alt="">
		<p class="ft-26 ft-white">活动规则 <i class="fa fa-angle-double-down"></i></p>
	</div>
	<div class="invite-rules">
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;1、</span></div>
			<div class="col-md-10 margin-l-10"><p>所有注册用户均可参与邀请。</p></div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;2、</span></div>
			<div class="col-md-10 margin-l-10"><p>每邀请1位好友注册并认证，邀请人得10元现金，好友注册得13888元体验金，认证得5000元体验金。邀请上限10人。</p></div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;3、</span></div>
			<div class="col-md-10 margin-l-10"><p>好友注册后30天内首次真实金额投资，邀请人再得5元现金。好友首次投资金额20倍的体验金。体验金50000元封顶。</p></div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;4、</span></div>
			<div class="col-md-10 margin-l-10"><p>体验金有效期30天，投资到期后，体验本金收回，收益归投资人所有。</p></div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;5、</span></div>
			<div class="col-md-10 margin-l-10"><p>现金和体验金可在我的账户查看，所得现金和收益均可提现。</p></div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;6、</span></div>
			<div class="col-md-10 margin-l-10"><p>本活动最终解释权归宏财网所有。</p></div>
		</div>
		<div class="row padd margin-b-50">
			<div class="col-md-1"><span>&nbsp;	&nbsp;7、</span></div>
			<div class="col-md-10 margin-l-10"><p>联系电话：400-990-7626。</p></div>
		</div>
	</div>
	<!--<div class="invite-connent3">
		<p>1、所有注册用户均可参与邀请。</p>
		<p>2、每邀请1位好友注册并认证，邀请人得10元现金，好友注册得13888元体验金，认证得5000元体验金。邀请上限10人。</p>
		<p>3、好友注册后30天内首次真实金额投资，邀请人再得5元现金。好友首次投资金额20倍的体验金。体验金50000元封顶。</p>
		<p>4、体验金有效期30天，投资到期后，体验本金收回，收益归投资人所有。</p>
		<p>5、现金和体验金可在我的账户查看，所得现金和收益均可提现。</p>
		<p>6、本活动最终解释权归宏财网所有。</p>
		<p>7、联系电话：400-990-7626。</p>
	</div>-->
	<div class="invite-landing-footer">
		<img src="/images/activity/invite-landing3.png" alt="" width="100%">
	</div>
</div>
<!-- 点击复制链接弹出模态框 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-top">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" 
             data-dismiss="modal" aria-hidden="true">
                &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            <span >复制链接</span>
          </h4>
       </div>
       <div class="modal-body">
          <div class="modal-connect">
            <p class="ft-14" >http://www.hongcai.com/register?inviteCode={{voucher.inviteCode}}</p>
            <p class="ft-14">复制以上链接邀请好友，更多奖励等你哟!!</p>
          </div>
          <button class="button orange-button copy-btn" ng-click="copyInviteUrl()">复制链接</button>
       </div>
    </div>
  </div>
</div>