
<!-- 4.13邀请活动介绍页 -->
<div>
  <!-- banner -->
  <div>
    <img src="/images/activity/invite-header.png" class="display-bl" width="100%">
  </div>
  <div class="invite">
    <ul>
      <li class="w100">
        <div class="w1280-auto invite-register">
          <div class="column-title">
            <span class="yellow-ft fl">邀友注册</span>
            <span class="fl">每邀请3名好友成功注册，您可获得</span>
          </div>
          <img src="/images/activity/invite-register.png" alt="" class="display-bl margin-auto" width="710">
          <p class="invite-tip">*奖励可叠加获得哟</p>
        </div>
      </li>
      <!-- 加成佣金 -->
      <li class="w100 add-commission text-center">
        <div class="w1280-auto">
          <div class="column-title">
            <span class="yellow-ft fl">加成佣金</span>
            <span class="fl">好友注册后90日内进行出借，您可获得</span>
          </div>
          <div class="commission">
            <ul class="overflow-hi margin-auto">
              <li class="fl">
                <p>好友出借</p>
              </li>
              <li class="fr">
                <p>2%佣金</p>
              </li>
              <p class="overflow-hi">
                <span class="fl">自好友首次出借之日起60天内</span>
                <span class="fr">好友每笔出借折合年化金额 x 2%佣金返现</span>
              </p>
              <p>*可从单个好友处获得加成佣金上限为1000元</p>
            </ul>
          </div>
        </div>
      </li>
      <!-- 好友邀请 -->
      <li class="w100">
        <div class="w1280-auto">
          <div class="column-title invite-friend">
            <span class="yellow-ft fl">好友邀请</span>
            <span class="fl">好友成功注册，即可获得</span>
          </div>
          <img src="/images/activity/invite-friend.png" alt="" class="display-bl margin-auto" width="710">
        </div>
      </li>
      <!-- 活动规则 -->
      <li class="w100">
        <div class="w1280-auto">
          <img src="/images/activity/rules.png" alt="" class="display-bl margin-auto" width="218" style="margin: -20px 0 20px 564px;">
          <div class="rules-content margin-auto">
            <p>【获得邀请资格】</p>
            <p>凡在宏财网进行注册的用户均可获得邀请好友的资格。</p>
            <p>【老用户邀请奖励】</p>
            <p>1.活动期间，邀请注册好友人数每满3人，老用户即可获得：<br>
                精选项目1.2%无条件加息券 x 1张<br>  
                尊贵项目2.4%无条件加息券 x 1张<br>
                (优惠券奖励可叠加获得，有效期自发放日起30天内)
            </p>
            <p></p>
            <p>
              2.如邀请的新用户于注册日起90天内进行出借，老用户可获得其首次出借日起未来60天内，该好友每笔出借折合年化出借金额x2%的佣金返现，可从单个好友处获得佣金上限为1000元，可邀请好友人数无上限。
            </p>
            <p>【新用户注册奖励】</p>
            <p>
              通过邀请方式注册的新用户，除新手专享966元现金券礼包外，还可获得邀请专属特权本金18888元(有效期1天)；<br>
              *温馨提示：邀请新用户注册后30天内还未开通银行存管，则邀请专属特权本金奖励将自动失效。
            </p>
            <p>【奖励发放】</p>
            <p>
              请好友注册优惠券奖励将直接发放至"我的优惠券"中；邀请好友出借佣金返现将直接发放至账户"可用余额"中，可用于提现或作为出借资金。
            </p>
            <p>【关于特权本金】</p>
            <p>特权本金是平台向用户提供的一种虚拟资金，其本身不可提现或作为出借资金，但享受8%年化利率。特权本金次日即可产生利息，并直接发放至用户可用余额，可用于提现或作为出借资金。</p>
            <p></p>
            <p>本活动最终解释权归宏财网所有</p>
          </div>
        </div>
      </li>
      <!-- app二维码 -->
      <li class="w100">
        <div class="w1280-auto">
          <img src="/images/activity/qr-code.png" alt="" class="display-bl margin-auto" width="280" class="qr-code">
          <div class="invite-bottom text-center">
            <p>前往APP查看我的邀请详情</p>
            <p>本活动解释权归宏财网所有</p>
            <p>活动咨询请致电客服400-990-7626（工作日：9:00-18:00）</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


    


