<!-- 市场 新 ——— 新手活动落地页 -->
<div class="new-novice-activity">
  <img src="/images/activity/novice-bg-part1.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part2.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part3.png" alt="" width="100%">
  <div class="part1 position-re">
    <div class="activity-time position-ab">活动时间:2017年1月15日——2017年3月15日</div>
    <img src="/images/activity/novice-bg-part4.png" alt="" width="100%">
  </div>
  <img src="/images/activity/novice-bg-part5.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part6.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part7.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part8.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part9.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part10.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part11.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part12.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part13.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part14.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part15.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part16.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part17.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part18.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part19.png" alt="" width="100%">
  <div class="receive-btn position-re">
    <div class="box-btn position-ab cursor-pt" ng-click="goTake()"></div>
    <img src="/images/activity/novice-bg-part20.png" alt="" width="100%">
  </div>
  <img src="/images/activity/novice-bg-part21.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part22.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part23.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part24.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part25.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part26.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part27.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part28.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part29.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part30.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part31.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part32.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part33.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part34.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part35.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part36.png" alt="" width="100%">
  <img src="/images/activity/novice-bg-part37.png" alt="" width="100%">
</div>