
<!-- 4.13邀请活动介绍页 -->
<div ng-controller="testCtrl">
  <!-- banner -->
  <div>
    <img src="/images/activity/invite-header.png" class="display-bl" width="100%">
  </div>
  <div class="invite">
    <div class="invite-box">
      <!-- 活动流程 -->
      <div class="process">
        <img src="/images/activity/invite-pro1.png" class="display-bl margin-auto" width="50%">
      </div>
      <!-- 举个栗子 -->
      <div class="example">
        <div class="expl-title1">举个栗子</div>
        <div class="days">
          <div class="col-md-6">0天</div>
          <div class="col-md-5">30天</div>
          <div class="col-md-1">60天</div>
        </div>
        <img src="/images/activity/invite-pro.png" class="display-bl margin-auto" width="50%">
        <div class="expl-text1">
          <div class="text1">我邀请<span class="yellow-ft">钱女士、孙女士、李先生、周先生、武先生</span><span class="red-ft">5位</span><span class="yellow-ft">好友</span>注册成为宏财网用户</div>
          <div class="text2">
            <div class="expl1 overflow-hi">
              <div class="display-bl fl">例一.</div>
              <div class="display-bl fl width-90">
                <span class="yellow-ft">仅钱女士：</span>注册后的30天内投资20万元宏财尊贵型产品
              </div>
            </div>
            <div class="expl">
              <div class="display-bl fl">例二.</div>
              <div class="display-bl fl width-90">
                <span class="yellow-ft">钱女士、孙女士、李先生、周先生、武先生：</span>在30天内进行首投，且分别投资20万元并保持60天以上投资时长
              </div>
            </div>
          </div>
          <div class="text3">我获得奖励</div>
        </div>
        <div class="expl-text2 overflow-hi">
          <span class="display-bl fl">例一.</span>
          <div class="display-bl fl">
            我获得的奖励为：200000元/2x8%/365x60=<span class="yellow-ft">1315.06元</span><br>
            相当于宏财网送了您一台<span class="yellow-ft">32寸智能液晶电视哦！</span>
          </div>
        </div>
        <div class="expl-text2 overflow-hi">
          <span class="display-bl fl">例二.</span>
          <div class="display-bl fl">
            我获得的奖励为：1315.06元x5=<span class="yellow-ft">6575.30元</span>哦！<br>
            一部崭新的<span class="yellow-ft">iPhone7Plus</span>妥妥到手啦！<br>
            既能为好友推荐优质投资渠道，又能从平台拿到真金白银的奖励，实在是一举两得的好事！
          </div>
        </div>
        <div class="expl-title1">活动规则</div>
      </div>
      <!-- 活动规则 -->
      <div class="rules">
        <div class="rec-act-rule">
          <div class="rule1">
            <p class="rule-title">1.如何获得邀请资格？</p>
            <p class="rule-content">本活动结束之前注册的宏财网用户均可获得邀请好友的资格。</p>
          </div>
        </div>
        <div class="rec-act-rule">
          <div class="rule2">
            <p class="rule-title">2.老用户成功邀请好友投资后，能获得什么福利？</p>
            <p class="rule-content">
              <i class="fa fa-circle fl margin-t-5" aria-hidden="true"></i>
              <span class="fl rule-98">活动有效期间，老用户A每邀请一位新用户B注册成为宏财网用户，且B自注册之日起30天内完成首次投资（含宏财精选、宏财尊贵两种类别），A即可获得B该笔及未来60天内每笔投资额度50%的特权本金，特权本金按8%年化利率计息，收益进入A的账户余额。</span><br/>
              <i class="fa fa-circle" aria-hidden="true"></i>老用户通过邀请单个新用户获得的平台奖励特权本金上限为10万元。<br/>
              <i class="fa fa-circle" aria-hidden="true"></i>老用户获得的特权本金随着其所邀请新用户的在投本金的增减而相应增减。<br/>
              <i class="fa fa-circle" aria-hidden="true"></i>老用户邀请新用户的数量无上限。<br>
              <i class="fa fa-circle" aria-hidden="true"></i>特权本金计息时长截至B首投之后的第60天，第61天起所有特权本金失效，不再计息。
            </p>
          </div>
        </div>
        <div class="rec-act-rule">
          <div class="rule2">
            <p class="rule-title">3.新用户通过老用户邀请注册后，可以得到什么奖励？</p>
            <p class="rule-content"><i class="fa fa-circle" aria-hidden="true"></i>新用户通过邀请注册后，立享“合伙人特权大礼包”：<br/>
            <span class="list-page">
              &nbsp;1）10%特权加息券1张 <br/>
              &nbsp;2）精选加息券：0.3%、0.5%、0.8%，各1张 <br/>
              &nbsp;3）尊贵加息券：0.8%、1.2%、1.6%，各1张 <br/>
              &nbsp;4）精选现金券：总计167元现金投资券 <br/>
              &nbsp;5）尊贵现金券：总计826元现金投资券 <br/>
            </span><br>
            <i class="fa fa-circle" aria-hidden="true"></i>新用户须在注册之日起30天内进行首次投资宏财精选或宏财尊贵产品，老用户才可获得相应特权本金。</p>
          </div>
        </div>
        <div class="rec-act-rule">
          <div class="rule1">
            <p class="rule-title">4.什么是特权本金？</p>
            <p class="rule-content">特权本金是平台奖励给用户的虚拟本金，不可提现或用于投资；其产生的收益按8%年化利率每日计息、次日显示昨日收益；特权本金产生的收益进入用户账户余额，可用于投资或提现。</p>
          </div>
        </div>
        <div class="rec-act-rule">
          <div class="rule1">
            <p class="rule-title">5.新用户可否重复领奖？</p>
            <p class="rule-content">同一手机号、身份证号的新用户，只享受一次合伙人礼包，不可重复获得。</p>
          </div>
        </div>
        <img src="/images/activity/invite-download.png" class="display-bl qrcode" width="25%">
        <div class="tips">
          <div class="download">下载宏财网app马上参与活动！</div>
          <p>本活动解释权归宏财网所有</p>
          <p>活动咨询请致电客服400-990-7626（工作日：9:00-18:00）</p>
        </div>
      </div>
    </div>
  </div>
</div>


    


