<div class="col-xs-12 padding-r-0 margin-r-20 padding-l-0">
  <div class="panel panel-default" style="height:334px;">
    <div class="panel-body">
      <div class="row">
        <div class="hidden-xs hidden-md col-lg-5">
          <img ng-src="{{project ? baseFileUrl+project.image : null}}" width="256" height="278" class="img-rounded" alt="{{project.name}}">
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-xs-12 under-margin margin-b-30">
              <h1 class="project-name margin-t-15 ft-grey1 ft-18">{{ project.name || '项目名称'}}</h1>
            </div>
          </div>
          <div class="row margin-l--30" style="position: relative;">
            <div class="col-xs-12 col-sm-4 under-margin" ng-show="project.floattingRate">
              <h3 class="text-center text-nowrap ft-orange">{{project.annualEarnings - project.floattingRate || 0 | number : 2}}%</h3>
              <p class="text-center text-nowrap gray-font">年化利率</p>
            </div>
            <img src="images/stamp38.png" alt="" style="position:absolute; top:-40%; left:20%;" ng-show="project.floattingRate">
            <div class="col-xs-12 col-sm-4 under-margin" ng-show="!project.floattingRate">
              <h3 class="text-center text-nowrap ft-orange2 ft-30">{{project.annualEarnings || 0 | number : 2}}<span class="ft-16 ft-grey1">%</span>
              </h3>
              <p class="text-center text-nowrap ft-14 ft-grey666">年化利率</p>
              <a class="project_rate_desp display-inbl position-ab cursor-pt" ng-click="showTip = !showTip" href="javascript:;" focus-blur ng-show="project.repaymentType === 2"></a>
              <div class="pro_des_rate_tip ft-12" ng-if="showTip">提示：此年化借利率不等同于收益率（因为借款人采用等额本息的还款方式每月返还本息），若想达到等同于此利率的收益，建议您<span ng-if="isLogged && openTrustReservation !== 0 && openTrustReservation !== 1"><a class="ft-blue3" ng-click="openReservation(1,project.number)">开通自动投标</a>，</span>循环出借。</div>
            </div>

            <div class="col-xs-12 col-sm-4 under-margin">
              <h3 class="text-center text-nowrap ft-24 ft-grey1">{{project.total/10000 || 0}}<span class="ft-16 ft-grey1">万<span></h3>
              <p class="text-center text-nowrap ft-14 ft-grey666 margin-t-15">项目规模</p>
            </div>
            <div class="col-xs-12 col-sm-4 under-margin">
              <h3 class="text-center text-nowrap ft-24 ft-grey1">{{project.projectDays || 0}}<span class="ft-16 ft-grey1">天<span></h3>
              <!-- <h3 class="text-center text-nowrap ft-24 ft-grey1" ng-if="project.repaymentType <= 2">{{project.cycle || 0}}<span class="ft-16 ft-grey1">个月<span></h3> -->
              <p class="text-center text-nowrap ft-14 ft-grey666 margin-t-15 position-re">项目期限
              </p>
            </div>
          </div>
          <hr style="margin-top: 3px;margin-bottom: 12px;">
          <div class="row margin-t-20">
            <div class="col-xs-12 under-margin1">
              <span class="project_dot">计息日期：放款日开始计息</span>
            </div>
            <div class="col-xs-12 under-margin1" ng-hide="categoryCode === '0112' || categoryCode === '0113' || categoryCode === '0114' || categoryCode === '0115' || categoryCode === '0119'">
              <span class="project_dot">担保机构：{{project.guaranteeName}}</span>
            </div>
            <div class="col-xs-12 under-margin1" ng-show="categoryCode === '0112'">
              <span class="project_dot">项目类型：新手标</span>
            </div>
            <div class="col-xs-12 under-margin1" ng-show="categoryCode === '0114'">
              <span class="project_dot">项目类型：羊年迎新标</span>
            </div>
            <div class="col-xs-12 under-margin1">
              <div class="project_dot">还款方式：<span ng-class="{'ft-orange2': project.repaymentType === 2}">{{project.repaymentType === 1 ? repaymentTypeMap[project.repaymentType] : '按期返还，等额本息'}}</span> &nbsp;
                  <a class="project_desp display-inbl position-ab cursor-pt" ng-click="showRepaymentTip = !showRepaymentTip" href="javascript:;" focus-blur></a>
                  <!-- <img src="../../images/project/tip.png" width="4%" alt="" toggle-fade> -->
                  <p class="pro_des_dot_tip" ng-show="showRepaymentTip">
                    <span ng-if="project.repaymentType === 1">还款计算方式说明：假设借款金额为X，年利率为Y，借款期限为Z天，每月实际计息天数为N天，则：每月应还款利息计算公示：X*Y*N/365；应还总利息计算公式为：X*Y*Z/365；应还本金X。</span>
                    <span ng-if="project.repaymentType === 2">还款计算方式说明：假设借款金额为X，年利率为Y，借款期限为m期，则每期利率β=Y{{!project.cycleDays ? '/12' : '*' + project.cycleDays + '/365'}}，每期还款金额计算公式为：X*β*(1+β)<sup>m</sup>/ [(1+β)<sup>m</sup>-1]。</span>
                  </p>
              </div>
            </div>
            <div class="col-xs-12 under-margin1" ng-if="project.repaymentType === 2">
              <div class="project_dot">还款周期：{{project.cycleDays ? project.cycleDays + '天' : '每月'}}</div>
            </div>
            <div class="col-xs-12" ng-class="{'under-margin1': project.status === 9 || project.status === 10}">
              <span class="project_dot">发布日期：{{ project.publishTime || 0 | amDateFormat: 'YYYY-M-D日'}}</span>
            </div>
            <div ng-if="progress >= 100 && project.status === 9 || project.status === 10">
              <div class="col-xs-12">
              <span class="project_dot">还款日期：{{ projectPrepayment != null && project.status == 10 && projectPrepayment.status == 1 ? projectPrepayment.realRepaymentTime : repaymentDate || 0 | amDateFormat: 'YYYY-M-D日'}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
