<div class="institution-list" ng-hide="newbieProject.number !== '' && newBieNum === item.number && (!isLogged || !isExist || !authorization)">
  <div class="logo-border text-center">
    <img ng-src="{{baseFileUrl+item.image}}" width="152" height="168" alt="{{item.name}}" class="cursor-pointer" ui-sref="root.project-details({number: item.number, type: type})">
  </div>
  <div class="content-right">
    <div class="col-xs-8">
      <div class="list-detail border-r-grey5 position-re">
        <div class="list-head margin-b-5">
          <div class="bold-title cursor-pointer" ui-sref="root.project-details({number: item.number, type: type})">
            <div ng-if="item.rankSymbol" class="display-inbl">
              <span class="symbol green" ng-class="{'blue': item.rankSymbol === 'B', 'yellow': item.rankSymbol === 'C', 'red': item.rankSymbol === 'D'}" toggle-fade>{{item.rankSymbol}}</span>
              <div class="tip-top">{{item.rankDescription}}</div>
            </div>
              {{ item.name}}
          </div>
          <div class="title-right-tips border-blue padding-tb-2 padding-lr-13 margin-t--3"><i class="fa fa-exclamation-circle margin-r-5"></i>{{repaymentTypeMap[item.repaymentType]}}</div>
        </div>
        <div class="col-md-4 text-left">
          <p class="small-black margin-b-0"><span class="display-inbl earning">&nbsp; 年化利率</span></p>
          <p class="margin-b-0 margin-l-30 margin-t-5"><span class="mid-orange">{{item.annualEarnings | number : 2}}</span><span class="small-orange">%</span></p>
        </div>
        <div class="col-md-4 text-left">
          <p class="small-black margin-b-0"><span class="display-inbl deadline">&nbsp; 项目期限</span></p>
          <p class="margin-b-0 margin-l-30  margin-t-5" >
            <span><span class="mid-black">{{item.projectDays}}</span><span class="small-deepblack">天</span></span>
            <!-- <span ng-if="item.repaymentType < 2"><span class="mid-black">{{item.cycle}}</span><span class="small-deepblack">个月</span></span> -->
          </p>
        </div>
        <div class="col-md-4 text-left">
          <p class="small-black margin-b-0"><span class="display-inbl money">&nbsp; 出借金额</span></p>
          <p class="margin-b-0 margin-l-30  margin-t-5"><span class="mid-black">{{item.total/10000}}</span><span class="small-deepblack">万元</span></p>
        </div>
        <!--<span class="ft-orange3 ft-14 border-orange margin-r-30 padding-5 padding-tb-3 pull-right "><img src="/images/project/warning01.png" alt=""> {{repaymentTypeMap[item.repaymentType]}}</span>-->
      </div>
    </div>
    <div class="col-xs-4 padding-lr-50">
      <div class="row">
        <div class="col-md-12">
          <span class="pull-left investment-fontsize ft-14 ft-grey666 margin-t-20">出借进度：</span>
          <div class="progress progress-h1 margin-t-7">
            <div class="progress-bar progress-bar-info hc-bg-orange" ng-class="{'progress-bar-warning': item.status === 8 || item.status === 9 || item.status === 10, 'progress-bar-success progree-bar-green': item.status === 5, 'progress-bar-info': item.status === 11}" role="progressbar" aria-valuenow="{{item.progress || 0 }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width:item.progress + '%'}"></div>
          </div>
          <span class="pull-right margin-t--13 ft-grey1">{{item.progress || 0 | number : 2}}%</span>
          <p class="text-left padding-t-20 ft-grey666 margin-b-20"><span class="small-deepblack">剩余可出借：</span><span class="small-orange ft-orange4 ft-17">{{item.amount | noFractionCurrency:"":0}}</span><span> 元</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="padding-l-0 padding-r-0 ft-18 orange-special" ng-show="item.progress < 100">
              <a class="btn btn-primary-orange btn-block btn-big-height ft-18" ui-sref="root.project-details({number: item.number, type: type})" ng-show="item.status !== 6 && item.status !== 11">我要出借&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
              <a class="btn btn-grey-spirit2 btn-block bg-grey4 btn-big-height ft-deepgrey ft-18" ui-sref="root.project-details({number: item.number, type: type})" ng-show="item.status === 11 && item.reserveAmount === 0">查看详情&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
              <a class="btn btn-primary-orange btn-block btn-big-height ft-18" ui-sref="root.project-details({number: item.number, type: type})" ng-show="item.status === 6">{{item._timeDown.hour}}:{{item._timeDown.min}}:{{item._timeDown.seconds}}&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
              <a class="btn btn-primary-orange btn-block btn-big-height ft-18" style="margin-top: -1px;" ui-sref="root.project-details({number: item.number, type: type})" ng-show="item.status === 11 && item.reserveAmount !== 0">立即预约&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
            </div>
            <div class="col-xs-12 padding-l-0 padding-r-0 ft-18" ng-show="item.progress >= 100">
              <a class="btn btn-grey-spirit2 btn-block bg-grey4 ft-deepgrey btn-big-height ft-18" ui-sref="root.project-details({number: item.number, type: type})">{{projectStatusMap[item.status]}}&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
