<div class="col-xs-12 margin-b-30 border">
    <div class="row">
        <div class="col-xs-4 text-center padding-b-30" style="background-color:#fbfbfb;">
            <img src="/images/investmentplan/lingcunbao-001.png" class="margin-t-30">
            <p class="ft-24 margin-t-30">短期投资，存取灵活</p>
            <p>7日封闭期，存取灵活的投资工具</p>
            <p>自动续投，保证您的资金不站岗</p>
            <p>每周更新额度，让您的资金有计划</p>
        </div>
        <div class="col-xs-4 text-center padding-b-30" style="background-color:#f5f5f5;">
            <img src="/images/investmentplan/lingcunbao-001.png" class="margin-t-30">
            <p class="ft-24 margin-t-30">短期投资，存取灵活</p>
            <p>7日封闭期，存取灵活的投资工具</p>
            <p>自动续投，保证您的资金不站岗</p>
            <p>每周更新额度，让您的资金有计划</p>
        </div>
        <div class="col-xs-4 text-center padding-b-30" style="background-color:#f1efef;">
            <img src="/images/investmentplan/lingcunbao-001.png" class="margin-t-30">
            <p class="ft-24 margin-t-30">短期投资，存取灵活</p>
            <p>7日封闭期，存取灵活的投资工具</p>
            <p>自动续投，保证您的资金不站岗</p>
            <p>每周更新额度，让您的资金有计划</p>
        </div>
    </div>
</div>
