<div class="row">
  <div class="col-xs-12">
    <div class="row margin-b-10">
      <div class="col-xs-1 text-nowrap" style="padding: 0px; padding-top: 7px;">排　　序：</div>
      <div class="col-xs-11 text-nowrap">
        <div class="col-xs-1" style="margin-top:7px;">
          <a ui-sref="root.guaranteepro-list-query({status: status, cycle: cycle, earning: earning, total: total, sortCondition:'release_start_time', sortType: sortType})" ng-click="toggleSort()">
                        发布时间
                          <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition ==='release_start_time' && sortType === true) , 'fa-angle-down': (sortCondition === 'release_start_time' && sortType === false) }"></i></a>
        </div>
        <div class="col-xs-1 project-stl">
          <a ui-sref="root.guaranteepro-list-query({status: status, cycle: cycle, earning: earning, total: total, sortCondition:'total', sortType: sortType})" ng-click="toggleSort()">
                        项目规模
                          <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition ==='total' && sortType === true), 'fa-angle-down': (sortCondition === 'total' && sortType === false)}"></i></a>
        </div>
        <div class="col-xs-1 project-stl">
          <a ui-sref="root.guaranteepro-list-query({status: status, cycle: cycle, earning: earning, total: total, sortCondition:'annual_earnings', sortType: sortType})" ng-click="toggleSort()">
                        年化利率
                          <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition === 'annual_earnings' && sortType === true), 'fa-angle-down': (sortCondition === 'annual_earnings' && sortType === false)}"></i></a>
        </div>
        <div class="col-xs-1 project-stl">
          <a ui-sref="root.guaranteepro-list-query({status: status, cycle: cycle, earning: earning, total: total, sortCondition:'repayment_date', sortType: sortType})" ng-click="toggleSort()">
                        还款日期
                          <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition ==='repayment_date' && sortType === true) , 'fa-angle-down': (sortCondition === 'repayment_date' && sortType === false)}"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
