<div id="investmentplan-Newlist" class="text-center">
	<div class="hjy-list-top">
		
	</div>
	<!-- <img src="images/project/hjy-focus01.png" alt="" width="1432px" height="346px"> -->
	<div class="container margin-t-50 ng-scope">
	  <div class="row">
		  <div class="col-xs-4 col-xs-offset-4">
		  	<img src="images/project/title01.png" alt="">
		  </div>
	  </div>
	  <div class="row text-center margin-t-70">
	  	<div class="col-xs-3 ft-grey1 ft-16">
	  		<img src="images/project/investmentplan01.png" alt="">
	  		<h3 class="ft-24 ftw-b">门槛低</h3>
	  		<p class="margin-b-0">100元起投</p>
	  		<p>小钱也能生大钱</p>
	  	</div>
	  	<div class="col-xs-3 ft-grey1 ft-16">
	  		<img src="images/project/investmentplan02.png" alt="">
	  		<h3 class="ft-24 ftw-b">高收益</h3>
	  		<p class="margin-b-0">6%~14.5%年化利率</p>
	  		<p>每次续投收益递增</p>
	  	</div>
	  	<div class="col-xs-3 ft-grey1 ft-16">
	  		<img src="images/project/investmentplan03.png" alt="">
	  		<h3 class="ft-24 ftw-b">很灵活</h3>
	  		<p class="margin-b-0">最短30天</p>
	  		<p>满足不同投资人需求</p>
	  	</div>
	  	<div class="col-xs-3 ft-grey1 ft-16">
	  		<img src="images/project/investmentplan04.png" alt="">
	  		<h3 class="ft-24 ftw-b">有保障</h3>
	  		<p class="margin-b-0">多重安全保障</p>
	  		<p>为您的投资保驾护航</p>
	  	</div>
	  </div>
	  <div class="row text-center border-t-d-b margin-t-50 margin-b-50"></div>
	  <div class="row margin-b-150 text-center">
	  	<div class="col-xs-4 hot" ng-repeat="item in fundsProjectProductList | limitTo:-3">
	  		<span ng-switch="item.product.type">
		  		<img src="/images/project/yueyueying01.png" alt="月月盈" ng-switch-when="2">
		  		<img src="/images/project/jiduying02.png" alt="季度盈" ng-switch-when="3">
		  		<img src="/images/project/bannianying03.png" alt="半年盈" ng-switch-when="4">
	  		</span>
	  		<div class="hot-text ft-18 ft-grey1">
	  			<p>期望最高年均：<span class="ft-24 ft-orange5">{{item.product.maxRate | number: 1 || 0}}</span>%</p>
	  			<p>续投每月递增：<span class="ft-24">{{item.product.riseRate | number: 1 || 0}}</span>%</p>
	  			<p>封闭期：<span class="ft-24">{{item.product.sealingDays}}</span>天</p>
	  			<p>最高续投次数：<span class="ft-24">{{item.product.repeatInvestMaxCount}}</span>次</p>
	  			<button class="margin-t-20"  ui-sref="root.investmentplan-details({number: item.number})" ><a>我要投资 &gt;</a></button>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>
