<div id="investmentplan-list" class="container margin-t-20">
  <div class="row">
    <div class="col-xs-12">
      <div class="row panel panel-default padding-b-30 margin-b-30">
        <!-- 数据 -->
        <div class="col-xs-12 padding-b-30" ng-init="toggle.activeTab=0;">
          <div class="row margin-b-30">
            <div class="col-xs-6 col-xs-offset-3 margin-t-30">
              <ul class="nav nav-pills nav-justified text-center nav-bg-white">
                <li ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs | limitTo: -3"><a ng-click="toggle.switchTab($index)"><strong class="ft-24 ft-666">{{tab.title}}</strong></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row tab-content padding-l-30 padding-r-30">
            <div class="tab-pane" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs">
              <section ng-if="tab.title==='月月盈'">
                <table class="container-fluid" width="100%">
                  <thead class="bg-offWhite text-center">
                    <tr>
                      <th width="20%">计划名称</th>
                      <th width="20%">投资金额（元）</th>
                      <!-- <th width="15%">参加人次</th> -->
                      <th width="15%">累计收益（元）</th>
                      <th width="15%">状态</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in list.list">
                    <td><a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" style="text-decoration:underline !important;">{{ item.fundsProject.name }}</a>
                    </td>
                    <td>{{ item.fundsProject.soldStock*item.fundsProject.increaseAmount || 0 }}</td>
                    <!-- <td>{{ item.creditCount }}</td> -->
                    <td>{{ item.fundsProject.soldStock*item.fundsProject.increaseAmount*210/36500 || 0 | number:2 }}</td>
                    <td>{{ list.data.fundsProjectStatusMap[item.fundsProject.status] }}</td>
                  </tr>
                </table>
              </section>
              <section ng-if="tab.title==='季度盈'">
                <table class="container-fluid" width="100%">
                  <thead class="bg-offWhite text-center">
                    <tr>
                      <th width="20%">计划名称</th>
                      <th width="20%">投资金额（元）</th>
                      <!-- <th width="15%">参加人次</th> -->
                      <th width="15%">累计收益（元）</th>
                      <th width="15%">状态</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in list.list">
                    <td><a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" style="text-decoration:underline !important;">{{ item.fundsProject.name }}</a></td>
                    <td>{{ item.fundsProject.soldStock*item.fundsProject.increaseAmount }}</td>
                    <!-- <td>{{ item.creditCount }}</td> -->
                    <td>{{ item.fundsProject.soldStock*item.fundsProject.increaseAmount*720/36500 || 0 | number:2 }}</td>
                    <td>{{ list.data.fundsProjectStatusMap[item.fundsProject.status]}}</td>
                  </tr>
                </table>
              </section>
              <section ng-if="tab.title==='半年盈'">
                <table class="container-fluid" width="100%">
                  <thead class="bg-offWhite text-center">
                    <tr>
                      <th width="20%">计划名称</th>
                      <th width="20%">投资金额（元）</th>
                      <!-- <th width="15%">参加人次</th> -->
                      <th width="15%">累计收益（元）</th>
                      <th width="15%">状态</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in list.list">
                    <td><a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" style="text-decoration:underline !important;">{{ item.fundsProject.name }}</a></td>
                    <td>{{ item.fundsProject.soldStock*item.fundsProject.increaseAmount }}</td>
                    <!-- <td>{{ item.creditCount }}</td> -->
                    <td>{{ item.fundsProject.soldStock*item.fundsProject.increaseAmount*1800/36500 || 0 | number:2 }}</td>
                    <td>{{ list.data.fundsProjectStatusMap[item.fundsProject.status]}}</td>
                  </tr>
                </table>
              </section>
            </div>
          </div>
        </div>
        <div class="row" id="nav-pagination">
          <nav>
            <ul class="pagination">
              <bgf-pagination page="page" per-page="perPage" client-limit="clientLimit" url="'hongcai/api/v1/siteFunds/getFundsProjectListByProductType'" url-params="urlParams" link-group-size="2" collection="list" template-url="/views/tpl/paginate-anything.html">
              </bgf-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
