<div id="project-detail" class="container" style="padding:20px 0;">
  <div class="row">
    <div class="col-md-12 padding-b-20">
      <a ui-sref="root.main">首页</a>  &gt;&nbsp; <a ui-sref="root.guaranteepro-list-query({status: '7,8,9,10,11,12', minCycle: '0', maxCycle: '100', minEarning: '0', maxEarning: '100', minTotalAmount: '0', maxTotalAmount: 200000000, sortCondition: 'release_start_time', sortType: false, type: type })">{{type ==5 ? '宏财精选' : '宏财尊贵'}}</a> &gt;&nbsp; {{project.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 padding-r-0">
        <!-- 项目描述模块 -->
        <div class="row col-xs-8" ng-include src='"views/project/_description.html"'>
        </div>
        <!-- 项目出借模块 -->
        <div class="row col-xs-4" ng-include src='"views/project/_investment.html"'>
            <!-- <div class="hidden-xs col-sm-12">&nbsp;</div> -->
        </div>
    </div>
    <div class="col-xs-12 padding-r-0">
      <!-- 项目详情模块 -->
      <div class="row col-md-8" ng-include src='"views/project/_detail.html"'>
      </div>
      <!-- 项目附加信息模块 -->
      <div class="row col-md-4 " ng-include src='"views/project/_additional.html"'>
      </div>
      <!-- 预约回报率 -->

      <!-- <div class="row" ng-include src='"views/project/_interest_rate.html"' ng-show="project.status === 6 || project.status === 11">
       </div> -->

      <!-- 相关阅读 -->
      <div class="row col-md-4 pull-right padding-l-15 padding-l-0" ng-include src='"views/project/_reading.html"'>
      </div>
    </div>
  </div>
</div>
