<!--账户管理-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">账户管理</div>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何绑定银行卡？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				银行卡的设置是在您完成开通银行存管系统时一并设置的。在【我的】页面，点击左上角【设置】，进入后选择【银行卡】，可进行解绑、更换银行卡操作。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何更换/解绑银行卡？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				如您绑定的银行卡出现问题或需要更换，请先解绑后重新进行绑定。
			<br>	解绑银行卡的具体操作如下：
			<br>	1）当前绑定银行卡用于平台充值及提现，为保证出借人资金安全，目前一个账号只可同时绑定一张银行卡;
			<br>	2）解绑银行卡：当账户总资产≤2元时，可直接解绑当前银行卡，如遇卡片丢失等不可抗拒因素时，需要联系客服，提供手持身份证等文件进行处理。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;一共可以绑定几张银行卡？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				为了保障您的账户安全，目前宏财网一个账户只能绑定一张银行卡，请您根据个人需要选择银行卡进行绑定，建议您提前了解各银行限额要求。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;绑定银行卡支持哪些银行？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				宏财网目前支持的银行有：
			<br>	农业银行、中国银行、中信银行、招商银行、交通银行、光大银行、、兴业银行、广发银行、华夏银行、北京银行、工商银行、民生银行、建设银行、邮政银行、浦发银行、平安银行。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;绑定银行卡时遇到问题怎么办？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				1）您好，如果您在支付过程中看到提示信息“卡信息或手机号不一致”，您需要确认您在绑定银行卡的流程中输入的手机号信息。预留手机号是您在银行开卡时已校验通过的手机号:
			<br>	a.如果您不确定手机号码，需要您联系该银行卡开户行进行确认。 <br> b.如果您已确认预留手机号码，需要您重新绑定银行卡。 
			<br>	2）名字中含有生僻字、繁体字，改过名字、做过户籍变更、复原换的身份证，这些因素也可能会失败 ，如果您是现役军人、或者仅有护照号，则暂时无法完成开户。
			<br>	3）收不到短信验证码
			<br>	请先检查以下情况排除自身原因，如果依旧收不到验证码，您可以拨打宏财网客服电话： 400-990-7626进行咨询
			<br>	a.是否安装短信拦截或者过滤软件
			<br>	b.是否能够正常接收短信（信号问题，欠费停机，关机等）； 
			<br>	c.短信收发过程中可能会存在延迟，请耐心等待，短信在30分钟内均有效
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何修改平台注册手机号</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				在【我的】页面，点击左上角【设置】，进入设置页面后点击【手机号】，输入正确的图形验证码、短信验证码，按照流程提示完成操作即可更换新的注册手机号。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何更换银行预留手机号</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				在【我的】页面，点击左上角【设置】，进入设置页面后点击【银行卡】进入银行卡管理页面，点击修改银行卡预留手机号，按照流程提示完成操作即可更换银行卡预留手机号。
		</p>
	</div>
</div>