<!--债权转让-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">债权转让</div>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ1 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ1 =! changeAssignment_qrQ1"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ1 =! changeAssignment_qrQ1">&nbsp;什么是债权转让？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ1 == true">宏财网的出借者在满足一定条件的情况下，可以将待还的本金和利息转让给他人，将资产提前变现。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ2 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ2 =! changeAssignment_qrQ2"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ2 =! changeAssignment_qrQ2">&nbsp;债权转让有什么好处？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ2 == true">如您遇到急需用钱的时候，可以将您的待收资产提前变现。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ3 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ3 =! changeAssignment_qrQ3"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ3 =! changeAssignment_qrQ3">&nbsp;购买待转让债权，有什么好处?</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ3 == true">收益更高、期限更灵活。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ4 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ4 =! changeAssignment_qrQ4"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ4 =! changeAssignment_qrQ4">&nbsp;债权转让的实际支付金额为什么会大于认购金额？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ4 == true">实际支付金额 = 转让金额 + 当期已产生的待偿利息 - 转让奖金。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ5 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ5 =! changeAssignment_qrQ5"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ5 =! changeAssignment_qrQ5">&nbsp;购买转让债权的收益如何计算？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ5 == true">债权购买者的收益由两部分组成：待收利息、转让奖金。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ6 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ6 =! changeAssignment_qrQ6"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ6 =! changeAssignment_qrQ6">&nbsp;什么是债权转让奖金？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ6 == true">转让奖金 = 转让金额 * ( 转让利率 - 原始利率 ) * 剩余期限 / 365。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ7 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ7 =! changeAssignment_qrQ7"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ7 =! changeAssignment_qrQ7">&nbsp;购买债权后，已收收益为什么是负值？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ7 == true">您购买债权时需要先行垫付转让人当期已产生的利息，所以显示收益为负数，该笔利息会在下个还款日支付给您。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ8 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ8 =! changeAssignment_qrQ8"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ8 =! changeAssignment_qrQ8">&nbsp;购买债权后可以再次转让么？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ8 == true">可以。持有转让的债权30天以上，可再次发起转让。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ9 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ9 =! changeAssignment_qrQ9"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ9 =! changeAssignment_qrQ9">&nbsp;什么样的债权可以进行转让？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ9 == true">1.持有该笔债权大于30天；
		<br>2.该笔债权距项目完结日大于3天；
		<br>3.该笔债权购买时未参与宏财网线下特定奖励活动。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ10 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ10 =! changeAssignment_qrQ10"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ10 =! changeAssignment_qrQ10">&nbsp;参加过宏财网奖励活动的债权，可以申请转让么？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ10 == true">可以。使用奖金券的债权，会按转让金额等比例扣除已获奖金。使用加息券的债权，已获加息不扣除，受让人购买使用加息券的债权后，不再继续享有加息收益。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ11 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ11 =! changeAssignment_qrQ11"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ11 =! changeAssignment_qrQ11">&nbsp;手续费是如何收取的？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ11 == true">手续费 = 转让本金 * 1%，单笔转让的手续费最低为3元。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ12 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ12 =! changeAssignment_qrQ12"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ12 =! changeAssignment_qrQ12">&nbsp;什么是转让利率？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ12 == true">转让利率债权受让人购买债权后享有的年化利率，与原项目之间的息差作为给受让人的奖励，将从受让人的支付金额中减除。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ13 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ13 =! changeAssignment_qrQ13"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ13 =! changeAssignment_qrQ13">&nbsp;债权转让的预计回款金额为什么和实际不符？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ13 == true">预计回款金额是以您转让的债权在发布当天被全部认购计算出来的金额，实际情况中，您的债权可能需要多天才能被认购。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ14 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ14 =! changeAssignment_qrQ14"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ14 =! changeAssignment_qrQ14">&nbsp;什么情况下待转让债权会被临时冻结？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ14 == true">借款企业每月还款的时候，大致被冻结5分钟以内。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ15 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ15 =! changeAssignment_qrQ15"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ15 =! changeAssignment_qrQ15">&nbsp;转让中的债权可以撤销么？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ15 == true">可以。如果撤销操作时存在出借者的正在认购，将暂时不能撤销。</p>
	</div>
	<div class="row">
		<div class="help-ico {{changeAssignment_qrQ16 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeAssignment_qrQ16 =! changeAssignment_qrQ16"></div>
		<p class="p-click" ng-click="changeAssignment_qrQ16 =! changeAssignment_qrQ16">&nbsp;什么情况下待转让债权会被自动撤销？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeAssignment_qrQ16 == true">距离项目完结前3天。</p>
	</div>
</div>
