<!-- 客户服务 -->
<div class="col-md-9 col-lg-9 right-area">
  <div class="row">
    <div class="right-title">客户服务</div>
  </div>
  <div class="row">
    <div class="margin-b-10 margin-l-74">&nbsp;&nbsp;&nbsp;客服电话：400-990-7626</div>
  </div>
  <div class="row">
    <div class="margin-b-10 margin-l-74">&nbsp;&nbsp;&nbsp;客服邮箱：hckf@hongcai.com</div>
  </div>
  <div class="row">
    <div class="margin-b-10 margin-l-74">&nbsp;&nbsp;&nbsp;客服微信：hchellohello</div>
  </div>
  <div class="row">
    <div class="margin-b-10 margin-l-74">&nbsp;&nbsp;&nbsp;服务时间：工作日9:00-18:00</div>
  </div>
</div>
  