<!--宏财网介绍-->
<div class="col-md-12 col-lg-12 right-area" style="margin-left:0;padding:10%;">
  <div class="row">
    <div class="help-ico {{changeIntroduceQ1 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeIntroduceQ1 =! changeIntroduceQ1"></div>
    <p class="p-click" ng-click="changeIntroduceQ1 =! changeIntroduceQ1">&nbsp;宏财网是做什么的网站？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeIntroduceQ1 == true">宏财网是国内领先的P2B互联网金融交易平台，引入双重保障机制，为投资者提供100%本息保障，且超过银行同期活期收益利率40倍的高收益投资项目。通过宏财网，您可以将手中富余资金出借给由优质担保公司担保的盈利能力强的中小企业，并获得高额的利息回报，分享企业高速发展的红利。
    <br><br>宏财网致力于为个人、借款企业和担保公司搭建一个高效、安全的投融资桥梁，构筑更轻松自由、安全高收益的投融资环境，寻找个人与企业之间安全与效率的平衡点，解决当前形势下的中小企业融资难等困境。实现投资人、借款企业和担保公司多方共赢。</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeIntroduceQ2 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeIntroduceQ2 =! changeIntroduceQ2"></div>
    <p class="p-click" ng-click="changeIntroduceQ2 =! changeIntroduceQ2">&nbsp;宏财网的盈利方式？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeIntroduceQ2 == true">宏财网作为中介信息服务平台，借款企业通过宏财网平台发布借款信息，是需要向宏财网支付相应的信息服务费，每一笔企业借款，宏财网平台会向借款企业收取一定的信息服务费。</p>
  </div>
</div>