<!--法律与政策保障-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">法律保障</div>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;宏财网平台提供居间撮合服务的合法性？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				《合同法》第23章专门对“居间合同”作出规定，其第424条明确定义为：“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”。宏财网平台是合法设立的中介服务机构，致力于为民间借贷业务提供优质高效的撮合服务，以促成借贷双方形成借贷关系，然后收取相关报酬。此种居间服务有着明确的法律依据。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;出借人与借款企业之间借贷关系的合法性？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				《合同法》第196条规定：“借款合同是借款企业向贷款人借款，到期返还借款并支付利息的合同”；根据《合同法》第十二章“借款合同”和最高人民法院《关于人民法院审理借贷案件的若干意见》，我国法律允许自然人等普通民事主体之间发生借贷关系，并允许出借方到期可以收回本金和符合法律规定的利息。出借人与借款企业之间形成的借贷关系受到法律保护。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;出借人通过宏财网平台出借，获得出借的合法性？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				根据最高人民法院《关于人民法院审理借贷案件的若干意见》第6条：“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍（包含利率本数）。超出此限度的，超出部分的利息不予保护。”宏财网平台上出借人向借款企业出借资金并按照约定利率收取利息，该利率未超过银行同类贷款利率的四倍，为合法利息，受到法律保护。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;电子合同的合法性？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				根据《合同法》第11条的规定，当事人可以采用合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等形式订立合同。电子合同是法律认可的书面合同形式之一。宏财网采取用户网上点击确认的方式签署电子合同。点击确认后的电子合同符合《中华人民共和国合同法》规定的合同成立、生效的要件，其有效性也被人民法院的司法实践所接受。
		</p>
	</div>
</div>