<!--产品介绍-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">产品介绍</div>
	</div>
	<div class="row">
		<div class="help-ico {{jinYingQ1 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="jinYingQ1 =! jinYingQ1"></div>
		<p class="p-click" ng-click="jinYingQ1 =! jinYingQ1">&nbsp;什么是宏金盈？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="jinYingQ1 == true">宏金盈是宏财网推出的针对宏财网内部债权进行自动投资及定时自动转让的投资计划，多种期限可选，满足出借人不同的流动性需要。出借人出借的本金将在投资期限到达后一次性返回其账户，利息收益每月发放，并由系统实现自动化的分散投资，更好的满足了出借人的需求。</p>
	</div>
	<div class="row">
		<div class="help-ico {{jinYingQ2 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="jinYingQ2 =! jinYingQ2"></div>
		<p class="p-click" ng-click="jinYingQ2 =! jinYingQ2">&nbsp;宏金盈有哪些特点？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="jinYingQ2 == true">1）真实安全：加入宏金盈的资金，全部用于投资真实、提供100%本息担保的小额借款项目。
		<br>2）超低门槛：100元即可以加入，以100元倍数递增。
		<br>3）多样选择：多种期限搭配，满足不同流动性需求。
		<br>4）省心优利：一次投入，按月（期）付息，到期还本；七日盈、月月盈、季度盈、半年盈可选择自动续投。
		<br>5）零手续费：加入和到期赎回全免费。
		<br>6）分散投资：一份投资对应多份债权，降低投资风险。
		<br>7）递增收益：6%-14.5%，七日盈、月月盈、季度盈每期分别递增0.3%、0.4%、0.5%、1.5%。</p>
	</div>
	<div class="row">
		<div class="help-ico {{jinYingQ3 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="jinYingQ3 =! jinYingQ3"></div>
		<p class="p-click" ng-click="jinYingQ3 =! jinYingQ3">&nbsp;宏金盈的自动续投利息如何计算？是否允许提前赎回？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="jinYingQ3 == true">递增收益，例：七日盈，6%起，每期递增0.3%，最高可至6.9%（至6.9%后可续投5期）；可按投放周期赎回，在投放期限内取消自动续投到期后自动退出。</p>
	</div>
	<div class="row">
		<div class="help-ico {{jinYingQ4 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="jinYingQ4 =! jinYingQ4"></div>
		<p class="p-click" ng-click="jinYingQ4 =! jinYingQ4">&nbsp;宏金盈的债权类别？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="jinYingQ4 == true">宏金保、宏财网内部债权转让、宏财优选债权。</p>
	</div>
	<div class="row">
		<div class="help-ico {{jinYingQ5 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="jinYingQ5 =! jinYingQ5"></div>
		<p class="p-click" ng-click="jinYingQ5 =! jinYingQ5">&nbsp;自动续投是本金+利息复投吗？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="jinYingQ5 == true">不是。宏金盈每期的债权数固定，只续投本金部分，利息按月（期）发放到投资人易宝账户中，投资人可选择再次投资或者提取利息进行消费。</p>
	</div>
</div>