<!--充值提现-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">充值提现</div>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;什么原因会导致充值失败？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				1）绑定的银行卡尚未开通网上支付功能，请按照各银行开通方式及时开通即可；
			<br>	2）绑定的银行卡已过期、作废、挂失，请前往银行柜台重新办理；
			<br>	3）绑定的银行卡内余额不足，请及时充值；
			<br>	4）您输入的金额超过了银行限额，您可拨打银行客服电话咨询如何提高支付限额，也可降低输入金额。
			<br>	如非上述情况造成，请联系客服为您查询处理。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;银行卡已扣款，但为什么充值金额没有到账？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				因不同银行操作划账时间不同，可能导致实际到账时间有延迟。如果没有到账，建议用户过半个小时再查看余额；如果仍未到账，请您联系我们，提供订单号或手机号，为您查询对应的支付请求流水号，并为您核实原因。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;申请提现后多久能到账？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				一般提现T+1即可到账，如遇双休日、国家法定节假日，则到账日期顺延，根据不同银行的处理速度，最晚T+2到账。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;提现有手续费吗？提现次数和金额有什么限制？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				1）每笔提现由第三方支付公司收取2元手续费(提现金额不限)；
			<br>	2）单日提现次数不限，提现金额无上限。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;什么原因会导致提现失败？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				以下原因导致提现失败：
			<br>	1）银行卡所属银行的服务出现问题，若您提现的银行卡挂失，注销等状态异常，会造成提现失败。
			<br>	2）第三方支付服务出现问题；
			<br>	如遇到以上情况，我们会在收到银行转账失败的通知后解除提现资金冻结状态，并在两个工作日内将资金回到您的账户余额，请不必担心资金安全，同时也可以拨打宏财网客服电话：400-990-7626进行解决。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;充值有没有限额？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				App端、微信端：根据不同银行限额不同，具体情况可前往银行卡管理页面，点击右上角【限额】进行查询；
			<br>	电脑端：可选择网银支付，平台不设限额，但需留意银行卡的网银支付限额。
		</p>
	</div>
</div>