<!--注册认证-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">注册认证</div>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何开通银行存管账户？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				当您注册成功之后，在我的页面点击提示前往开通存管账户，自动跳转至海口联合农商银行页面，按照页面提示输入正确的信息后，即可开通银行存管账户，进行后续充值、提现等操作。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;银行存管开通失败的原因有哪些？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				以下原因可能导致开通银行存管失败：
			<br>	1）曾经改过名字；
			<br>	2）名字中带有繁体字；
			<br>	3）有过户籍变动；
			<br>	4）军人转业、复员更换的身份证；
			<br>	5）港澳台用户请联系客服协助开通；
			<br>	6）18周岁以下用户；
			<br>	7）银行卡非您账户同名同证件的卡片；
			<br>	由于银行存管系统与公安系统联网，将需要您提供实名身份信息，如实名身份信息不一致会导致无法通过，非以上原因开通未通过，请您联系客服为您查询确认。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何修改支付/登录密码？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				打开【我的】页面，点击左上角【设置】，进入设置页面后选择【密码管理】
			<br>	修改登录密码：选择【登录密码】>>【去修改】>>进行登录密码修改
			<br>	修改支付密码：点击【支付密码】>>【修改交易密码】页面>>选择是否记得原交易密码>>按提示进行支付密码修改
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何处理登录密码输入错误次数超限？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				如您忘记登录密码或者已经连续输错5次，账号将被锁定，需要点击忘记密码重新设置新密码。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;出借或提现时，忘记支付密码怎么办？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				点击出借或提现，进入海口联合农商银行存管页面，在输入安全支付密码框下，点击【忘记密码】，输入绑定的银行卡号及手机验证码即可重置密码。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;注册或登录时收不到验证码怎么办？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				如果您在注册或登录过程中，点击“获取验证码”按钮后手机一直收不到验证码，建议等待60秒，并查看是否被手机内安全软件拦截，或重启下您的手机，排除手机自身原因后，再次获取验证码。如果依旧收不到验证码，您可以拨打宏财网客服电话400-990-7626进行咨询。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;一个手机号是否可以注册多个账户？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
				在宏财网平台，手机号，身份证号都具有唯一性，已注册的手机号及已实名认证的身份信息只能对应一个宏财网账户。
		</p>
	</div>
</div>
