<!--安全认证-->
<div class="col-md-12 col-lg-12 right-area" style="margin-left:0;padding:10%;">
  <div class="row">
    <div class="help-ico {{changeSafeQ1 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ1 =! changeSafeQ1"></div>
    <p class="p-click" ng-click="changeSafeQ1 =! changeSafeQ1">&nbsp;如何增加密码的安全性？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ1 == true">
    （1）密码要保密。并且定期修改；
    <br>（2）请使用6-16位复杂的字母与数字组合以提高密码强度，不要用生日等容易被别人猜中的密码；
    <br>（3）如果您使用了密码找回功能，在修改密码成功后，请您及时删除我们发送给您的找回密码短信；
    <br>（4）请记住不要与任何人共享您的密码，如果您已经与他人共享密码，强烈建议您尽快更改密码；
    <br>（5）您可能在不经意间使您的计算机受到病毒、木马、间谍软件和广告软件的攻击，这些软件也可能记录并盗走您的密码！所以，请您安装并使用正规的杀毒软件。</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeSafeQ2 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ2 =! changeSafeQ2"></div>
    <p class="p-click" ng-click="changeSafeQ2 =! changeSafeQ2">&nbsp;什么是交易密码？忘记交易密码怎么办？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ2 == true">
    1.交易密码是您投资和提现时需要输入的密码。
    <br>2.交易密码是不同于登录密码的资金安全保护机制，是特别用来保护您的资金安全的交易密码。即使您的账户登录密码处于异常状态，有交易密码保护就可以确保您的账户资金不被他人挪用。
    <br>3.如果您遗忘了交易密码，可在登录后在投资或者提现时，点击忘记密码，通过进入易宝支付页面，通过手机获取验证码的方式进行重置。</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeSafeQ3 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ3 =! changeSafeQ3"></div>
    <p class="p-click" ng-click="changeSafeQ3 =! changeSafeQ3">&nbsp;为什么要进行安全认证？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ3 == true">为确保投资人的资金安全，宏财网要求所有投资人与借款企业均需完成安全认证，包括手机认证，邮箱认证，实名认证等；宏财网对于所有资料信息实行严格保密。投资人在首次充值前需完成个人身份信息的验证。投资人可在“我的账户--账户管理--安全设置”页面完成实名认证操作，详情如下：
    <br>1.手机认证：输入正确有效的手机号码，在收到验证码后输入完成认证即可。
    <br>2.实名认证：填写真实有效的身份证号码和真实姓名可完成实名认证。
    <br>3.邮箱验证：填写真实有效的邮箱地址，收到宏财网发送的链接后完成验证。</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeSafeQ4 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ4 =! changeSafeQ4"></div>
    <p class="p-click" ng-click="changeSafeQ4 =! changeSafeQ4">&nbsp;身份证明信息正确，实名认证未通过怎么办？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ4 == true">可能是由于第三方认证系统没有及时更新您的身份信息导致的，您可以联系客服寻求帮助;客服电话：4009907626</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeSafeQ5 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ5 =! changeSafeQ5"></div>
    <p class="p-click" ng-click="changeSafeQ5 =! changeSafeQ5">&nbsp;进行实名认证后，能够解绑，或者重新实名认证吗？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ5 == true">用户在网站不可以进行解绑操作，如果用户账户资金余额为0，并且没有借款和投资记录的用户，可以联系客服解绑（客服电话：4009907626）；</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeSafeQ6 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ6 =! changeSafeQ6"></div>
    <p class="p-click" ng-click="changeSafeQ6 =! changeSafeQ6">&nbsp;怎么样证明宏财网作为中介平台？不接触投资资金？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ6 == true">证明宏财网作为中介平台，最关键是看有没有触碰投资人的资金；搞资金池。
    <br>无论是充值、满标付款还是其他关于资金的操作，投资人和借款企业的资金都一直在易宝支付的监管账户中。宏财网提供给易宝支付相关部门的投标信息和提现信息，易宝支付核查后将对账户资金做出相应操作，宏财网无权自行操控资金流向；</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeSafeQ7 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ7 =! changeSafeQ7"></div>
    <p class="p-click" ng-click="changeSafeQ7 =! changeSafeQ7">&nbsp;宏财网有几层安全保障？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ7 == true">宏财网独创9层安全保障；实实在在的100%本息保障。
    <br>1，优质担保机构担保；
    <br>2，国有大型担保公司再担保；
    <br>3，严格的项目审查；
    <br>4，完善的风控流程；
    <br>5，第三方支付；
    <br>6，安全的交易系统；
    <br>7，严谨的贷后管理；
    <br>8，风险保障金；
    <br>9，专业的律师团队。</p>
  </div>
  <div class="row">
    <div class="help-ico {{changeSafeQ8 == true ? 'open' : ''}} col-md-offset-1 col-lg-offset-1" ng-click="changeSafeQ8 =! changeSafeQ8"></div>
    <p class="p-click" ng-click="changeSafeQ8 =! changeSafeQ8">&nbsp;风险保障准备金账户是设立在哪儿的？风险保障准备资金从哪儿来的？</p>
    <p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ8 == true">宏财网风险保障准备金账户是独立于平台和第三方账户，设立在民生银行。
    <br>风险保障准备金账户资金来源主要是以下几个部分：
    <br>第一：根据每个项目风险级别的不同，要求信贷服务商从交易金额中提取一定比例，作为风险保障准备金。
    <br>第二：公司每年根据总交易额与收益情况，拨出一定比例的收益作为风险保障准备金
    <br>第三：公司在有新的资本进入的时候会拨出一部分进入风险保障准备金。
    <br>截止目前，尚未动用过风险保障准备金</p>
  </div>
</div>
