<!--用户福利-->
<div class="col-md-9 col-lg-9 right-area">
  <div class="row">
    <div class="right-title">用户福利</div>
  </div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;什么是特权本金？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
        特权本金是平台向用户提供的一种虚拟资金，用于回馈奖励等活动。其本身不可提现或作为出借资金，但享受8%年化利率。根据不同的活动规则，特权本金具有不同的计息时长，每日计息产生的奖励直接发放至用户可用余额，可用于提现或作为出借资金。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;什么是加息券？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
        加息券是平台发布的一种奖励优惠券，使用加息券进行出借时，根据使用条件，单笔出借金额达到规定额度即可享受相应的额外加息奖励。出借成功且项目募集完成后，加息券开始生效，产生的额外奖励将根据项目回款时间按月发放，可用于提现或作为出借资金。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;什么是现金券？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
        现金券是平台发布的一种奖励优惠券，使用现金券进行出借时，根据使用条件，单笔出借金额达到规定额度即可获得相应面值的现金奖励。出借成功后，奖励将直接发放至账户余额，可用于提现或作为出借资金。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何获得现金券/加息券？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
        1）每日抽奖：每人每天享有1次免费抽奖的机会，有机会抽取当日加息、随机返现、特权本金、优惠券等奖励，分享好友一起参与，还可再获一次抽奖机会；
      <br>  2）平台活动：优惠券可通过参与平台各项活动获得。
		</p>
	</div>
	<div class="row">
		<div class="p-click" ng-click="showOrHide($event);"><p class="help-ico col-md-offset-1 col-lg-offset-1"></p>&nbsp;如何才能进入宏财网VIP群？进群后享受哪些特权？</div>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 help-content">
        只要您账户的待收本金满五万元，即可被邀请入群
      <br>  进入宏财网VIP群的用户享有以下特权：
      <br>  1）平台最新活动预告
      <br>  2）全天候为您答疑解惑，一对一优质贴心服务！
      <br>  3）公司发展动态即时播报，第一时间获悉重磅消息！
      <br>  4）针对VIP客户量身定制专属现金券、加息券、赚足每一分钱
      <br>  5）参与产品调研、设计让我们一起把宏财做得更好
      <br>  6）尾单包圆特权本金奖励
		</p>
	</div>
</div>
