<!-- 银行存管 -->
<div class="right-area bank-disclosure col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>承诺函</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
    <div class="display-inbl contract cursor-pointer" ng-if="true">
      <div href="javascript:;" ng-click="openFancybox()"><img src="../images/disclosure/commitment.png" alt="" class="display-bl" width="100%"></div>
      <div class="hide contract" fancybox><img src="https://www.hongcai.com/uploads/png/original/2018-04-24/chengnuo.png" alt="" class="display-bl" width="100%"></div>
    </div>
  </div>
</div>