<!-- 备案信息 -->
<div class="right-area disclosure-information col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>备案信息</p></div>
  </div>
  <!-- 备案登记信息 -->
  <div class="record-info">
    <img src="../images/disclosure/info-title-01.png" alt="" width="20%">
    <table class="info">
      <div>
        <tr>
          <td>地方金融监管部门</td> 
          <td>--</td>
        </tr>
        <tr>
          <td>备案登记时间</td> 
          <td>--</td>
        </tr>
        <tr class="border-none">
          <td>备案登记编号</td> 
          <td>--</td>
        </tr>
      </div>
    </table>
  </div>
  <!-- 电信业务经验许可信息 -->
  <div class="telecom-info">
    <img src="../images/disclosure/info-title-02.png" alt="" width="21%">
    <table class="info">
      <div>
        <tr class="border-none">
          <td>电信业务经营许可证号:</td> 
          <td>--</td>
        </tr>
      </div>
    </table>
  </div>
  <!-- 资金存管信息 -->
  <div class="bank-info">
    <img src="../images/disclosure/info-title-03.png" alt="" width="18%">
    <div class="row ft-14 ft-grey555 text-center margin-t-23">
      <!-- <div class="display-inbl contract cursor-pointer" ng-if="true">
        <div><img src="../images/disclosure/contract1.png" alt="" class="display-bl" width="100%" ng-click="openFancybox()"/></div>
        <div class="hide contract" fancybox><img src="https://www.hongcai.com/uploads/png/original/2017-10-19/image/9bcbea8d83f04b289b6b9c2cf8c3af9a-original.png" alt="" class="display-bl" width="100%"></div>
      </div>
      <div class="display-inbl contract cursor-pointer" ng-if="true">
        <div><img src="../images/disclosure/contract2.png"  class="display-bl" width="100%" ng-click="openFancybox()"/></div>
        <div class="hide contract" fancybox><img src="https://www.hongcai.com/uploads/png/original/2017-10-19/image/e8b1d7c10f354901a532a91c4fd7439a-original.png"  class="display-bl" width="100%"></div>
      </div> -->
      <!-- <p class="ft-grey666 text-center margin-t-20 margin-b-20 ft-12">资金存管银行全称：海口联合农村商业银行</p> -->
      <table class="info">
        <div>
          <tr class="border-none">
            <td>资金存管银行全称:</td> 
            <td class="bank_name">海口联合农村商业银行</td>
          </tr>
        </div>
      </table>
    </div>
  </div>
  <!-- 网站备案图标及编号 -->
  <div class="site-info">
    <img src="../images/disclosure/info-title-04.png" alt="" width="18%">
    <div class="row ft-14 ft-grey555 text-center margin-t-23" ng-if="true">
      <div class="wrapper cursor-pointer">
        <img src="../images/disclosure/record.png" alt="" class="display-bl" height="100%" ng-click="openFancybox()">
      </div>
      <div fancybox class="hide">
        <img src="https://www.hongcai.com/uploads/png/original/2017-10-19/image/262d332a885e48849a59e9a4b73a9984-original.png" alt="" >
      </div>
      <p class="ft-grey666 text-center margin-t-20 margin-b-20 ft-12">公安机关网站备案号：京ICP备15025477号-1</p>
    </div>
  </div>
  <!-- 信息安全测评认证信息 -->
  <div class="security-info">
    <img src="../images/disclosure/info-title-05.png" alt="" width="16%">
    <div class="row ft-14 ft-grey555 text-center margin-t-23" ng-if="true">
      <div class="wrapper cursor-pointer">
        <img src="../images/disclosure/dengbao.png" alt="" class="display-bl" height="100%" ng-click="openFancybox()">
      </div>
      <div fancybox class="hide">
        <img src="https://www.hongcai.com/uploads/png/original/2018-04-24/dengbao.png" alt="" >
      </div>
      <p class="ft-grey666 text-center margin-t-20 margin-b-20 ft-12">信息系统安全等级保护备案证明</p>
    </div>
  </div>
  <!-- 风险管理信息 -->
  <div class="risk-info">
    <img src="../images/disclosure/info-title-06.png" alt="" width="17%">
    <div class="part1">
      <p class="top-border"></p>
      <p class="title">风险管理架构</p>
      <img src="../images/disclosure/risk-part1.png" alt="" width="55%">
    </div>
    <div class="part2">
      <p class="top-border"></p>
      <p class="title">风险评估流程</p>
      <div class="content">
        <ul>
          <li>
            <p>01</p>
            <p>项目受理</p>
          </li>
          <li>
            <p>02</p>
            <p>信息采集</p>
          </li>
          <li>
            <p>03</p>
            <p>数据处理</p>
          </li>
          <li>
            <p>04</p>
            <p>项目评估</p>
          </li>
          <li>
            <p>05</p>
            <p>项目审批</p>
          </li>
        </ul>
        <p class="tips">通过对借款人的信息采集、甄别筛选、资信评估、审查分析、综合判断，完成风险评估流程后，宏财网作出最终审批意见。对于风险较高的项目，宏财网做出不予上标处理；对于存在欺诈风险的项目，根据情况加入黑名单。</p>
      </div>
    </div>
    <div class="part3">
      <p class="top-border"></p>
      <p class="title">风险预警管理情况</p>
      <div class="content">
        <ul>
          <li class="fl">
            <p>01</p>
            <p>日常预警管理</p>
          </li>
          <li class="fr">
            <p>02</p>
            <p>特殊情况预警管理</p>
          </li>
        </ul>
        <p class="tips">宏财网建立风险预警管理机制，贯穿于项目发标至全部还款完成整个过程。风险预警机制分为日常预警管理与特殊情况预警管理。日常预警管理是对项目情况进行日常监控，包括借款人、担保方及其他相关方，通过电话、大数据、新闻跟踪、信息检索等方式，监控是否有异常情况发生；特殊情况预警管理是对出现异常信息，包括借款到期前舆情监控异常、逾期等特殊情况，及时进行预警并采取针对性措施。</p>
      </div>
    </div>
    <div class="part4">
      <p class="top-border"></p>
      <p class="title">催收方式</p>
      <div class="content">
        <ul>
          <li class="fl" ng-repeat="item in riskList">
            <p class="num">{{item.num}}</p>
            <p class="type">{{item.type}}</p>
            <p class="txt">{{item.content}}</p>
            <p class="bottom-line"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
