<!-- 组织信息 -->
<div class="right-area disclosure-organizetion col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>组织信息</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
  	<!-- 工商信息 -->
    <div class="bsuiness-info">
      <img src="../images/disclosure/zzxx-title1.png" alt="" class="bsuiness-title">
      <table class="info">
        <div>
          <tr ng-repeat="info in businessInfo">
            <td>{{info.name}}</td> 
            <td>{{info.content}}</td>
          </tr>
        </div>
      </table>
    </div>
    <!-- 股东信息 -->
    <div class="shareholder-info">
      <img src="../images/disclosure/zzxx-title2.png" alt="" class="bsuiness-title margin-b-30 margin-t-20">
      <div class="shareholder1">
        <div class="information">
          <p>刘刚 </p><span>持股比例86.7%</span>
        </div>
        <img src="../images/disclosure/Shareholder-01.png" alt="">
      </div>
      <div class="shareholder2">
        <div class="information">
          <p>洛阳中小企业资产管理有限公司</p> <span>持股比例13.3%</span>
        </div>
        <img src="../images/disclosure/Shareholder-02.png" alt="">
      </div>
    </div>
    <!-- 组织框架 -->
    <div class="framework-info">
      <img src="../images/disclosure/zzxx-title3.png" width="18%" alt="" class="display-bl margin-auto framework-title">
      <div class="organiz-img margin-t-30 margin-b-30">
        <span>董事长</span><span>CEO</span><span>市场运营部</span>
        <span>金融产品部</span><span>信息技术部</span><span>风控部</span><span>合规部</span><span>综合部</span>
      </div>
    </div>
    <!-- 从业人员概况 -->
    <div class="employees-profiles">
      <img src="../images/disclosure/zzxx-title4.png" width="13%" alt="" class="employees-title">
      <div class="profiles clearfix">
        <div class="profiles1">
          <img src="../images/disclosure/ages.png" class="agesImg" width="60%">
          <ul class="agesList">
            <li>
              <span>25岁-35岁</span>
              <span>13人</span>
            </li>
            <li>
              <span>25岁以下</span>
              <span>6人</span>
            </li>
            <li>
              <span>35岁以上</span>
              <span>4人</span>
            </li>
          </ul>
          <div class="table-name">
            <span>年龄分布</span>
          </div>
        </div>
        <div class="profiles2">
          <img src="../images/disclosure/education.png" alt="" width="78%">
          <ul class="education">
            <li>
              <span>大专</span>
              <span>3人</span>
            </li>
            <li>
              <span>本科</span>
              <span>16人</span>
            </li>
            <li>
              <span>硕士</span>
              <span>2人</span>
            </li>
            <li>
              <span>博士及以上</span>
              <span>2人</span>
            </li>
          </ul>
          <div class="table-name">
            <span>学历分布</span>
          </div>
        </div>
      </div>
      
    </div>
    <!-- 分支机构信息 -->
    <div class="complaint-info">
      <img src="../images/disclosure/zxts.png" width="13.5%" alt="" class="complaint-title">
      <div class="complaint margin-t-25">未开设分支机构</div>
    </div>
    <div class="parting-line"></div>
    <!-- 渠道信息 -->
    <div class="channels-info">
      <img src="../images/disclosure/zzxx-title5.png" width="8.5%" alt="" class="channels-title">
      <div class="channels-container">
        <ul class="overflow-hi">
          <li class="fl">
            <div class="channels-container-img">
              <img src="../images/disclosure/channel-01.png" alt="">
            </div>
            <p class="margin-b-0">官网域名</p>
            <p>www.hongcai.com</p>
          </li>
          <li class="fl">
            <div class="channels-container-img">
              <img src="../images/disclosure/channel-02.png" alt="">
            </div>
            <p class="margin-b-0">IP地址</p>
            <p>119.254.147.66</p>
          </li>
          <li class="fl">
            <div class="channels-container-img">
              <img src="../images/disclosure/channel-03.png" alt="">
            </div>
            <p class="margin-b-0">微信公众号</p>
            <p>宏财服务中心</p>
          </li>
          <li class="fl">
            <div class="channels-container-img">
              <img src="../images/disclosure/channel-04.png" alt="">
            </div>
            <p class="margin-b-0">APP</p>
            <p>宏财网（IOS及Android）</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
