<div class="container bg">
  <div class="agreement-area row introduction-height">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1"><img src="images/success-re_03.png"/></div>
          <div class="col-lg-9 col-md-9">
          <div class="col-lg-12 col-md-12">
                <p class="success-tips success-re">恭喜您成功激活邮箱！</p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
          </div>
          <div class="success-re col-lg-12 col-md-12 list-l">
          <!-- <p  class="success-p">完成手机号码认证，即可获得100元宏包</p> -->
          <p  class="success-p">完善资料，即可在宏财网进行投资，赚取收益。</p>
          </div>
              <div class="col-lg-12 col-md-12">
                <button class="col-md-5 btn btn-danger btn-top btn-lg ft-white"ui-sref="root.userCenter.security-settings">完善资料</button>
                <button class="col-md-5 btn btn-yellow btn-lg ft-white btn-top col-md-offset-1" ui-sref="root.main">逛逛首页</button>
                <!-- <botton class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.userCenter.security-settings">完善资料</botton> -->
                <!-- <botton class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.main">逛逛首页</botton> -->
              </div>

        </div>
      </div>
    </div>
  </div>
</div>
