<div class="bg-white" id="activate">
  <img src="../images/activate-landing/custody1.png" class="display-bl" width="100%">
  <div class="position-re part2 ft-white text-center">
    <img src="../images/activate-landing/custody2.png" class="display-bl" width="100%">
    <div class="countdown position-ab" ng-show="status == 0">
      距离开始上线还有<span>{{countDayFirst}}</span><span>{{countDaySecond + 1}}</span>天
    </div>
    <div class="countdown position-ab" ng-show="status === 1">
      正在上线中···
    </div>
  </div>
  <img src="../images/activate-landing/custody3.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody4.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody5.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody6.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody7.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody8.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody9.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody10.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody11.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody12.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody13.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody14.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody15.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody16.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody17.png" class="display-bl" width="100%">
  <div class="part18 position-re">
    <img src="../images/activate-landing/custody18.png" class="display-bl" width="100%">
    <div class="user-btn position-ab">
      <span  ui-sref="root.new-user-process"></span>
      <span  ui-sref="root.old-user-process"></span>
    </div>
  </div>
  <img src="../images/activate-landing/custody19.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/custody20.png" class="display-bl" width="100%">
</div>
