<style type="text/css">
  p {
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
  }
  p:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg); 
    -moz-transform: rotatey(360deg);
  } 
</style>
<div class="banner-bg">
  <img src="/images/banner-6.jpg">
</div>
<div class="banner-p2b">
  <br>
  <br>
  <br>
  <br>
  <p style="text-align:center;font-size:2em;">
    <strong>内测中，敬请期待！</strong>
  </p>
</div>


