<div class="container bg">
  <div class="agreement-area row">
    <div class="col-md-12 col-lg-12">
      <p class="text-title">自动投标授权委托书</p><br>
      <p>委托人：{{userAuth.realName}}</p>
      <p>身份证号：{{userAuth.idNo}}</p> <br>
      <p>受托人：北京竞财投资服务有限公司（以下简称“竞财”）:</p>
      <p>住所：北京市石景山区实兴大街30号院3号楼2层D-0495房间</p><br>
      <p>鉴于委托人为在竞财运营的平台宏财网上实名注册的用户，现拟参与宏财网平台开发的“自动投标”功能，为优化委托人的用户体验，委托人就“自动投标”的相关投标、资金划转、退出等相关事项向受托人做出如下授权：</p><br>
      <p>一、授权范围</p>
      <p>（一）代委托人在宏财网平台上签署借款合同、债权转让与受让协议等业务流程中的全部协议。</p>
      <p>（二）代委托人进行划转出借资金、收回借款本息、收取债权转让款项等业务流程中涉及的全部资金管理。</p><br>
      <p>二、授权出借信息</p>
      <p>（一）授权出借的账户</p>
      <p>宏财网平台账户ID：<u>{{userAuth.id}}</u></p>
      <p>（二）授权出借的金额：以委托人自行设置自动投标金额限制为准。</p>
      <p>（三）授权期限：以委托人自行设置的授权期限（包括关闭自动投标功能）为准。</p><br>
      <p>三、声明</p>
      <p>（一）授权人对此等自动投资工具下自动签署相关协议和资金划转的安排已充分知悉并理解，并无条件接受自动签署的相关协议的约束。该授权将视为委托人的真实意思表示，相关风险和责任由委托人自行承担。</p>
      <p>（二）本委托书经委托人在宏财网平台以线上点击的方式确认授权。委托人在宏财网平台点击“开启”按钮，开启自动投标功能时本授权书即产生法律效力。</p>
      <p class="fr">委托人： <u>{{userAuth.realName}}</u></p>
      <p class="fr clear"><u>{{ currentDate | date: 'yyyy年MM月dd日'}}<u></p>
    </div>
  </div>
</div>