<div class="bank-custody">
	<img src="../images/activate-landing/online1.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online2.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/online3.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online4.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online5.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online6.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online7.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online8.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online9.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online10.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online11.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online12.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online13.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online14.png" class="display-bl" width="100%">
  <img src="../images/activate-landing/online15.png" class="display-bl" width="100%">
  <div class="position-re" ng-if="realNameAuthState === 1 && !isActive || realNameAuthState === 0 || !isLogged">
    <img src="../images/activate-landing/online16.png" class="display-bl" width="100%">
    <p class="to-process" ng-click="toProcess()"></p>
  </div>
  <img src="../images/activate-landing/online17.png" class="display-bl" width="100%">
</div>