<div ><!--ng-switch="page">-->
  <div class="container bg" ><!--ng-switch-when="5">-->
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">链接失效</p>
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">该连接已失效~<br>请重新进行<a>密码找回</a></p> 
            <p class="success-tips col-lg-8 col-md-8">该连接已失效~<br>请重新进行<a>邮箱激活</a></p> 
            <p class="success-tips col-lg-8 col-md-8">该连接已失效~<br>请重新进行<a>邮箱修改</a></p>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>