<div class="container bg">
	<div class="agreement-area row">
    <div class="col-md-12 col-lg-12">
      <p class="text-title">出借风险提示和禁止性行为告知书</p><br>
      <p>尊敬的出借人：<br><br>
        您在做出出借决策之前，请仔细阅读本出借风险提示和禁止行为告知书，全面认识网络借贷的风险和特性，认真考虑本服务存在的各项风险因素，并充分考虑自身的投资风险意识、风险识别能力和风险承受能力，谨慎做出接受服务和出借的决策。同时，您须确认投出借资金来源的合法性，不得存在法律规定的禁止性行为。
      </p>
      <p>一、风险</p>
      <p>1.信用风险<br>宏财网不提供增信服务，不承担借贷违约风险。如借款人因经营不善、资金周转不灵或主观故意而出现无法或未能正常还款的情况，出借人需自行承担借贷风险，接受本息损失。</p>
      <p>2.延期风险<br>在借款到期日，借款人因自身原因无法按期足额还款，导致出借人的出借本金和利息无法按时回收。当借款人未按期足额还款时，宏财网将根据出借人的授权采用适当的方式代表出借人对借款人进行追索（包括但不限于仲裁和诉讼），无论采取哪种方式，在此过程中，出借人均有可能延期收到出借本金和利息。</p>
      <p>3.交易失败的风险<br>本次交易的促成需符合相关法律法规的规定和借款合同的约定，可能存在不能满足成立条件从而导致交易失败的风险。</p>
      <p>4.操作或技术风险</p>
      <p>1)不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给出借人造成一定损失。因上述事故造成交易或交易数据中断，恢复交易时以事故发生前系统最终记录的交易数据为有效数据；</p>
      <p>2)由于出借人密码失密、操作不当、决策失误、黑客攻击等原因可能会造成出借人损失；</p>
      <p>3)网上交易热键操作完毕未及时退出，委托他人代理交易，或长期不关注账户变化等致使他人进行恶意操作均将可能造成出借人损失。</p>
      <p>5.经营风险<br> 宏财网承诺将按照相关法律法规的规定进行运营及管理，但无法保证永久符合相关法律和监管部门的要求。如网络借贷信息中介机构无法继续经营网络借贷信息中介业务或发生重大业务调整，或财产状况发生重大变化，则可能会对出借人产生不利影响。</p>
      <p>6.其他风险</p>
      <p>1)对于本借款所适用的税务政策，中国财政机关和税务机关尚未制定统一、完善的税务法律体系，且由于各地方政府税务机关存在执行不统一、稳定性差、缺乏足够的政策支持等特点，出借人的利息收入可能会因相应的税收政策的变化而受到不利影响。</p>
      <p>2)由于自然灾害、战争、法律法规或政策等无法避免或无法控制的因素的出现，将影响市场的正常运行，从而导致还款资金损失，甚至影响该借款的成立、运行、偿付等的正常进行；</p>
      <p>3)因宏观经济形势或有关法律、法规及相关政策、规则发生变化，可能引起价格等方面的异常波动，出借人有可能遭受损失。 以上并不能揭示从事交易的全部风险及市场的全部情形。出借人在做出交易决策前，应通过宏财网公布的信息及其他相关公告了解拟操作交易的风险收益特征，并根据自身的交易目标、风险承受能力和债权状况等谨慎决策，并自行承担全部风险。</p>

      <p>二、禁止性行为</p>
      <p>根据《中华人民共和国反洗钱法》、《中华人民共和国刑法》等法律法规的规定，禁止洗钱、信用卡套现、虚假交易、恐怖融资等行为。宏财网对有上述可疑行为的出借人发起的出借行为将终止服务并终止该账户的使用。</p>

      <p>三、其他提示 </p>
      <p>在您以网络点击方式签署本出借风险提示和禁止行为告知书时，表明您已进行仔细阅读，知悉并理解出借的全部风险和禁止性行为，并自愿承担由此带来的一切后果。</p>
      <p class="ftw-b">本人自愿接受北京竞财投资服务有限公司（宏财网）的服务，并保证本人具有参与网络借贷应当具备的出借风险意识、风险识别能力，本人自愿承担由此带来的一切后果。</p><br>
      <p>确认人（签章）：</p><br>
      <p>日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</p>
    </div>
	</div>
</div>