<div>
	<img src="../images/activate-landing/new1.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new2.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new3.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new4.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new5.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new6.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new7.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new8.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new9.png" class="display-bl" width="100%">
	<img src="../images/activate-landing/new10.png" class="display-bl" width="100%">
</div>