<!--新手引导页面-->
<div id="novice-guide">
	<!-- banner -->
	<section class="newbie-banner">
		<div class="newbie-banner-header cursor-pt" style="opacity: 0;" ui-sref="root.main">
			<!-- <img src="/images/novice-guide/head-img.png" class="display-bl cursor-pt" style="opacity: 0;" ui-sref="root.main"> -->
		</div>
	</section>
	<!-- 宏财简介 -->
	<section class="hongcai-introduce">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">宏财简介</p><p class="fr ft-36 ft-grey7 ft-Arial">SYNOPSIS</p>
			</div>
			<div class="introduce-words">
				<img src="/images/novice-guide/hongcai-logo.png" class="margin-t-35 margin-l-60" id="Darea">
				<div id = "intr-text">
				</div>
			</div>
		</div>
	</section>			

	<!-- 股东背景 -->
	<!-- <section class="shareholder-background">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">股东背景</p><p class="fr ft-36 ft-grey7 ft-Arial">SHAREHOLDER</p>
			</div>
			<div class="shareholder-content clearfix">
				<div class="overflow-hi fl circle-w">
					<div class="circle-left">
						<p class="circle circle1">孟津县政府</p>
						<p class="circle circle2">洛阳市<br>建设</p>
						<p class="circle circle3">河南<br>和信证券</p>
						<p class="circle circle4">洛阳城市发展<br>投资集团</p>
						<p class="circle circle5">涧西区<br>政府</p>
						<p class="circle circle6">吉利区<br>政府</p>
						<div class="center circle-center1">宏财网股东洛阳</div>
						<div class="center circle-center2">中小企业资产管理公司</div>
					</div>
				</div>
				<div class="txt-right fr">
					宏财网股东方洛阳中小企业资产管理有限公司由河南鑫融基金控股份有限公司、洛阳市新区建设投资有限责任公司、洛阳市建设投资有限公司、洛阳城市发展投资集团有限公司、涧西区政府、吉利区政府、孟津县政府、河南和信证券投资顾问有限公司等投资机构联合成立，注册资本1.72亿元，其中国资占比52.32%。公司旨在帮助有市场前景的企业引入充沛的资金，助推企业通过资本市场实施跨越式发展。
				</div>
			</div>
		</div>
	</section>	 -->

	<!-- 高管团队 -->
	<section class="management-team">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">高管团队</p><p class="fr ft-36 ft-grey7 ft-Arial">MANAGEMENT TEAM</p>
			</div>
			<div class="team-carousel position-re margin-auto" id="carousel" data-setting='{
							"width": 800,
							"height":390,
							"posterWidth":505,
							"posterHeight":390,
							"scale":0.8,
							"speed":1000,
							"autoPlay":true,
							"delay":3000,
							"verticalAlign":"middle"
							}'>
				<div class="poster-btn poster-prev-btn"></div>
				<ul class="poster-list"> 
			    <li class="poster-item overflow-hi">
			    	<a><img src="images/novice-guide/team2.png" alt="" width="100%" /></a>
			    	<div class="hoverShow ft-white">
			    		<p class="ft-28 ft-white">刘刚<span class="margin-l-20 margin-r-60"></span> <span class="ft-18 ft-white">董事长</span></p>
			    		<div>
			    			中国人民大学管理学博士。曾在国务院国资委下属的中国企业联合会担任管理创新处处长，参与国务院国资委发起的中央企业管理提升工作，非常熟悉国内企业管理状况，执笔起草的多份企业管理方面的报告获中央领导的重要批示。现担任宏财网董事长兼CEO，同时担任首都企业改革研究会常务理事、首都经济贸易大学MBA导师（金融学方向）、芜湖市镜湖区人力资源和社会保障局创业导师。2015年成为《当代经理人》杂志封面人物。
			    		</div>
			    	</div>
			    </li> 
			    <li class="poster-item overflow-hi">
			    	<a><img src="images/novice-guide/wangbin.png" alt="" width="100%" /></a>
			    	<div class="hoverShow ft-white">
			    		<p class="ft-28 ft-white">王斌<span class="margin-l-20 margin-r-60"></span> <span class="ft-18 ft-white">CEO</span></p>
			    		<div>
			    			安徽大学金融专业毕业。2000年进入互联网行业，曾于搜狐、TOM网、猫扑、人人网、超图软件等公司长期负责品牌营销、市场公关。2014年进入互联网金融领域，作为市场合伙人加入金蛋理财，负责市场、运营。后任麦子金服旗下财神爷爷COO。曾为央视财经频道编著《对话》一书。任『CMO训练营』认证讲师。
			    		</div>
			    	</div>
			    </li> 
			    <li class="poster-item overflow-hi">
			    	<a><img src="images/novice-guide/zhangfeng.png" alt="" width="100%" /></a>
			    	<div class="hoverShow ft-white">
			    		<p class="ft-28 ft-white">张枫<span class="margin-l-20 margin-r-60"></span> <span class="ft-18 ft-white">技术总监</span></p>
			    		<div>
			    			北京航空航天大学硕士，拥有多年互联网金融领域技术研究、产品研发、团队管理等方面的经验，具备丰富的网站架构设计、并发设计以及互联网金融相关技术经验。
			    		</div>
			    	</div>
			    </li> 
			    <li class="poster-item overflow-hi">
			    	<a><img src="images/novice-guide/team2.png" alt="" width="100%" /></a>
			    	<div class="hoverShow ft-white">
			    		<p class="ft-28 ft-white">刘刚<span class="margin-l-20 margin-r-60"></span> <span class="ft-18 ft-white">董事长</span></p>
			    		<div>
			    			中国人民大学管理学博士。曾在国务院国资委下属的中国企业联合会担任管理创新处处长，参与国务院国资委发起的中央企业管理提升工作，非常熟悉国内企业管理状况，执笔起草的多份企业管理方面的报告获中央领导的重要批示。现担任宏财网董事长兼CEO，同时担任首都企业改革研究会常务理事、首都经济贸易大学MBA导师（金融学方向）、芜湖市镜湖区人力资源和社会保障局创业导师。2015年成为《当代经理人》杂志封面人物。
			    		</div>
			    	</div>
			    </li> 
			    <li class="poster-item overflow-hi">
			    	<a><img src="images/novice-guide/wangbin.png" alt="" width="100%" /></a>
			    	<div class="hoverShow ft-white">
			    		<p class="ft-28 ft-white">王斌<span class="margin-l-20 margin-r-60"></span> <span class="ft-18 ft-white">CEO</span></p>
			    		<div>
			    			安徽大学金融专业毕业。2000年进入互联网行业，曾于搜狐、TOM网、猫扑、人人网、超图软件等公司长期负责品牌营销、市场公关。2014年进入互联网金融领域，作为市场合伙人加入金蛋理财，负责市场、运营。后任麦子金服旗下财神爷爷COO。曾为央视财经频道编著《对话》一书。任『CMO训练营』认证讲师。
			    		</div>
			    	</div>
			    </li> 
			  </ul>
			  <div class="poster-btn poster-next-btn"></div>
			</div>
		</div>
	</section>	

	<!-- 核心优势 -->
	<section class="core-strengths">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">核心优势</p><p class="fr ft-36 ft-grey7 ft-Arial">CORE STRENGTHS</p>
			</div>
			<div class="strengths-content">
				<div class="strengths">
					<p class="core core1" toggle-fade>银行存管</p>
					<div class="txt core1-txt">宏财网积极落实监管政策，已成功对接海口联合农商银行资金存管系统。</div>
					<p class="core core2" toggle-fade>风控安全</p>
					<div class="txt core2-txt">层层筛选，严格把控债权质量；足值抵押，落实担保；贷后管理，全流程风控管理。</div>
					<p class="core core3" toggle-fade>操作便捷</p>
					<div class="txt core3-txt">电脑、APP、微信公众号自由选择，随时随地管理您的财富。</div>
					<p class="core core4" toggle-fade>灵活稳健</p>
					<div class="txt core4-txt">产品以30-180天产品为主；未到期债权可自主进行债权转让。</div>
					<p class="core core5" toggle-fade>技术保障</p>
					<div class="txt core5-txt">SSL256位安全加密、WAF防火墙、硬件防火墙、两地三中心容灾备份等十余种安全技术保障您的账户安全。</div>
					<p class="core core6" toggle-fade>专业团队</p>
					<div class="txt core6-txt">宏财网管理、风控、运营、技术部门的骨干人员均是来自于政府、高校、银行、知名风投等机构的专业人士。</div>
					<p class="core core7" toggle-fade>A轮融资</p>
					<div class="txt core7-txt">2016年完成A轮融资1亿元，股东方洛阳中小企业资产管理有限公司是国有金融机构。</div>
				</div>
			</div>
		</div>
	</section>	

	<!-- 发展历程 -->
	<!-- <section class="development-course">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">发展历程</p><p class="fr ft-36 ft-grey7 ft-Arial">DEVELOPMENT COURSE</p>
			</div>
			<div class="development-content clearfix">
				<div class="part1 part fp-tableCell">
					<div class="con margin-l-40"></div>
       	 	<dl class="event one">
       	 		<dt class="contain center-1">正式上线运营</dt>
       	 		<dd class="line"></dd>
       	 		<dd class="time">2014.12</dd>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
       	 	<dl class="event two">
       	 		<dd class="time">2014.12</dd>
       	 		<dd class="line"></dd>
       	 		<dt class="contain">与易宝支付合作，实现第三方资金托管</dt>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
       	 	<dl class="event three margin-pos5">
       	 		<dt class="contain">国家发改委原中小企业司司长王远枝莅临宏财网考察指导工作。</dt>
       	 		<dd class="line"></dd>
       	 		<dd class="time">2015.5</dd>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
       	 	<dl class="event four">
       	 		<dd class="time">2015.6</dd>
       	 		<dd class="line"></dd>
       	 		<dt class="contain">宏财网创始人兼CEO刘刚博士荣登《当代经理人》杂志封面人物。</dt>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
				</div>
				<div class="part2 part fp-tableCell">
					<div class="con margin-l-40"></div>
       	 	<dl class="event one">
       	 		<dt class="contain">宏财网获“2015年创新典型案例”，由人民网、人民日报社颁发。</dt>
       	 		<dd class="line"></dd>
       	 		<dd class="time">2015.9</dd>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
       	 	<dl class="event two ">
       	 		<dd class="time">2016.5</dd>
       	 		<dd class="line"></dd>
       	 		<dt class="contain">获得国有金融机构1亿元融资，正式跻身国资系平台。</dt>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
       	 	<dl class="event three margin-pos5">
       	 		<dt class="contain">全国政协副主席王钦敏莅临国家会议中心考察，宏财网CEO刘刚博士全程陪同。</dt>
       	 		<dd class="line"></dd>
       	 		<dd class="time">2016.9</dd>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
       	 	<dl class="event four">
       	 		<dd class="time">2016.10</dd>
       	 		<dd class="line"></dd>
       	 		<dt class="contain">接入北京网贷风险监控及资金存管系统，用户资金由中信银行资金存管专用账户保管。</dt>
       	 	</dl>
       	 	<div class="con margin-pos5"></div>
				</div>
				<div class="part3 part fp-tableCell">
					<div class="con margin-l-40"></div>
       	 	<dl class="event one">
       	 		<dt class="contain">宏财网成功对接海口联合农商银行资金存管系统，标志着宏财网用户资金安全体系进一步完善。</dt>
       	 		<dd class="line"></dd>
       	 		<dd class="time">2017.6</dd>
       	 	</dl>
       	</div>
				<div class="controlArrow prev"></div>
				<div class="controlArrow next"></div>
			</div>
		</div>
	</section> -->

	<!-- 项目特点 -->
	<section class="product-features">
		<div class="content carousel slide" id="carousel2">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">项目特点</p><p class="fr ft-36 ft-grey7 ft-Arial">PRODUCT FEATURES</p>
			</div>
			<div class="product-content clearfix">
				<div class="jingxuan">
					<p class="title margin-b-0">宏财精选</p>
					<div class="contain">
						<p>期限：180天以内(含180天)</p>
						<p>年化利率：8%-10%</p>
						<p>回款方式：按月返息，到期还本 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;或按期返还，等额本息 </p>
						<p>风控安全：足值抵押、多重风控</p>
						<p>宏财精选项目是由优质资产方推荐，经过宏财网严格风控程序层层筛选出的优质中短期金融资产。项目均有足额抵押物，灵活稳健，具有一定流动性。</p>
					</div>
				</div>
				<div class="zungui">
					<p class="title margin-b-0">宏财尊贵</p>
					<div class="contain">
						<p>期限：180天以上</p>
						<p>年化利率：10%-12%</p>
						<p>回款方式：按月返息，到期还本 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;或按期返还，等额本息 </p>
						<p>风控安全：信用审核、实地征信</p>
						<p>宏财尊贵项目是由优质资产方推荐，经过宏财网严格风控程序层层筛选出的优质中长期金融资产。宏财网对项目全程把控，回报丰厚。</p>
					</div>
				</div>
				<div class="assignment">
					<p class="title margin-b-0">债权转让</p>
					<div class="contain">
						<p>债权转让是宏财网为了平台出借人急需资金等原因，需要将持有未到期的项目债权转让给其他出借人时开发的一项功能。债权转让项目往往回报稳健、期限更短。</p>
					</div>
				</div>
				<!-- Controls -->
			  <a class="carousel-control left" >
			    <span class="glyphicon glyphicon-chevron-left"><img class="prev" src="/images/novice-guide/btn_l.png"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control right">
			    <span class="glyphicon glyphicon-chevron-right"><img class="next" src="/images/novice-guide/btn_r.png"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
			
		</div>
	</section>

	<!-- 如何出借 -->
	<section class="invest-process">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">如何出借<a href="#hhh"></a> </p><p class="fr ft-36 ft-grey7 ft-Arial">HOW TO INVEST</p>
			</div>
			<div class="process-all">
				<div class="process-circle">
					<ul class="clearfix">
						<li class="li1 li_activ cursor-pt" data-target="#carousel-example-generic" data-slide-to="0">注册</li><li>-------------</li>
						<li class="li2 cursor-pt" data-target="#carousel-example-generic" data-slide-to="2">认证</li><li>-------------</li>
						<li class="li3 cursor-pt" data-target="#carousel-example-generic" data-slide-to="5">充值</li><li>-------------</li>
						<li class="li4 cursor-pt" data-target="#carousel-example-generic" data-slide-to="8">出借</li>
					</ul>
				</div>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active" id="1">
				      <img src="/images/novice-guide/process1.jpg" alt="..." >
				    </div>
				    <div class="item"  id="2">
				      <img src="/images/novice-guide/process2.png" alt="...">
				    </div>
				   	<div class="item" id="3">
				   	  <img src="/images/novice-guide/process3.png" alt="...">
				   	</div>
				   	<div class="item" id="4">
				   	  <img src="/images/novice-guide/process4.jpg" alt="...">
				   	</div>
				  <!--  	<div class="item" id="5">
				   	  <img src="/images/novice-guide/process5.jpg" alt="...">
				   	</div> -->
				   	<div class="item" id="5">
				   	  <img src="/images/novice-guide/process6.png" alt="...">
				   	</div>
				   	<div class="item" id="6">
				   	  <img src="/images/novice-guide/process7.png" alt="...">
				   	</div>
				   	<div class="item" id="7">
				   	  <img src="/images/novice-guide/process8.png" alt="...">
				   	</div>
				   	<div class="item" id="8">
				   	  <img src="/images/novice-guide/process9.png" alt="...">
				   	</div>
				   	<div class="item" id="9">
				   	  <img src="/images/novice-guide/process10.png" alt="...">
				   	</div>
				   	<div class="item" id="10">
				   	  <img src="/images/novice-guide/process11.png" alt="...">
				   	</div>
				   	<div class="item" id="11">
				   	  <img src="/images/novice-guide/process12.png" alt="...">
				   	</div>
				  </div>
				  <!-- Controls -->
				  <a class="left carousel-control" >
				    <span class="glyphicon glyphicon-chevron-left"><img src="/images/novice-guide/btn_l.png" href="#carousel-example-generic" role="button" data-slide="prev"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control">
				    <span class="glyphicon glyphicon-chevron-right"><img src="/images/novice-guide/btn_r.png" href="#carousel-example-generic"  role="button" data-slide="next"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
				<div ng-switch = 'processId'>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="1">填写相关信息后点击注册</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="2">注册成功后建议您立即开通银行存管账户</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="3">请正确填写真实姓名和身份证号后点击立即开通</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="4">正确填写各项信息，您的交易密码将用于充值、出借、提现等操作，请务必牢记</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="5">认证成功，可以去充值啦~</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="6">请输入充值金额后点击确认充值</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="7">请输入交易密码后点击支付</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="8">充值成功即可前往项目列表，选择项目进行出借啦～</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="9">请输入出借金额，并点击立即出借按钮</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="10">请输入交易密码后点击确定</p>
					<p class="text-center ft-20 ft-grey666 margin-t-20" ng-switch-when="11">出借成功！</p>
				</div>
			</div>
		</div>
	</section>

	<!-- 新手福利 -->
	<section class="novice-welfare" style="height: 100px;">
		<!-- <div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">新手福利</p><p class="fr ft-36 ft-grey7 ft-Arial">NOVICE WELFARE</p>
			</div>
			<div class="welfare-content clearfix text-center">
				<div class="row novice">
					<div class="col-md-4 welfare-experience cursor-pt" ui-sref="root.activity.novice-landing">
						<img src="/images/novice-guide/welfare-experience.png" alt="">
						<p>8888元体验金</p>
					</div>
					<div class="col-md-4 welfare-cash cursor-pt" ui-sref="root.activity.novice-landing">
						<img src="/images/novice-guide/welfare-cash.png" alt="">
						<p>688元现金红包</p>
						<p>300元现金奖励</p>
					</div>
					<div class="col-md-4 welfare-new cursor-pt" ui-sref="root.main">
						<img src="/images/novice-guide/welfare-new.png" alt="">
						<p>新手专享标</p>
					</div>
					 <div class="col-md-3 welfare-rate">
						<img src="/images/novice-guide/welfare-rate.png" alt="">
						<p>3%加息券</p>
					</div>
				</div>
				<div class="row margin-auto" ng-if="!isLogged">
					<div class="novice-btn" ui-sref="root.register">注册领取</div>
				</div>	
			</div>
		</div>-->	
	</section>
</div>
<script type="text/javascript">
	$(function(){
		Carousel.init($("#carousel"));
		$("#carousel").init();
	});
</script>
