<div class="bg-white ng-scope new-safe">
  <!-- header -->
  <div class="floatTop">
    <div class="wrap">
      <ul class="text-center display-bl clearfix">
        <li class="imgLi"><a href="/" class="logoImgs"></a></li>
        <li><a ng-click="demo('banner');" class="jump">关于我们</a></li>
        <li><a ng-click="demo('fund');" class="jump">资金安全</a></li>
        <li><a ng-click="demo('strict-control');" class="jump">风险控制</a></li>
        <li><a ng-click="demo('running-rules');" class="jump">运营规范</a></li>
        <li><a ng-click="demo('technical-support');" class="jump">技术保障</a></li>
        <li class="return"><a class="ml20" href="/">返回首页</a></li>
      </ul>
    </div>
  </div>
  <!--banner-->
  <div class="banner text-center slide" id="banner">
    <h4>启航财富，放心去飞！</h4>
    <ul>
      <li class="banner-li01">
        <p class="banner-tit banner-tit1"></p>
        <p>A轮融资</p>
      </li>
      <li class="banner-li02">
        <p class="banner-tit banner-tit2"></p>
        <p>银行存管</p>
      </li>
      <li class="banner-li03">
        <p class="banner-tit banner-tit3"></p>
        <p>实力背景</p>
      </li>
      <!-- <li class="banner-li04">
        <p class="banner-tit banner-tit4"></p>
        <p>领导关怀</p>
      </li> -->
    </ul>
    <div class="banner-info banner-info1">
      <div class="wrap wrapB"><b></b></div>
      <div class="wrapC">
        <ul class="padding-l-110 padding-t-40">
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>2016年，宏财网获得A轮融资；</li>
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>股东方为洛阳中小企业资产管理有限公司。</li>
        </ul>
      </div>  
    </div>
    <div class="banner-info banner-info2">
      <div class="wrap wrapB"><b></b></div>
      <div class="wrapC">
        <ul class="clearfix padding-l-110 padding-t-40">
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>宏财网已正式对接海口联合农商银行资金存管系统；</li>
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>分别开立用户交易资金账户和平台自有资金账户，实现了资金隔离和分账管理。</li>
        </ul>
      </div>
    </div>
    <div class="banner-info banner-info2 text-center">
      <div class="wrap wrapB"><b></b></div>
      <div class="wrapC">
        <ul class="clearfix padding-l-110 padding-t-25">
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>宏财网获人民日报社、人民网的“创新服务典型案例”表彰；</li>
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>宏财网正式加入北京网贷协会，积极推动行业自律与落实监管；</li>
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>法定代表人刘刚荣登《当代经理人》杂志封面人物。</li>
        </ul>
      </div>
    </div>
    <!-- <div class="banner-info banner-info2">
      <div class="wrap wrapB"><b></b></div>
      <div class="wrapC">
        <ul class="clearfix padding-l-110 padding-t-25">
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>全国政协副主席王钦敏莅临国家会议中心考察，宏财网CEO刘刚博士全程陪同；</li>
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>国家发改委原中小企业司司长王远枝莅临宏财网指导工作；</li>
          <li><i class="fa fa-circle ft-white ft-12" aria-hidden="true"></i>芜湖镜湖区委常委、组织部长甘桂林为宏财网CEO刘刚颁发创业导师聘书。</li>
        </ul>
      </div>
    </div>  -->
    <div class="seat-div" id="fund"></div>
  </div>
  <!-- 资金安全 -->
  <div class="fund-safty slide">
    <h class="fund-title"><img src="/images/safe/fund-title.png" alt="资金安全"></h>
    <div class="fund-slide" id="fund-slide">
      <p class="active-tab">信息报备</p>
      <p>银行存管</p>
      <p class="margin-r-0">账户实名</p>
    </div>
    <div class="fund-slide-content position-re">
      <div id="unit1" class="info info1">
        <div class="tab pre position-ab"></div>
        <div class="tab nxt position-ab"></div>
        <div class="display-inbl icon"><img src="/images/safe/slide-img1.png" class="display-bl"></div>
        <div class="display-inbl ft-28 descrip"><div>宏财网积极落实监管政策，出借信息、项目信息等重要数据报送北京金融局、北京网贷协会进行信息备案。</div></div>
      </div>
      <div id="unit2" class="info info2" style="display: none;">
        <div class="tab pre position-ab"></div>
        <div class="tab nxt position-ab"></div>
        <div class="display-inbl icon position-re">
          <ul class="margin-r-63 position-ab firstUl">
            <li ><img src="/images/safe/num1.png" class="display-bl"></li>
            <li><img src="/images/safe/num2.png" class="display-bl"></li>
            <li><img src="/images/safe/num3.png" class="display-bl"></li>
            <li><img src="/images/safe/num4.png" class="display-bl"></li>
            <li><img src="/images/safe/num0.png" class="display-bl"></li>
            <li><img src="/images/safe/num1.png" class="display-bl"></li>
            <li><img src="/images/safe/num2.png" class="display-bl"></li>
          </ul>
          <ul class="margin-r-63 position-ab secondUl">
            <li><img src="/images/safe/num1.png" class="display-bl"></li>
            <li><img src="/images/safe/num2.png" class="display-bl"></li>
            <li><img src="/images/safe/num3.png" class="display-bl"></li>
            <li><img src="/images/safe/num0.png" class="display-bl"></li>
            <li ><img src="/images/safe/num2.png" class="display-bl"></li>
            <li><img src="/images/safe/num3.png" class="display-bl"></li>
            <li><img src="/images/safe/num4.png" class="display-bl"></li>
          </ul>
          <ul class="position-ab thirdUl">
            <li ><img src="/images/safe/num0.png" class="display-bl"></li>
            <li ><img src="/images/safe/num1.png" class="display-bl"></li>
            <li ><img src="/images/safe/num2.png" class="display-bl"></li>
            <li ><img src="/images/safe/num4.png" class="display-bl"></li>
            <li ><img src="/images/safe/num3.png" class="display-bl"></li>
            <li ><img src="/images/safe/num2.png" class="display-bl"></li>
            <li ><img src="/images/safe/num1.png" class="display-bl"></li>
          </ul>
        </div>
        <div class="display-inbl margin-t-30 ft-28 descrip"><div>宏财网接入海口联合农商银行资金存管系统，已分别开立用户交易资金账户和平台自有资金账户，实现了资金隔离和分账管理。</div></div>
      </div>
      <div id="unit3" class="info info3" style="display: none;">
        <div class="tab pre position-ab"></div>
        <div class="tab nxt position-ab"></div>
        <div class="display-inbl icon position-re"><img src="/images/safe/slide-img3.png" class="display-bl"><img src="/images/safe/highlight-line.png" class="position-ab line"></div>
        <div class="display-inbl ft-28 descrip" >
          <div>出借人在充值和提现前必须进行实名认证、手机绑定等多重安全认证，任何帐户资金的提现，只能转出到本人实名绑定的银行账户，完全保障出借人的资金转出安全。</div>
        </div>
      </div>
    </div>
    <div class="seat-div" id="strict-control"></div>
  </div>
  <!-- 风险控制 -->
  <div class="strict-control slide" id="">
    <h class="strict-title"><img src="/images/safe/strict-title.png" alt="风险控制"></h>
    <div class="strict-content">
      <div class="content-top">
        <a href="javascript:;" class="margin-l-0">
          <!-- <div class="flipper" style="-webkit-transition: .5s;-moz-transition: .5s;-o-transition: .5s;transition: .5s;transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-webkit-perspective: 1000;-moz-perspective: 1000;perspective: 1000;">
            <div class="front" style="-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;"> -->
          <div class="flipper">
              <div class="front">
              <i class="a-icon1"></i>
              <strong>严选合作机构</strong>
              <b>01</b>
            </div>
            <!-- <div class="back">
              宏财网与鑫融基、和兴律师事务所、富友支付、联动支付、中信银行等知名机构达成战略合作伙伴关系，共同构筑平台安全基石。
            </div> -->
          </div>
        </a>
        <a href="javascript:;">
          <div class="flipper">
            <div class="front">
              <i class="a-icon2"></i>
              <strong>甄选行业及资产</strong>
              <b>02</b>
            </div>
            <div class="back">
              平台资产均为朝阳行业中小企业借款项目，历史坏账率目前为0%。
            </div>
          </div>
        </a>
        <a href="javascript:;">
          <div class="flipper">
            <div class="front">
              <i class="a-icon3"></i>
              <strong>企业综合评估评审</strong>
              <b>03</b>
            </div>
            <div class="back">
              由资深金融从业者、专业律师等人员组成的专业评审委员会，以高标准审核项目风险，精确选择符合投资者需求的稳健项目。
            </div>
          </div>
        </a>
        <a href="javascript:;">
          <div class="flipper">
            <div class="front">
              <i class="a-icon4"></i>
              <strong>立体风控审查</strong>
              <b>04</b>
            </div>
            <div class="back">
              多重风控设计，在资产甄选、资产评估、风险评定、贷后管理、合规作业等每一个环节进行严格审核，避免风险事件的发生。
            </div>
          </div>
        </a>
      </div>
      <div class="strict-midlle">    
      </div>
      <div class="content-bottom">
        <a href="javascript:;" class="margin-l-0">
          <div class="flipper">
            <div class="front">
              <i class="a-icon5"></i>
              <strong>资产足值抵押</strong>
              <b>05</b>
            </div>
            <div class="back padding-t-15">
              宏财网专业人员会对项目抵押物进行严格的价值评估，确保其足额覆盖风险。在借款人无法及时还款时，宏财网将立即启动抵押物处置变现程序。
            </div>
          </div>
        </a>
        <a href="javascript:;">
          <div class="flipper">
            <div class="front">
              <i class="a-icon7"></i>
              <strong>贷后持续管理</strong>
              <b>07</b>
            </div>
            <div class="back">
              贷后管理部门持续性对合作机构、融资方进行监督，确保在第一时间发现风险隐患，及时采取措施，避免损失发生。
            </div>
          </div>
        </a>
        <a href="javascript:;">
          <div class="flipper">
            <div class="front">
              <i class="a-icon6"></i>
              <strong>风险保证金机制</strong>
              <b>06</b>
            </div>
            <div class="back">
              宏财网向借款企业收取一定比例的风险保证金，用以支付逾期或违约项目的本息。
            </div>
          </div>
        </a>
        <a href="javascript:;">
          <div class="flipper">
            <div class="front">
              <i class="a-icon8"></i>
              <strong>内控稽核管理</strong>
              <b>08</b>
            </div>
            <div class="back">
              对业务全流程实施内控稽核管理，确保执行人员按照公司风要求落实工作责任，全方位防卫风险。
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="seat-div" id="running-rules"></div>
  </div>
  <!-- 运营规范 -->
  <div class="running-rules slide" id="">
    <h class="running-title"><img src="/images/safe/running-title.png" alt="运营规范"></h>
    <div  class="running-rule-list">
      <ul class="clearfix">
        <li class="position-re">
          <div class="front position-ab"><img src="/images/safe/running-icon1.png" class="display-bl"><p class="ft-white">专业团队</p></div>
          <div class="back">
            <p>专业团队</p>
            <hr>
            <div class="content">
              刘刚，中国人民大学管理学博士，曾在国务院国资委下属的中国企业联合会担任管理创新处处长，现担任宏财网董事长，同时担任首都企业改革研究会常务理事、首都经济贸易大学MBA导师。
            </div>
            <div class="content">
              王斌，安徽大学金融专业毕业。2000年进入互联网行业，曾于搜狐、TOM网、猫扑、人人网、超图软件等公司长期负责品牌营销、市场公关。2014年进入互联网金融领域，作为市场合伙人加入金蛋理财，负责市场、运营。后任麦子金服旗下财神爷爷COO。曾为央视财经频道编著《对话》一书。任『CMO训练营』认证讲师。
            </div>
            <div class="content">
              张枫，北京航空航天大学硕士，拥有多年互联网金融领域技术研究、产品研发、团队管理等方面的经验，具备丰富的网站架构设计、并发设计以及互联网金融相关技术经验。
            </div>
          </div>
        </li>
        <li class="position-re">
          <div class="front position-ab"><img src="/images/safe/running-icon2.png" class="display-bl"><p class="ft-white padding-t-10">信息披露</p></div>
          <div class="back">
            <p>信息披露</p>
            <hr>
            <div class="content">
              宏财网的项目介绍、平台运营数据、合作伙伴等相关信息会在网站向出借人进行公示。
            </div>
            <div class="content">
              平台信息披露合规，相关项目信息及出借信息均上传存管系统并报送网贷协会，可登录北京网贷协会官网查询。
            </div>
            <div class="content">
              宏财网严格遵守相关法律规定，不做夸大、虚假宣传，不向出借人承诺平台担保，不向风险承受能力低的出借人推荐项目。
            </div>
          </div>
        </li>
        <li class="position-re margin-r-0">
          <div class="front position-ab"><img src="/images/safe/running-icon3.png" class="display-bl"><p class="ft-white padding-t-15">优质服务</p></div>
          <div class="back">
            <p>优质服务</p>
            <hr>
              <div class="content">
                宏财网在产品设计、风险控制、系统安全等方面均由经验丰富的专业团队引领。
              </div>
              <div class="content">
                宏财网精选行业优质资产为出借人提供期限灵活、回报稳健的优质项目。
              </div>
              <div class="content">
                运维人员7x24小时待命，响应紧急状况，确保运营安全。
              </div>
              <div class="content">
                客服团队高效、专业地答复客户疑问，帮助用户解决各类使用过程中遇到的疑问。
              </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="seat-div" id="technical-support"></div>
  </div>
  <!-- 技术保障 -->
  <div class="technical-support slide" id="">
    <h class="technical-title"><img src="/images/safe/technical-title.png" alt="技术保障"></h>
    <div class="technical-content">
      <!-- 信息保密 -->
      <div class="information-security">
        <h4 class="padding-l-40">信息保密</h4>
        <div class="content">
          <p class="margin-b-0">采用SSL256位数据传输加密保护技术，让客户在进行个人账户管理、充值等涉及敏感信息的操作时，信息自动加密，确保信息的安全传输全。</p>
        </div>
      </div>
      <!-- 数据安全 -->
      <div class="data-security">
        <h4 class="padding-l-40">数据安全</h4>
        <div class="content">
          <p class="margin-b-0">
          宏财网采用两地三中心的容灾备份方案，最大程度的保障极限情况下的数据安全。</p>
        </div>
      </div>
      <!-- 系统保障 -->
      <div class="system-security">
        <h4 class="padding-l-5">系统保障</h4>
        <div class="content">
          <p class="margin-b-0">
          采用WAF防火墙，对各类请求进行检测和验证，确保其安全性与合法性，对非法的请求予以实时阻断，对站点进行有效防护。 通过硬件防火墙隔离数据库，有效防止病毒及非法入侵。</p>
        </div>
      </div>
    </div>
  </div>
</div>
