<div id="service" class="container-fluid">
  <div class="bottom_tools">
    <!-- <div class="calculator"></div> -->
    <a id="feedback_icon" href="javascript:;" title="意见反馈" ng-click="feedback()"></a>
    <button type="button" class="btn btn-lg calculator" data-placement="left" data-template="views/modal/popover-calculator.html" data-animation="am-flip-x" bs-popover ng-click="changeArrow()"></button>

    <div class="qr_tool" toggle-fade></div>
    <img class="qr_img" src="images/wechat-qrcode.jpg" width="173" height='173'>
    <!-- <a id="feedback" href="javascript:;" title="在线客服" tabindex="1" focus-blur></a>
    <ul class="qqBox">
      <li class="qqBox-header ft-16 margin-b-30">
        <i class="fa fa-user"></i><i class="fa fa-comment-o"></i>&nbsp;&nbsp;在线客服
      </li> -->
      <!-- <li class="margin-t-30">
        <a target="_self" href="tencent://message/?uin=2981432700&Site=qq&Menu=yes">

         <span>
           <img border="0" src="/images/qq_online.gif" alt="客服一" />&nbsp;客服一
         </span>
       </a>
      </li> -->
      <!-- <span ng-if="online[0] === 0" >
           <img border="0" src="/images/qq_offline.gif" alt="客服一" />&nbsp;客服一
         </span>
         <span  ng-if="online[0] === 1">
           <img border="0" src="/images/qq_online.gif" alt="客服一" />&nbsp;客服一
         </span> -->
      <!-- <<li class="margin-b-30">
        <a target="_self" href="tencent://message/?uin=2880787006&Site=qq&Menu=yes">
          span ng-if="online[1] === 0" >
            <img border="0" src="/images/qq_offline.gif" alt="客服二" />&nbsp;客服二
          </span>
          <span  ng-if="online[1] === 1">
            <img border="0" src="/images/qq_online.gif" alt="客服二" />&nbsp;客服二
          </span>
          <span>
            <img border="0" src="/images/qq_online.gif" alt="客服一" />&nbsp;客服一
          </span>
        </a>
      </li>
      <li class="margin-b-30">
        <a target="_self" href="tencent://message/?uin=2880787009&Site=qq&Menu=yes"> -->
          <!-- <span ng-if="online[2] === 0" >
            <img border="0" src="/images/qq_offline.gif" alt="客服三" />&nbsp;客服三
          </span>
          <span  ng-if="online[2] === 1">
            <img border="0" src="/images/qq_online.gif" alt="客服三" />&nbsp;客服三
          </span>
          <span>
            <img border="0" src="/images/qq_online.gif" alt="客服二" />&nbsp;客服二
          </span>
        </a>
      </li>
    </ul> -->
    <!-- <a id="weiBo" target="_blank" href="http://weibo.com/u/5611368371" title="微博"></a> -->
    <a id="scrollUp" href="javascript:;" title="飞回顶部"></a>
  </div>
</div>
