<div ng-switch="page" ng-controller="SuningSuccessCtrl">
  <div class="container bg">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="suning-success-page">
            <div class="success-re">
              <div  align="center">
                <p> <img src="images/register-success.png" align="center"></p>
              </div>
              <div class="">
                <p class="ft-40 text-center ">{{sMessage}}</p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
               <div align="center">
                <img src="images/wx_suning.jpg" alt="" align="center" width="200px" height="200px">
              </div>
              <div class="">
                  <p class="text-center ft-18 ft-bold">扫一扫，即可参与苏宁"818全民发烧节"</p>
                  <p class="font-red-suning text-center ft-18 ft-bold">18亿巨额优惠，等你来拿!</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

