<div class="container bg">
  <div class="agreement-area row introduction-height">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="success-page col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
          <div class="col-lg-2 col-md-2">
            <img src="images/register-success.png">
          </div>
          <div class="success-re col-lg-9 col-md-9">
            <div class="col-lg-12 col-md-12">
              <p ng-if="pay_company === 'cgt'" class="margin-t-20"><strong>您即将进入银行资金存管系统，请在银行存管系统页面完成剩余操作！</strong>
              </p>
              <p ng-if="pay_company === 'yeepay'" class="margin-t-20"><strong>您即将进入易宝，请在易宝页面完成剩余操作！</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
